backups/DVGzYr6sZXJEv5v7_COI-Expiration-Tracking_20260526T144449Z.json
{
    "updatedAt": "2026-04-30T12:56:31.000Z",
    "createdAt": "2026-04-29T00:27:46.107Z",
    "id": "DVGzYr6sZXJEv5v7",
    "name": "Altmark \u2014 COI Expiration Tracking",
    "description": null,
    "active": false,
    "isArchived": true,
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 7
                        }
                    ]
                }
            },
            "id": "6b2ddf29-dd29-4ca4-97dd-a433c895418b",
            "name": "Daily 7AM ET",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -1104,
                48
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "coi-manual-run",
                "options": {}
            },
            "id": "e56f725b-20dd-4ab3-b6c4-42cd72c196ca",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -1104,
                208
            ],
            "webhookId": "82f715d0-270d-4cfc-8249-965234bf3f8a"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "17ZHhmjSoUg7KKBD4jnvzlcH88lqlyEHCORTzBTpJISY",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "COI Policy Data",
                    "mode": "name"
                },
                "options": {
                    "dataLocationOnSheet": {
                        "values": {
                            "rangeDefinition": "specifyRange",
                            "headerRow": 2,
                            "firstDataRow": 4
                        }
                    }
                }
            },
            "id": "fc6bba36-f014-4975-bf77-fbddd74ea645",
            "name": "Read COI Policy Data",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -880,
                112
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "qnmyL4iPKr6G2c3A",
                    "name": "Google Sheets Credential 1"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "17ZHhmjSoUg7KKBD4jnvzlcH88lqlyEHCORTzBTpJISY",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "COI Alert Log",
                    "mode": "name"
                },
                "options": {}
            },
            "id": "03189b37-5224-4733-8bec-3b1d99b6cb8f",
            "name": "Read Alert Log",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -656,
                112
            ],
            "executeOnce": true,
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "qnmyL4iPKr6G2c3A",
                    "name": "Google Sheets Credential 1"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// Classify Tenants \u2014 canonical data source for the whole workflow.\n// Reads COI Policy Data + Alert Log, decides action per tenant, builds\n// pre-rendered email subject + body ready to hand to the Gmail node.\n\n// ========================================================================\n//  SAFETY FLAGS \u2014 DEFAULT STATE IS SAFE, BOTH MUST BE FLIPPED FOR PRODUCTION\n// ========================================================================\n//  DRY_RUN = true (default):\n//    - Every tenant email routes to DRY_RUN_REDIRECT (not real tenant)\n//    - Subject prefixed \"[DRY RUN -> original@tenant.com]\"\n//    - Body has \"*** DRY RUN ***\" banner\n//    - Summary routes to DRY_RUN_REDIRECT\n//    - Alert Log IS written, with `source` suffixed `_dry_run` so test\n//      rows are easy to find and clear before going live\n//  DRY_RUN = false:\n//    - Tenant emails go to the real address from the spreadsheet\n//    - Alert Log `source` is plain `scheduled` / `backlog` (no suffix)\n//\n//  ALLOW_PRODUCTION_CC = false (default):\n//    - CC on tenant emails is empty (Yair/Matt never copied)\n//    - Summary email goes to DRY_RUN_REDIRECT (not yair@/matt@)\n//  ALLOW_PRODUCTION_CC = true:\n//    - CC every tenant email to CC_PRODUCTION (Yair/Matt copied)\n//    - Summary email goes to yair@/matt@\n//    - Works regardless of DRY_RUN: lets Yair/Matt review dry-run drafts\n//      before go-live, and receive live copies after go-live.\n//\n//  The two flags are now orthogonal:\n//    DRY_RUN              controls whether tenant emails reach real tenants\n//    ALLOW_PRODUCTION_CC  controls whether Yair/Matt receive CC + summary\n//\n//  Go-live: flip DRY_RUN to false. ALLOW_PRODUCTION_CC can be flipped at\n//  any time independently.\nconst DRY_RUN = true;\nconst ALLOW_PRODUCTION_CC = true;\nconst DRY_RUN_REDIRECT = 'jtsomwaru@gmail.com';\n// ========================================================================\n\nconst CC_PRODUCTION = 'yair@altmarkgroup.com,matt@altmarkgroup.com';\nconst SUMMARY_TO_PRODUCTION = 'yair@altmarkgroup.com,matt@altmarkgroup.com';\n\n// ========================================================================\n//  EMAIL TEMPLATE CONFIG \u2014 edit these to change content.\n// ========================================================================\n//  CERT_HOLDER_MAILING_ADDRESS: address that goes under the entity name in\n//  the \"Certificate Holder listed as:\" block of Initial Request emails.\n//  Confirmed with Yair on 2026-04-27 as Altmark's central intake address.\n//  If per-entity mailing addresses are ever needed, add a Mailing Address\n//  column to COI Policy Data and switch this to a per-row read.\nconst CERT_HOLDER_MAILING_ADDRESS = '2447 Third Ave, Bronx, NY 10451';\nconst COI_INTAKE_EMAIL = 'insurance@altmarkgroup.com';\n// ========================================================================\n\nconst policyRows = $('Read COI Policy Data').all();\nconst logRows = $('Read Alert Log').all();\n\nconst licenseEntities = [\n  'Markland 486 LLC',\n  'Markland 713 LLC',\n  'Bronx Canvas LLC',\n  'Bronx Canvas Canal LLC'\n];\n\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\nconst msPerDay = 1000 * 60 * 60 * 24;\nconst pad = function (n) { return n < 10 ? '0' + n : '' + n; };\nconst todayISO = today.getFullYear() + '-' + pad(today.getMonth() + 1) + '-' + pad(today.getDate());\n\n// Parse YYYY-MM-DD as LOCAL midnight (avoids UTC off-by-one in ET timezone).\nfunction parseLocalDate(raw) {\n  if (raw == null || raw === '') return null;\n  const s = String(raw).trim();\n  const m = s.match(/^(\\d{4})-(\\d{1,2})-(\\d{1,2})/);\n  if (m) return new Date(parseInt(m[1], 10), parseInt(m[2], 10) - 1, parseInt(m[3], 10));\n  const d = new Date(s);\n  return isNaN(d.getTime()) ? null : d;\n}\n\nconst logByKey = {};\nfor (const row of logRows) {\n  const d = row.json || {};\n  if (!d.tenant_name) continue;\n  const key = (d.tenant_name || '') + '|' + (d.entity_name || '');\n  if (!logByKey[key]) logByKey[key] = [];\n  logByKey[key].push({\n    stage: d.escalation_stage,\n    date_sent: d.date_sent,\n    source: d.source,\n    expiration_date: d.expiration_date\n  });\n}\n\nfunction fmtExpDate(d) {\n  const months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\n  return months[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear();\n}\n\nfunction htmlEscape(s) {\n  if (s == null) return '';\n  return String(s)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\n\nfunction buildSignature(entityName) {\n  const safeEntity = htmlEscape(entityName || 'The Altmark Group');\n  return '<p>Thank you,<br>' + safeEntity + '</p>';\n}\n\nfunction renderTemplate(stage, ctx) {\n  const addrRaw = ctx.property_address || '';\n  const unitRaw = ctx.unit || 'Single Tenant';\n  const addr = htmlEscape(addrRaw);\n  const unit = htmlEscape(unitRaw);\n  const tenant = htmlEscape(ctx.tenant_name);\n  const entity = htmlEscape(ctx.entity_name);\n  const mailingAddr = htmlEscape(CERT_HOLDER_MAILING_ADDRESS);\n  const intakeEmail = htmlEscape(COI_INTAKE_EMAIL);\n  const intakeMailto = '<a href=\"mailto:' + intakeEmail + '\">' + intakeEmail + '</a>';\n  const leaseLic = htmlEscape(ctx.lease_or_license);\n\n  if (stage === 'initial_request') {\n    return {\n      subject: 'Updated Certificate of Insurance Request for ' + addrRaw,\n      body:\n        '<p>Hi ' + tenant + ',</p>' +\n        '<p>I hope you are doing well.</p>' +\n        '<p>As part of our annual records review for ' + addr + ', we are updating our tenant insurance files and noticed that we do not currently have a valid Certificate of Insurance on file for your space.</p>' +\n        '<p>Please send us an updated Certificate of Insurance at your earliest convenience.</p>' +\n        '<p>The certificate should include:</p>' +\n        '<ul>' +\n          '<li>General Liability coverage</li>' +\n          '<li>Property address listed as: ' + addr + '</li>' +\n          '<li>Landlord / ownership entity listed as Additional Insured</li>' +\n          '<li>Certificate Holder listed as:' +\n            '<div style=\"margin-top:8px;margin-left:0;\">' +\n              entity + '<br>' +\n              mailingAddr +\n            '</div>' +\n          '</li>' +\n        '</ul>' +\n        '<p>If your insurance agent would prefer to send it directly, they can email it to ' + intakeMailto + '.</p>' +\n        '<p>Please provide the updated certificate as soon as possible.</p>' +\n        '<p>If you have already sent this recently, please disregard this message or let us know so we can double check our records.</p>' +\n        buildSignature(ctx.entity_name)\n    };\n  }\n  if (stage === 'second_followup') {\n    return {\n      subject: 'Second Request \\u2013 Updated Certificate of Insurance Needed for ' + addrRaw,\n      body:\n        '<p>Hi ' + tenant + ',</p>' +\n        '<p>I wanted to follow up regarding our prior request for an updated Certificate of Insurance for your space at ' + addr + '.</p>' +\n        '<p>At this time, we still do not have a current certificate on file.</p>' +\n        '<p>Please send the updated Certificate of Insurance to ' + intakeMailto + ' as soon as possible.</p>' +\n        '<p>If your insurance is handled by a broker or agent, feel free to forward this email to them and copy us.</p>' +\n        '<p>Please provide the updated certificate as soon as possible.</p>' +\n        buildSignature(ctx.entity_name)\n    };\n  }\n  if (stage === 'final_notice') {\n    return {\n      subject: 'Urgent Notice',\n      body:\n        '<p>Hi ' + tenant + ',</p>' +\n        '<p>We are again following up regarding the updated Certificate of Insurance required for your tenancy at ' + addr + '.</p>' +\n        '<p>Our records still show that we have not received a valid Certificate of Insurance for your space.</p>' +\n        '<p>Please provide the updated certificate immediately. Failure to maintain and provide the required insurance documentation may constitute a ' + leaseLic + ' compliance issue.</p>' +\n        '<p>Please send the certificate to ' + intakeMailto + ' as soon as possible.</p>' +\n        buildSignature(ctx.entity_name)\n    };\n  }\n  return { subject: '', body: '' };\n}\n\nconst results = [];\n\nfor (const row of policyRows) {\n  const d = row.json || {};\n  const entityName = (d['Entity Name'] || '').toString().trim();\n  const propertyAddress = (d['Property Address'] || '').toString().trim();\n  const unit = (d['Unit'] || '').toString().trim();\n  const tenantName = (d['Tenant Name'] || '').toString().trim();\n  const email1 = (d['Tenant Email #1'] || '').toString().trim();\n  const email2 = (d['Tenant Email #2'] || '').toString().trim();\n  const certReceived = (d['Certificate Received'] || '').toString().trim();\n  const expirationRaw = d['COI Expiration Date'];\n\n  const base = {\n    entity_name: entityName,\n    property_address: propertyAddress,\n    unit: unit,\n    tenant_name: tenantName,\n    tenant_email_1: email1,\n    tenant_email_2: email2,\n    certificate_received: certReceived,\n    expiration_raw: expirationRaw == null ? '' : String(expirationRaw),\n    today: todayISO\n  };\n\n  if (certReceived === 'Vacant' || certReceived === 'Not Required') {\n    results.push(Object.assign({}, base, { action: 'skip_vacant', reason: 'certificate_received=' + certReceived }));\n    continue;\n  }\n  if (!tenantName || tenantName === 'Vacant') {\n    results.push(Object.assign({}, base, { action: 'skip_vacant', reason: 'tenant_name_blank_or_vacant' }));\n    continue;\n  }\n  if (!email1 && !email2) {\n    results.push(Object.assign({}, base, { action: 'skip_no_email' }));\n    continue;\n  }\n\n  let expDate = parseLocalDate(expirationRaw);\n  const minDate = new Date(2020, 0, 1);\n  if (!expDate || expDate < minDate) {\n    results.push(Object.assign({}, base, { action: 'skip_bad_date', expiration_display: base.expiration_raw }));\n    continue;\n  }\n\n  expDate.setHours(0, 0, 0, 0);\n  const daysUntilExpiration = Math.round((expDate.getTime() - today.getTime()) / msPerDay);\n  const leaseOrLicense = licenseEntities.indexOf(entityName) !== -1 ? 'license agreement' : 'lease';\n  const sendTo = email1 || email2;\n  const expirationDisplay = expDate.getFullYear() + '-' + pad(expDate.getMonth() + 1) + '-' + pad(expDate.getDate());\n  const expirationNice = fmtExpDate(expDate);\n\n  const coreFields = Object.assign({}, base, {\n    days_until_expiration: daysUntilExpiration,\n    lease_or_license: leaseOrLicense,\n    send_to: sendTo,\n    expiration_display: expirationDisplay,\n    expiration_nice: expirationNice\n  });\n\n  const key = tenantName + '|' + entityName;\n  const logHistory = logByKey[key] || [];\n\n  let outcome;\n\n  if (daysUntilExpiration === 0) {\n    // Day 0 \u2014 expiration today. No tenant email; internal alert only.\n    outcome = { action: 'escalation_needed', stage: 'escalation_needed', days_since_final_notice: 0, reason: 'expires_today' };\n  } else {\n    // ----------------------------------------------------------------\n    //  Per-cycle log filter\n    // ----------------------------------------------------------------\n    //  Only consider log entries whose expiration_date matches the\n    //  tenant's current expiration_date. When a tenant renews and a new\n    //  expiration is entered in COI Policy Data, prior-cycle log rows\n    //  fall out of cycleHistory and the cascade restarts cleanly.\n    const cycleHistory = logHistory.filter(function (e) {\n      const d = parseLocalDate(e.expiration_date);\n      if (!d) return false;\n      const k = d.getFullYear() + '-' + pad(d.getMonth() + 1) + '-' + pad(d.getDate());\n      return k === expirationDisplay;\n    });\n\n    function latestEntry(stage) {\n      let latest = null;\n      let latestDate = null;\n      for (const e of cycleHistory) {\n        if (e.stage !== stage) continue;\n        const d = parseLocalDate(e.date_sent);\n        if (!d) continue;\n        if (!latestDate || d > latestDate) { latest = e; latestDate = d; }\n      }\n      return latest;\n    }\n    function daysSince(entry) {\n      const d = parseLocalDate(entry.date_sent);\n      if (!d) return 0;\n      d.setHours(0, 0, 0, 0);\n      return Math.round((today.getTime() - d.getTime()) / msPerDay);\n    }\n\n    const initialEntry = latestEntry('initial_request');\n    const followupEntry = latestEntry('second_followup');\n    const finalEntry = latestEntry('final_notice');\n    const sourceLabel = daysUntilExpiration > 0 ? 'scheduled' : 'backlog';\n\n    // ----------------------------------------------------------------\n    //  Cascade state machine\n    // ----------------------------------------------------------------\n    //  Each transition gated on BOTH a time-since-last-email check AND a\n    //  deadline-proximity check. Time gate prevents back-to-back sends;\n    //  deadline gate keeps the original 60/30/7 cadence intent.\n    //\n    //    nothing  -> initial_request   : daysUntilExpiration <= 60\n    //    initial  -> second_followup   : daysSinceInitial >= 14  AND  daysUntilExpiration <= 30\n    //    followup -> final_notice      : daysSinceFollowup >= 7  AND  daysUntilExpiration <= 7\n    //    final    -> escalation_needed : daysSinceFinal >= 7\n    //\n    //  Always advances at most one stage per run, in order \u2014 a tenant\n    //  never receives \"Second Request\" without first receiving an\n    //  initial_request, so the body language stays coherent.\n    if (finalEntry) {\n      const daysSinceFinal = daysSince(finalEntry);\n      if (daysSinceFinal >= 7) {\n        outcome = { action: 'escalation_needed', stage: 'escalation_needed', days_since_final_notice: daysSinceFinal };\n      } else {\n        outcome = { action: 'no_action', reason: 'waiting_after_final_notice' };\n      }\n    } else if (followupEntry) {\n      const daysSinceFollowup = daysSince(followupEntry);\n      if (daysSinceFollowup >= 7 && daysUntilExpiration <= 7) {\n        outcome = { action: 'send_email', stage: 'final_notice', source: sourceLabel };\n      } else {\n        outcome = { action: 'no_action', reason: 'waiting_for_final_notice' };\n      }\n    } else if (initialEntry) {\n      const daysSinceInitial = daysSince(initialEntry);\n      // Faster cadence once expired (per Yair/Matt 2026-04-28): 7 days from\n      // initial to second_followup if the COI is already past expiration.\n      // Tenants whose COI is still valid keep the 14-day gap so the\n      // scheduled-path cadence (initial at day 60, followup at day 30)\n      // remains intact.\n      const initialGate = daysUntilExpiration <= 0 ? 7 : 14;\n      if (daysSinceInitial >= initialGate && daysUntilExpiration <= 30) {\n        outcome = { action: 'send_email', stage: 'second_followup', source: sourceLabel };\n      } else {\n        outcome = { action: 'no_action', reason: 'waiting_for_second_followup' };\n      }\n    } else {\n      if (daysUntilExpiration <= 60) {\n        outcome = { action: 'send_email', stage: 'initial_request', source: sourceLabel };\n      } else {\n        outcome = { action: 'compliant' };\n      }\n    }\n  }\n\n  const merged = Object.assign({}, coreFields, outcome);\n  merged.is_dry_run = DRY_RUN;\n  merged.allow_production_cc = ALLOW_PRODUCTION_CC;\n\n  if (merged.action === 'send_email') {\n    const tpl = renderTemplate(merged.stage, merged);\n    const originalTo = merged.send_to;\n    // CC depends only on ALLOW_PRODUCTION_CC and is the same in both modes.\n    merged.cc_list = ALLOW_PRODUCTION_CC ? CC_PRODUCTION : '';\n    if (DRY_RUN) {\n      merged.send_to = DRY_RUN_REDIRECT;\n      merged.email_subject = '[DRY RUN -> ' + originalTo + '] ' + tpl.subject;\n      merged.email_body =\n        '<div style=\"background:#fff3cd;border-left:4px solid #ffc107;padding:12px;margin-bottom:16px;font-family:monospace;\">' +\n          '<strong>*** DRY RUN MODE ***</strong><br>' +\n          'This email would have been sent to <strong>' + htmlEscape(originalTo) + '</strong>.<br>' +\n          'Flip <code>DRY_RUN</code> to <code>false</code> in Classify Tenants to go live.' +\n        '</div>' +\n        tpl.body;\n    } else {\n      merged.email_subject = tpl.subject;\n      merged.email_body = tpl.body;\n    }\n  }\n\n  results.push(merged);\n}\n\nreturn results.map(function (r) { return { json: r }; });\n"
            },
            "id": "01e65326-6be2-401d-aafc-1d1488a4f9c7",
            "name": "Classify Tenants",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -432,
                112
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.action }}",
                            "rightValue": "send_email",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    }
                },
                "options": {}
            },
            "id": "25b56336-5019-4eae-9347-35b0d7137880",
            "name": "IF send_email",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -224,
                112
            ]
        },
        {
            "parameters": {
                "sendTo": "={{ $json.send_to }}",
                "subject": "={{ $json.email_subject }}",
                "message": "={{ $json.email_body }}",
                "options": {
                    "appendAttribution": false,
                    "ccList": "={{ $json.cc_list }}",
                    "senderName": "={{ $json.entity_name }}"
                }
            },
            "id": "da9fd40e-3aec-4d3e-a411-5f6a9b5881a4",
            "name": "Send Tenant Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                0,
                0
            ],
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 5000,
            "webhookId": "ae77bca4-07c4-4158-970f-29977f0c15f1",
            "credentials": {
                "gmailOAuth2": {
                    "id": "1KvTTeWhttAclTVM",
                    "name": "Altmark Insurance Gmail"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// Prep Log Row \u2014 builds rows for COI Alert Log, one per SUCCESSFUL Gmail send.\n// Must run in \"Run Once for All Items\" mode (returns an array).\n//\n// Send Tenant Email runs with onError=continueRegularOutput, so a failed\n// send (bad address, transient Gmail error after retries) emits an error\n// item alongside the successful sends. We MUST skip those failed items\n// when writing to Alert Log \u2014 otherwise the failed tenant gets marked\n// \"emailed\" and the next run won't retry, missing the email entirely.\n//\n// Gmail success items have json.id set to the message ID. Errored items\n// don't, so we filter on that.\n//\n// In DRY_RUN mode the redirect email IS a real send, so the row IS logged\n// \u2014 but `source` gets a `_dry_run` suffix so test rows are easy to find\n// and clear before going live. Flip DRY_RUN to false to drop the suffix.\n\nconst classified = $('Classify Tenants').all();\nconst candidates = classified.filter(function (r) {\n  return r.json && r.json.action === 'send_email';\n});\n\nconst gmailOutputs = $input.all();\nconst n = Math.min(gmailOutputs.length, candidates.length);\n\nconst rows = [];\nfor (let i = 0; i < n; i++) {\n  const gmailOut = gmailOutputs[i];\n  // Skip errored sends \u2014 only log items that actually went out.\n  if (!gmailOut || !gmailOut.json || !gmailOut.json.id) continue;\n  const c = candidates[i].json;\n  const baseSource = c.source || '';\n  const source = c.is_dry_run === true ? baseSource + '_dry_run' : baseSource;\n  rows.push({\n    json: {\n      tenant_name: c.tenant_name || '',\n      entity_name: c.entity_name || '',\n      property_address: c.property_address || '',\n      unit: c.unit || '',\n      escalation_stage: c.stage || '',\n      date_sent: c.today || '',\n      expiration_date: c.expiration_display || '',\n      source: source\n    }\n  });\n}\n\nreturn rows;\n"
            },
            "id": "1472bb34-fcd6-4019-b1bf-95a0bbf79a2a",
            "name": "Prep Log Row",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                0
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "17ZHhmjSoUg7KKBD4jnvzlcH88lqlyEHCORTzBTpJISY",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "COI Alert Log",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {},
                    "matchingColumns": []
                },
                "options": {}
            },
            "id": "cb1981f4-bec3-40c6-bd19-a5aeef58a13c",
            "name": "Append to Alert Log",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                448,
                0
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "qnmyL4iPKr6G2c3A",
                    "name": "Google Sheets Credential 1"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// Build Daily Summary \u2014 aggregates ALL classified tenants into the summary email body.\n// executeOnce=true on this node, so it runs regardless of input count.\n// Outputs HTML for proper rendering in Gmail.\nconst all = $('Classify Tenants').all();\nconst rows = all.map(function (r) { return r.json; });\n\nconst today = new Date();\nconst todayNice = today.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\n\n// Use .some() \u2014 non-skip rows have these flags from the same constants, but\n// skip rows do not, so rows[0] alone is unreliable when row 0 is a skip.\nconst dryRun = rows.some(function (r) { return r.is_dry_run === true; });\nconst allowProductionCc = rows.some(function (r) { return r.allow_production_cc === true; });\nconst summaryTo = allowProductionCc\n  ? 'yair@altmarkgroup.com,matt@altmarkgroup.com'\n  : 'jtsomwaru@gmail.com';\n\nfunction htmlEscape(s) {\n  if (s == null) return '';\n  return String(s)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\nfunction esc(s) { return htmlEscape(s || ''); }\n\nconst emailsSentToday = rows.filter(function (r) { return r.action === 'send_email'; });\nconst escalationNeeded = rows.filter(function (r) { return r.action === 'escalation_needed'; });\nconst expiringSoon = rows.filter(function (r) {\n  return r.action === 'compliant' && typeof r.days_until_expiration === 'number' && r.days_until_expiration <= 7 && r.days_until_expiration > 0;\n});\nconst expiredAll = rows.filter(function (r) { return typeof r.days_until_expiration === 'number' && r.days_until_expiration <= 0; });\nconst expiredInEscalation = rows.filter(function (r) {\n  return typeof r.days_until_expiration === 'number' && r.days_until_expiration <= 0 && (r.action === 'send_email' || (r.action === 'no_action' && (r.reason || '').indexOf('waiting_next_escalation') === 0));\n});\nconst expiredAwaitingPersonal = escalationNeeded;\nconst noEmail = rows.filter(function (r) { return r.action === 'skip_no_email'; });\nconst badDate = rows.filter(function (r) { return r.action === 'skip_bad_date'; });\nconst compliant = rows.filter(function (r) {\n  return r.action === 'compliant' || (r.action === 'no_action' && typeof r.days_until_expiration === 'number' && r.days_until_expiration > 0);\n});\n\nconst stageLabel = {\n  initial_request: 'Initial',\n  second_followup: 'Follow-Up',\n  final_notice: 'Final'\n};\n\nconst blocks = [];\n\nif (dryRun) {\n  blocks.push(\n    '<div style=\"background:#fff3cd;border-left:4px solid #ffc107;padding:12px;margin-bottom:16px;\">' +\n      '<strong>*** DRY RUN MODE ***</strong><br>' +\n      'Tenant emails were redirected to JT, not sent to real tenants. Alert Log rows were written with <code>source</code> ending in <code>_dry_run</code> \u2014 clear those rows before going live.<br>' +\n      'Flip <code>DRY_RUN</code> to <code>false</code> in Classify Tenants to send to real tenants.' +\n    '</div>'\n  );\n} else if (!allowProductionCc) {\n  blocks.push(\n    '<div style=\"background:#d1ecf1;border-left:4px solid #17a2b8;padding:12px;margin-bottom:16px;\">' +\n      '<strong>*** TEST MODE ***</strong><br>' +\n      'Live sends happened. CC to Yair / Matt is suppressed and this summary routes to JT.<br>' +\n      'Flip <code>ALLOW_PRODUCTION_CC</code> to <code>true</code> in Classify Tenants to include Yair / Matt.' +\n    '</div>'\n  );\n}\n\nfunction section(title, html) {\n  return '<h3 style=\"margin-top:24px;margin-bottom:8px;border-bottom:1px solid #ccc;padding-bottom:4px;\">' + title + '</h3>' + html;\n}\n\n// Emails sent today\n{\n  let html = '<p>' + emailsSentToday.length + ' outreach emails sent.</p>';\n  if (emailsSentToday.length > 0) {\n    html += '<ul>';\n    for (const r of emailsSentToday) {\n      html += '<li>' + esc(r.tenant_name) + ' &nbsp;|&nbsp; ' + esc(r.property_address) + ' &nbsp;|&nbsp; ' + esc(r.unit || 'Single Tenant') + ' &nbsp;|&nbsp; <strong>' + esc(stageLabel[r.stage] || r.stage) + '</strong> &nbsp;|&nbsp; expires ' + esc(r.expiration_display) + '</li>';\n    }\n    html += '</ul>';\n  }\n  blocks.push(section('Emails Sent Today', html));\n}\n\n// Overdue \u2014 personal outreach\n{\n  let html = '<p>' + expiredAwaitingPersonal.length + ' tenants have completed all 3 email stages with no response.</p>';\n  if (expiredAwaitingPersonal.length > 0) {\n    html += '<ul>';\n    for (const r of expiredAwaitingPersonal) {\n      html += '<li>' + esc(r.tenant_name) + ' &nbsp;|&nbsp; ' + esc(r.property_address) + ' &nbsp;|&nbsp; ' + esc(r.unit || 'Single Tenant') + ' &nbsp;|&nbsp; ' + r.days_since_final_notice + ' days since Final Notice &nbsp;|&nbsp; expired ' + esc(r.expiration_display) + '</li>';\n    }\n    html += '</ul>';\n  }\n  blocks.push(section('Overdue \u2014 Personal Outreach Needed', html));\n}\n\n// Expiring soon\n{\n  let html = '';\n  if (expiringSoon.length === 0) {\n    html = '<p>None.</p>';\n  } else {\n    html = '<ul>';\n    for (const r of expiringSoon) {\n      html += '<li>' + esc(r.tenant_name) + ' &nbsp;|&nbsp; ' + esc(r.property_address) + ' &nbsp;|&nbsp; ' + esc(r.unit || 'Single Tenant') + ' &nbsp;|&nbsp; ' + r.days_until_expiration + ' days until expiration</li>';\n    }\n    html += '</ul>';\n  }\n  blocks.push(section('Expiring Soon (next 7 days)', html));\n}\n\n// Currently expired\n{\n  let html = '<ul>' +\n    '<li>' + expiredAll.length + ' tenants with expired Certificates of Insurance</li>' +\n    '<li>' + expiredInEscalation.length + ' in escalation sequence</li>' +\n    '<li>' + expiredAwaitingPersonal.length + ' awaiting personal outreach</li>' +\n    '</ul>';\n  blocks.push(section('Currently Expired', html));\n}\n\n// Data issues\n{\n  let html = '<p>' + noEmail.length + ' tenants with no email on file \u2014 manual follow-up needed.</p>';\n  if (noEmail.length > 0) {\n    html += '<ul>';\n    for (const r of noEmail) {\n      html += '<li>' + esc(r.tenant_name || '(blank)') + ' &nbsp;|&nbsp; ' + esc(r.property_address) + ' &nbsp;|&nbsp; ' + esc(r.unit || 'Single Tenant') + '</li>';\n    }\n    html += '</ul>';\n  }\n  html += '<p>' + badDate.length + ' rows with invalid dates \u2014 needs correction in spreadsheet.</p>';\n  if (badDate.length > 0) {\n    html += '<ul>';\n    for (const r of badDate) {\n      html += '<li>' + esc(r.tenant_name || '(blank)') + ' &nbsp;|&nbsp; ' + esc(r.property_address) + ' &nbsp;|&nbsp; ' + esc(r.unit || 'Single Tenant') + ' &nbsp;|&nbsp; date shown: ' + esc(r.expiration_display || '(blank)') + '</li>';\n    }\n    html += '</ul>';\n  }\n  blocks.push(section('Data Issues', html));\n}\n\n// Certificate Status Summary (replaces the old \"Compliant\" section per\n// Yair/Matt 2026-04-28: they want a percentage breakdown of all certificate\n// statuses, not just a compliant count).\nconst statusCounts = {\n  'Compliant': 0,\n  'Expired': 0,\n  'Missing Email': 0,\n  'Not Required': 0,\n  'Vacant': 0,\n  'Data Issue': 0\n};\nfor (const r of rows) {\n  if (r.action === 'skip_vacant') {\n    if ((r.reason || '').indexOf('Not Required') !== -1) statusCounts['Not Required']++;\n    else statusCounts['Vacant']++;\n  } else if (r.action === 'skip_no_email') {\n    statusCounts['Missing Email']++;\n  } else if (r.action === 'skip_bad_date') {\n    statusCounts['Data Issue']++;\n  } else if (typeof r.days_until_expiration === 'number' && r.days_until_expiration > 0) {\n    statusCounts['Compliant']++;\n  } else {\n    statusCounts['Expired']++;\n  }\n}\nconst totalCount = rows.length;\nfunction pct(n) { return totalCount > 0 ? (n / totalCount * 100).toFixed(1) : '0.0'; }\nconst statusRows = [\n  { label: 'Compliant',     count: statusCounts['Compliant'],     bg: '#e8f5e9', fg: '#2e7d32', bold: true },\n  { label: 'Expired',       count: statusCounts['Expired'],       bg: '#ffebee', fg: '#c62828', bold: true },\n  { label: 'Missing Email', count: statusCounts['Missing Email'], bg: '#fff8e1', fg: '#a86417', bold: true },\n  { label: 'Not Required',  count: statusCounts['Not Required'],  bg: '#f5f5f5', fg: '#666666', bold: false },\n  { label: 'Vacant',        count: statusCounts['Vacant'],        bg: '#fafafa', fg: '#666666', bold: false },\n  { label: 'Data Issue',    count: statusCounts['Data Issue'],    bg: '#f5f5f5', fg: '#666666', bold: false }\n];\nlet statusTable = '<table style=\"border-collapse:collapse;width:100%;max-width:520px;font-size:14px;font-family:Arial,sans-serif;margin-top:8px;\">' +\n  '<thead><tr style=\"background:#1a3a5c;color:#ffffff;\">' +\n    '<th style=\"padding:10px;text-align:left;border:1px solid #ccc;\">Status</th>' +\n    '<th style=\"padding:10px;text-align:right;border:1px solid #ccc;\">Count</th>' +\n    '<th style=\"padding:10px;text-align:right;border:1px solid #ccc;\">% of Total</th>' +\n  '</tr></thead><tbody>';\nfor (const sr of statusRows) {\n  const labelStyle = 'padding:10px;color:' + sr.fg + ';border:1px solid #ccc;' + (sr.bold ? 'font-weight:bold;' : '');\n  const numStyle = 'padding:10px;text-align:right;color:' + sr.fg + ';border:1px solid #ccc;' + (sr.bold ? 'font-weight:bold;' : '');\n  statusTable += '<tr style=\"background:' + sr.bg + ';\">' +\n    '<td style=\"' + labelStyle + '\">' + sr.label + '</td>' +\n    '<td style=\"' + numStyle + '\">' + sr.count + '</td>' +\n    '<td style=\"padding:10px;text-align:right;color:' + sr.fg + ';border:1px solid #ccc;\">' + pct(sr.count) + '%</td>' +\n  '</tr>';\n}\nstatusTable += '<tr style=\"background:#1a3a5c;color:#ffffff;\">' +\n  '<td style=\"padding:10px;font-weight:bold;border:1px solid #ccc;\">TOTAL</td>' +\n  '<td style=\"padding:10px;text-align:right;font-weight:bold;border:1px solid #ccc;\">' + totalCount + '</td>' +\n  '<td style=\"padding:10px;text-align:right;font-weight:bold;border:1px solid #ccc;\">100.0%</td>' +\n'</tr></tbody></table>';\nblocks.push(section('Certificate Status Summary', statusTable));\n\nconst subjectPrefix = dryRun ? '[DRY RUN] ' : (!allowProductionCc ? '[TEST] ' : '');\nconst titleHtml = '<h2 style=\"margin:0 0 16px 0;color:#1a3a5c;font-family:Arial,sans-serif;font-size:20px;border-bottom:2px solid #1a3a5c;padding-bottom:8px;\">Altmark Group Certificate of Insurance Daily Summary</h2>';\nconst body = '<div style=\"font-family:Arial,sans-serif;font-size:14px;color:#222;max-width:760px;\">' + titleHtml + blocks.join('') + '</div>';\n\nreturn [{\n  json: {\n    subject: subjectPrefix + 'COI Tracking Summary \\u2014 ' + todayNice,\n    body: body,\n    send_to: summaryTo,\n    is_dry_run_mode: dryRun,\n    allow_production_cc: allowProductionCc\n  }\n}];\n"
            },
            "id": "7df34285-9327-40ff-a2d6-4bfcde071031",
            "name": "Build Daily Summary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                656,
                112
            ],
            "executeOnce": true,
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "sendTo": "={{ $json.send_to }}",
                "subject": "={{ $json.subject }}",
                "message": "={{ $json.body }}",
                "options": {
                    "appendAttribution": false,
                    "senderName": "Altmark Group"
                }
            },
            "id": "b41a0045-c453-41eb-a102-e133dc4b5556",
            "name": "Send Daily Summary",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                880,
                112
            ],
            "webhookId": "cef586fc-c90a-4dd8-980c-6711c98d9226",
            "credentials": {
                "gmailOAuth2": {
                    "id": "1KvTTeWhttAclTVM",
                    "name": "Altmark Insurance Gmail"
                }
            }
        }
    ],
    "connections": {
        "Daily 7AM ET": {
            "main": [
                [
                    {
                        "node": "Read COI Policy Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Read COI Policy Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read COI Policy Data": {
            "main": [
                [
                    {
                        "node": "Read Alert Log",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Alert Log": {
            "main": [
                [
                    {
                        "node": "Classify Tenants",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Classify Tenants": {
            "main": [
                [
                    {
                        "node": "IF send_email",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Build Daily Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF send_email": {
            "main": [
                [
                    {
                        "node": "Send Tenant Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Tenant Email": {
            "main": [
                [
                    {
                        "node": "Prep Log Row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Log Row": {
            "main": [
                [
                    {
                        "node": "Append to Alert Log",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Daily Summary": {
            "main": [
                [
                    {
                        "node": "Send Daily Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "7d9214b8-c110-4d7b-b542-964f139bafe5",
    "activeVersionId": null,
    "versionCounter": 6,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-04-29T00:27:46.118Z",
            "createdAt": "2026-04-29T00:27:46.118Z",
            "role": "workflow:owner",
            "workflowId": "DVGzYr6sZXJEv5v7",
            "projectId": "M5j8V2OnY8MNXcIg",
            "project": {
                "updatedAt": "2026-04-28T15:11:36.335Z",
                "createdAt": "2026-04-28T15:01:58.034Z",
                "id": "M5j8V2OnY8MNXcIg",
                "name": "JT Somwaru <jtsomwaru@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "fc386ea4-00a5-429f-9d32-409f0712a958"
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}
