clients/pm-maintenance-template/workflows/pm-maintenance-triage-demo.json
{"name": "PM Maintenance Triage — Demo", "nodes": [{"id": "wh-1", "name": "Maintenance Request Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 300], "webhookId": "pm-maintenance-triage", "parameters": {"httpMethod": "POST", "path": "pm-maintenance-triage", "responseMode": "lastNode", "options": {}}}, {"id": "norm-1", "name": "Normalize Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300], "parameters": {"jsCode": "\nconst body = $input.item.json.body || $input.item.json;\nconst chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\nlet id = 'MR-';\nfor(let i=0;i<8;i++) id += chars[Math.floor(Math.random()*chars.length)];\nreturn {\n  unit: body.unit || '',\n  tenant_name: body.tenant_name || '',\n  tenant_email: body.tenant_email || '',\n  issue_description: body.issue_description || '',\n  stated_urgency: body.urgency || 'unknown',\n  received_at: new Date().toISOString(),\n  ticket_id: id\n};\n", "mode": "runOnceForEachItem"}}, {"id": "ai-1", "name": "AI Triage", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [440, 300], "parameters": {"jsCode": "\nconst axios = require('axios');\nconst item = $input.item.json;\n\nconst prompt = `You are a maintenance triage AI for a property management company.\nClassify this request:\nUnit: ${item.unit}\nTenant: ${item.tenant_name}\nIssue: ${item.issue_description}\nStated urgency: ${item.stated_urgency}\n\nReply ONLY with valid JSON, no markdown:\n{\"urgency\":\"routine|urgent|emergency\",\"category\":\"plumbing|hvac|electrical|structural|cosmetic|appliance|pest|other\",\"reasoning\":\"one sentence\",\"vendor_category\":\"plumbing|hvac|electrical|general|emergency\"}`;\n\nconst res = await axios.post('https://openrouter.ai/api/v1/chat/completions', {\n  model: 'anthropic/claude-haiku-4-5',\n  max_tokens: 256,\n  messages: [{ role: 'user', content: prompt }]\n}, {\n  headers: {\n    'Authorization': 'Bearer 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',\n    'Content-Type': 'application/json'\n  }\n});\n\nlet parsed;\ntry {\n  let text = res.data.choices[0].message.content.trim();\n  text = text.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  parsed = JSON.parse(text);\n} catch(e) {\n  parsed = { urgency: 'routine', category: 'other', reasoning: 'parse error: ' + e.message, vendor_category: 'general' };\n}\nreturn { ...item, ...parsed };\n", "mode": "runOnceForEachItem"}}, {"id": "vendor-1", "name": "Vendor Lookup", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300], "parameters": {"jsCode": "\nconst item = $input.item.json;\nconst cat = item.vendor_category || 'general';\nconst vendors = {\n  plumbing:   { name: 'Demo Plumbing Co',    email: 'jtsomwaru+demo+plumbing@gmail.com',  phone: '555-0101' },\n  hvac:       { name: 'Demo HVAC Services',  email: 'jtsomwaru+demo+hvac@gmail.com',      phone: '555-0102' },\n  electrical: { name: 'Demo Electric Inc',   email: 'jtsomwaru+demo+electric@gmail.com',  phone: '555-0103' },\n  emergency:  { name: 'Demo Emergency 24/7', email: 'jtsomwaru+demo+emergency@gmail.com', phone: '555-0199' },\n  general:    { name: 'Demo General Works',  email: 'jtsomwaru+demo+general@gmail.com',   phone: '555-0100' }\n};\nconst sla = { routine: '72 hours', urgent: '24 hours', emergency: '2 hours' };\nconst vendor = vendors[cat] || vendors.general;\nreturn { ...item, vendor_assigned: vendor, sla_window: sla[item.urgency] || '72 hours' };\n", "mode": "runOnceForEachItem"}}, {"id": "resp-1", "name": "Build Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, 300], "parameters": {"jsCode": "\nconst item = $input.item.json;\nreturn {\n  ticket_id: item.ticket_id,\n  status: 'dispatched',\n  unit: item.unit,\n  tenant_name: item.tenant_name,\n  classification: { urgency: item.urgency, category: item.category, reasoning: item.reasoning },\n  vendor_assigned: item.vendor_assigned,\n  sla_window: item.sla_window,\n  emergency_alert_sent: item.urgency === 'emergency',\n  received_at: item.received_at\n};\n", "mode": "runOnceForEachItem"}}], "connections": {"Maintenance Request Webhook": {"main": [[{"node": "Normalize Request", "type": "main", "index": 0}]]}, "Normalize Request": {"main": [[{"node": "AI Triage", "type": "main", "index": 0}]]}, "AI Triage": {"main": [[{"node": "Vendor Lookup", "type": "main", "index": 0}]]}, "Vendor Lookup": {"main": [[{"node": "Build Response", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}