clients/lead-qualification-demo/workflow.json
{
  "name": "AI Lead Qualification & CRM Entry — Property Management",
  "nodes": [
    {
      "id": "webhook-new-lead",
      "name": "Webhook: New Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "webhookId": "new-lead-webhook",
      "parameters": {
        "path": "new-lead",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "parse-lead-data",
      "name": "Parse Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Parse Lead Data: Normalize and extract lead fields from webhook payload\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const body = item.json.body || item.json;\n    \n    // Extract and normalize lead fields\n    const lead = {\n      first_name: (body.first_name || body.firstName || '').trim(),\n      last_name: (body.last_name || body.lastName || '').trim(),\n      email: (body.email || '').trim().toLowerCase(),\n      phone: (body.phone || '').trim(),\n      company: (body.company || 'Individual').trim(),\n      portfolio_size: parseInt(body.portfolio_size || body.portfolioSize || 0, 10),\n      monthly_budget: parseInt(body.monthly_budget || body.monthlyBudget || 0, 10),\n      primary_need: (body.primary_need || body.primaryNeed || '').trim(),\n      timeline: (body.timeline || '').trim(),\n      current_pain: (body.current_pain || body.currentPain || '').trim(),\n      property_type: (body.property_type || body.propertyType || '').trim(),\n      location: (body.location || '').trim(),\n      heard_about_us: (body.heard_about_us || body.heardAboutUs || '').trim(),\n      received_at: new Date().toISOString()\n    };\n    \n    // Validate required fields\n    if (!lead.email) {\n      throw new Error('Email is required');\n    }\n    if (!lead.first_name) {\n      throw new Error('First name is required');\n    }\n    \n    results.push({ json: lead });\n  } catch (error) {\n    results.push({ \n      json: { \n        error: true, \n        message: error.message,\n        raw_input: item.json \n      } \n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "build-scoring-prompt",
      "name": "Build Scoring Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Build Scoring Prompt: Format lead data as structured context for Claude\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const lead = item.json;\n    \n    // Build the lead context string\n    const leadContext = `\nLEAD INFORMATION:\n- Name: ${lead.first_name} ${lead.last_name}\n- Email: ${lead.email}\n- Phone: ${lead.phone}\n- Company: ${lead.company}\n- Portfolio Size: ${lead.portfolio_size} units\n- Monthly Budget: $${lead.monthly_budget}\n- Primary Need: ${lead.primary_need}\n- Timeline: ${lead.timeline}\n- Current Pain Point: ${lead.current_pain}\n- Property Type: ${lead.property_type}\n- Location: ${lead.location}\n- How They Found Us: ${lead.heard_about_us}\n`;\n\n    const userPrompt = leadContext + `\nScore this lead 1-10 based on these criteria:\n- Budget fit (target $2,000+/mo): 0-3 points\n- Portfolio size (target 10+ units): 0-2 points\n- Urgency/timeline (immediate need = higher score): 0-2 points\n- Service-need match (AI automation, tenant screening, lease ops = high fit): 0-2 points\n- Decision-maker signals (company name, specific pain points articulated): 0-1 point\n\nTier rules: score 8-10 = hot, 5-7 = warm, 1-4 = cold\n\nReturn this exact JSON structure:\n{\n  \"score\": 0,\n  \"tier\": \"hot|warm|cold\",\n  \"reasoning\": \"2-3 sentence summary of why this score\",\n  \"key_signals\": [\"signal 1\", \"signal 2\", \"signal 3\"],\n  \"recommended_action\": \"specific next step for the sales team\",\n  \"budget_fit\": \"strong|moderate|weak\",\n  \"urgency\": \"high|medium|low\",\n  \"personalization_hook\": \"one specific thing to reference in outreach that will resonate with this prospect\"\n}`;\n\n    const messages = [\n      {\n        role: \"system\",\n        content: \"You are a lead qualification AI for an AI implementation consulting agency specializing in property management automation. Analyze inbound leads and score their fit. Return ONLY valid JSON — no markdown, no code blocks.\"\n      },\n      {\n        role: \"user\",\n        content: userPrompt\n      }\n    ];\n    \n    results.push({ \n      json: {\n        ...lead,\n        messages: messages,\n        prompt_built_at: new Date().toISOString()\n      } \n    });\n  } catch (error) {\n    results.push({ \n      json: { \n        ...item.json,\n        error: true, \n        message: 'Failed to build prompt: ' + error.message \n      } \n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "claude-score-lead",
      "name": "Claude: Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [660, 300],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://opticfy.io"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'anthropic/claude-3.5-sonnet', messages: $json.messages, max_tokens: 1024, temperature: 0.3 }) }}",
        "options": {
          "timeout": 30000,
          "retry": {
            "maxRetries": 1,
            "retryIntervalMs": 5000
          }
        }
      }
    },
    {
      "id": "parse-ai-score",
      "name": "Parse AI Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Parse AI Score: Extract score, tier, reasoning from Claude response\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    // Get lead data from upstream Build Scoring Prompt node\n    const leadData = $('Build Scoring Prompt').item.json;\n    \n    // Get Claude's response\n    const claudeResponse = item.json;\n    let content = '';\n    \n    // Handle OpenRouter response format\n    if (claudeResponse.choices && claudeResponse.choices.length > 0) {\n      content = claudeResponse.choices[0].message?.content || '';\n    } else if (claudeResponse.content) {\n      content = claudeResponse.content;\n    }\n    \n    // Clean the content - remove markdown code blocks if present\n    content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    \n    // Parse the JSON response\n    let scoreData;\n    try {\n      scoreData = JSON.parse(content);\n    } catch (parseError) {\n      // Try to extract JSON from the response\n      const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n      if (jsonMatch) {\n        scoreData = JSON.parse(jsonMatch[0]);\n      } else {\n        throw new Error('Could not parse AI response as JSON');\n      }\n    }\n    \n    // Validate required fields\n    const score = parseInt(scoreData.score, 10);\n    if (isNaN(score) || score < 1 || score > 10) {\n      throw new Error('Invalid score value: ' + scoreData.score);\n    }\n    \n    const tier = (scoreData.tier || '').toLowerCase();\n    if (!['hot', 'warm', 'cold'].includes(tier)) {\n      throw new Error('Invalid tier value: ' + scoreData.tier);\n    }\n    \n    // Build the result with lead data + AI analysis\n    results.push({\n      json: {\n        // Lead data\n        first_name: leadData.first_name,\n        last_name: leadData.last_name,\n        email: leadData.email,\n        phone: leadData.phone,\n        company: leadData.company,\n        portfolio_size: leadData.portfolio_size,\n        monthly_budget: leadData.monthly_budget,\n        primary_need: leadData.primary_need,\n        timeline: leadData.timeline,\n        current_pain: leadData.current_pain,\n        property_type: leadData.property_type,\n        location: leadData.location,\n        heard_about_us: leadData.heard_about_us,\n        received_at: leadData.received_at,\n        \n        // AI analysis\n        score: score,\n        tier: tier,\n        reasoning: scoreData.reasoning || '',\n        key_signals: scoreData.key_signals || [],\n        recommended_action: scoreData.recommended_action || '',\n        budget_fit: scoreData.budget_fit || 'unknown',\n        urgency: scoreData.urgency || 'unknown',\n        personalization_hook: scoreData.personalization_hook || '',\n        \n        // Metadata\n        scored_at: new Date().toISOString(),\n        model_used: 'claude-3.5-sonnet',\n        raw_ai_response: content\n      }\n    });\n  } catch (error) {\n    // On error, still pass through lead data with error flag\n    const leadData = $('Build Scoring Prompt').item.json || {};\n    results.push({\n      json: {\n        ...leadData,\n        score: 5,\n        tier: 'warm',\n        reasoning: 'AI scoring failed - defaulting to warm lead for manual review',\n        key_signals: ['AI scoring error'],\n        recommended_action: 'Manual review required',\n        budget_fit: 'unknown',\n        urgency: 'unknown',\n        personalization_hook: '',\n        error: true,\n        error_message: error.message,\n        scored_at: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "hot-lead-if",
      "name": "Hot Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-score",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.score }}",
              "rightValue": 7
            }
          ]
        }
      }
    },
    {
      "id": "create-hubspot-contact",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1320, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer HUBSPOT_API_KEY_PLACEHOLDER"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { email: $('Parse AI Score').item.json.email, firstname: $('Parse AI Score').item.json.first_name, lastname: $('Parse AI Score').item.json.last_name, phone: $('Parse AI Score').item.json.phone, company: $('Parse AI Score').item.json.company, hs_lead_status: 'NEW', notes_last_body: $('Parse AI Score').item.json.reasoning + ' | Key Signals: ' + $('Parse AI Score').item.json.key_signals.join(', '), lead_score: String($('Parse AI Score').item.json.score), lead_tier: $('Parse AI Score').item.json.tier } }) }}",
        "options": {
          "timeout": 30000,
          "retry": {
            "maxRetries": 1,
            "retryIntervalMs": 5000
          }
        }
      }
    },
    {
      "id": "send-hot-lead-email",
      "name": "Send Hot Lead Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1540, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "r3IbVQkW0d0j3icY",
          "name": "Gmail account"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Parse AI Score').item.json.email }}",
        "subject": "=Quick question about your portfolio, {{ $('Parse AI Score').item.json.first_name }}",
        "emailType": "text",
        "message": "=Hi {{ $('Parse AI Score').item.json.first_name }},\n\nI noticed you're managing {{ $('Parse AI Score').item.json.portfolio_size }} units and dealing with {{ $('Parse AI Score').item.json.current_pain.toLowerCase().substring(0, 100) }}.\n\n{{ $('Parse AI Score').item.json.personalization_hook }}\n\nWe've helped property managers like you cut tenant screening time by 50% and reduce vacancy rates through AI-powered automation.\n\nWould you be open to a quick 15-minute call this week to see if we can help {{ $('Parse AI Score').item.json.company }}?\n\nBest,\nJT, Opticfy\n\nP.S. Given your timeline ({{ $('Parse AI Score').item.json.timeline.toLowerCase() }}), I'd love to connect soon so we can get you set up before your next busy season.",
        "options": {}
      }
    },
    {
      "id": "slack-hot-lead-alert",
      "name": "Slack: Hot Lead Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1760, 200],
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ blocks: [ { type: 'header', text: { type: 'plain_text', text: '🔥 Hot Lead Alert!', emoji: true } }, { type: 'section', fields: [ { type: 'mrkdwn', text: '*Name:*\\n' + $('Parse AI Score').item.json.first_name + ' ' + $('Parse AI Score').item.json.last_name }, { type: 'mrkdwn', text: '*Company:*\\n' + $('Parse AI Score').item.json.company }, { type: 'mrkdwn', text: '*Score:*\\n' + $('Parse AI Score').item.json.score + '/10 (' + $('Parse AI Score').item.json.tier.toUpperCase() + ')' }, { type: 'mrkdwn', text: '*Portfolio:*\\n' + $('Parse AI Score').item.json.portfolio_size + ' units' }, { type: 'mrkdwn', text: '*Budget:*\\n$' + $('Parse AI Score').item.json.monthly_budget + '/mo' }, { type: 'mrkdwn', text: '*Urgency:*\\n' + $('Parse AI Score').item.json.urgency.toUpperCase() } ] }, { type: 'section', text: { type: 'mrkdwn', text: '*Key Signals:* ' + $('Parse AI Score').item.json.key_signals.join(', ') } }, { type: 'section', text: { type: 'mrkdwn', text: '*AI Reasoning:* ' + $('Parse AI Score').item.json.reasoning } }, { type: 'section', text: { type: 'mrkdwn', text: '*Recommended Action:* ' + $('Parse AI Score').item.json.recommended_action } }, { type: 'divider' }, { type: 'context', elements: [ { type: 'mrkdwn', text: '📧 ' + $('Parse AI Score').item.json.email + ' | 📱 ' + $('Parse AI Score').item.json.phone } ] } ] }) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "log-hot-lead-sheets",
      "name": "Log Hot Lead to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1980, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QeZOA9lJuS7gGgES",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1i-kSUmO0jCOZ1pJyNUV_NITseZTWzWoxR0maN1MDeaU"
        },
        "sheetName": {
          "mode": "name",
          "value": "Lead Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toISOString().split('T')[0] }}",
            "First Name": "={{ $('Parse AI Score').item.json.first_name }}",
            "Last Name": "={{ $('Parse AI Score').item.json.last_name }}",
            "Email": "={{ $('Parse AI Score').item.json.email }}",
            "Company": "={{ $('Parse AI Score').item.json.company }}",
            "Portfolio Size": "={{ $('Parse AI Score').item.json.portfolio_size }}",
            "Monthly Budget": "={{ $('Parse AI Score').item.json.monthly_budget }}",
            "Score": "={{ $('Parse AI Score').item.json.score }}",
            "Tier": "={{ $('Parse AI Score').item.json.tier }}",
            "Urgency": "={{ $('Parse AI Score').item.json.urgency }}",
            "Key Signal": "={{ $('Parse AI Score').item.json.key_signals[0] || '' }}",
            "Action Taken": "HubSpot + Email + Slack",
            "HubSpot Created": "Yes"
          }
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "send-nurture-email",
      "name": "Send Nurture Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1320, 420],
      "credentials": {
        "gmailOAuth2": {
          "id": "r3IbVQkW0d0j3icY",
          "name": "Gmail account"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Parse AI Score').item.json.email }}",
        "subject": "3 ways AI is changing property management in NYC",
        "emailType": "text",
        "message": "=Hi {{ $('Parse AI Score').item.json.first_name }},\n\nThanks for your interest in Opticfy! Since you mentioned you're exploring AI tools for property management, I wanted to share a few things we're seeing work well for NYC property managers:\n\n1. AI-Powered Tenant Screening — Reduces review time from 2 hours to 15 minutes per application while catching more red flags\n\n2. Automated Maintenance Triage — AI categorizes and routes maintenance requests to the right vendor instantly, cutting response time by 60%\n\n3. Smart Lease Analysis — Automatically flags renewal opportunities and market-rate adjustments across your portfolio\n\nWhen you're ready to explore how AI can help with {{ $('Parse AI Score').item.json.primary_need.toLowerCase() }}, I'd be happy to chat.\n\nNo pressure — just reply to this email whenever you'd like to learn more.\n\nBest,\nJT, Opticfy",
        "options": {}
      }
    },
    {
      "id": "log-nurture-lead-sheets",
      "name": "Log Nurture Lead to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1540, 420],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QeZOA9lJuS7gGgES",
          "name": "Google Sheets account"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1i-kSUmO0jCOZ1pJyNUV_NITseZTWzWoxR0maN1MDeaU"
        },
        "sheetName": {
          "mode": "name",
          "value": "Lead Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toISOString().split('T')[0] }}",
            "First Name": "={{ $('Parse AI Score').item.json.first_name }}",
            "Last Name": "={{ $('Parse AI Score').item.json.last_name }}",
            "Email": "={{ $('Parse AI Score').item.json.email }}",
            "Company": "={{ $('Parse AI Score').item.json.company }}",
            "Portfolio Size": "={{ $('Parse AI Score').item.json.portfolio_size }}",
            "Monthly Budget": "={{ $('Parse AI Score').item.json.monthly_budget }}",
            "Score": "={{ $('Parse AI Score').item.json.score }}",
            "Tier": "={{ $('Parse AI Score').item.json.tier }}",
            "Urgency": "={{ $('Parse AI Score').item.json.urgency }}",
            "Key Signal": "={{ $('Parse AI Score').item.json.key_signals[0] || '' }}",
            "Action Taken": "Nurture Email",
            "HubSpot Created": "No"
          }
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "final-summary",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Final Summary: Return execution summary for hot leads\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    // Get data from Parse AI Score (canonical source)\n    const leadData = $('Parse AI Score').item.json;\n    \n    const summary = {\n      status: 'success',\n      lead_name: leadData.first_name + ' ' + leadData.last_name,\n      email: leadData.email,\n      company: leadData.company,\n      score: leadData.score,\n      tier: leadData.tier,\n      actions_taken: [\n        'HubSpot contact created',\n        'Personalized hot lead email sent',\n        'Slack alert posted',\n        'Lead logged to Google Sheets'\n      ],\n      key_signals: leadData.key_signals,\n      recommended_next_step: leadData.recommended_action,\n      processed_at: new Date().toISOString()\n    };\n    \n    results.push({ json: summary });\n  } catch (error) {\n    results.push({\n      json: {\n        status: 'error',\n        error_message: error.message,\n        processed_at: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 600],
      "parameters": {}
    },
    {
      "id": "log-error-details",
      "name": "Log Error Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 600],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Log Error Details: Format error information for alerting\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const errorData = item.json;\n    \n    const errorLog = {\n      error_type: 'Workflow Execution Error',\n      workflow_name: 'AI Lead Qualification & CRM Entry',\n      timestamp: new Date().toISOString(),\n      error_message: errorData.execution?.error?.message || errorData.message || 'Unknown error',\n      error_node: errorData.execution?.error?.node?.name || 'Unknown node',\n      execution_id: errorData.execution?.id || 'Unknown',\n      stack_trace: errorData.execution?.error?.stack || '',\n      raw_error: JSON.stringify(errorData, null, 2).substring(0, 1000)\n    };\n    \n    results.push({ json: errorLog });\n  } catch (error) {\n    results.push({\n      json: {\n        error_type: 'Error Processing Failed',\n        error_message: error.message,\n        timestamp: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "error-alert-slack",
      "name": "Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [440, 600],
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ blocks: [ { type: 'header', text: { type: 'plain_text', text: '❌ Workflow Error Alert', emoji: true } }, { type: 'section', fields: [ { type: 'mrkdwn', text: '*Workflow:*\\n' + $json.workflow_name }, { type: 'mrkdwn', text: '*Failed Node:*\\n' + $json.error_node } ] }, { type: 'section', text: { type: 'mrkdwn', text: '*Error:*\\n```' + $json.error_message + '```' } }, { type: 'context', elements: [ { type: 'mrkdwn', text: '⏰ ' + $json.timestamp + ' | Execution ID: ' + $json.execution_id } ] } ] }) }}",
        "options": {
          "timeout": 30000
        }
      }
    }
  ],
  "connections": {
    "Webhook: New Lead": {
      "main": [
        [
          {
            "node": "Parse Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead Data": {
      "main": [
        [
          {
            "node": "Build Scoring Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scoring Prompt": {
      "main": [
        [
          {
            "node": "Claude: Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Score Lead": {
      "main": [
        [
          {
            "node": "Parse AI Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Score": {
      "main": [
        [
          {
            "node": "Hot Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Lead?": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Nurture Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "Send Hot Lead Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Hot Lead Email": {
      "main": [
        [
          {
            "node": "Slack: Hot Lead Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Hot Lead Alert": {
      "main": [
        [
          {
            "node": "Log Hot Lead to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Hot Lead to Sheets": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Nurture Email": {
      "main": [
        [
          {
            "node": "Log Nurture Lead to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error Details": {
      "main": [
        [
          {
            "node": "Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null
}
