workflows/glow-index-skincare-analysis.json
{
    "updatedAt": "2026-03-21T14:21:44.195Z",
    "createdAt": "2026-02-23T18:19:46.408Z",
    "id": "LNae5xv5dmIi6nBP",
    "name": "Glow Index Skincare Analysis",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "wh1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "skincare-analysis",
                "responseMode": "onReceived",
                "options": {
                    "responseCode": {
                        "values": {
                            "responseCode": "customCode",
                            "customCode": 202
                        }
                    },
                    "responseData": "{\"status\":\"accepted\",\"message\":\"Analysis queued\"}"
                }
            }
        },
        {
            "id": "vi1",
            "name": "Validate Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                280,
                300
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "language": "javaScript",
                "jsCode": "// Validate required input fields for skincare analysis\n// Supports both direct test payloads and Replit trigger-analysis payloads\nconst raw = $input.first().json;\nconst input = raw.body || raw;\n\n// Normalize price field (Replit sends 'price', tests send 'priceUsd')\nconst priceUsd = input.priceUsd !== undefined ? input.priceUsd : input.price;\n\nconst errors = [];\nif (!input.productId) errors.push('productId required');\nif (!input.productName && !input.name) errors.push('productName required');\nif (!input.brand) errors.push('brand required');\nif (priceUsd === undefined || priceUsd === null) errors.push('priceUsd required');\nif (errors.length > 0) {\n  throw new Error('Validation failed: ' + errors.join(', '));\n}\n\nreturn [{ json: {\n  productId: String(input.productId),\n  productName: String(input.productName || input.name),\n  brand: String(input.brand),\n  category: input.category ? String(input.category) : 'skincare',\n  priceUsd: Number(priceUsd),\n  ingredientList: input.ingredientList ? String(input.ingredientList) : '',\n  website: input.website ? String(input.website) : '',\n  description: input.description ? String(input.description) : '',\n  runId: input.runId ? String(input.runId) : String(Date.now()),\n  callbackUrl: input.callbackUrl ? String(input.callbackUrl) : '',\n  callbackSecret: input.callbackSecret ? String(input.callbackSecret) : ''\n}}];"
            }
        },
        {
            "id": "hr1",
            "name": "Send to Python Engine",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                560,
                300
            ],
            "parameters": {
                "url": "http://localhost:8001/analyze",
                "method": "POST",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ productId: $json.productId, productName: $json.productName, brand: $json.brand, category: $json.category, priceUsd: $json.priceUsd, callbackUrl: $json.callbackUrl, callbackSecret: $json.callbackSecret, runId: $json.runId, ingredientList: $json.ingredientList, website: $json.website, description: $json.description }) }}",
                "options": {
                    "timeout": 10000
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "id": "ls1",
            "name": "Log Status",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                840,
                250
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "language": "javaScript",
                "jsCode": "// Log successful queue status\nconst input = $('Validate Input').first().json;\nconst response = $input.first().json;\nreturn [{ json: {\n  status: 'queued',\n  productId: input.productId,\n  productName: input.productName,\n  runId: response.runId || input.runId,\n  engineResponse: response.status || 'accepted',\n  timestamp: new Date().toISOString()\n}}];"
            }
        },
        {
            "id": "le1",
            "name": "Log Error",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                840,
                450
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "language": "javaScript",
                "jsCode": "// Log error when Python engine is unreachable\nconst input = $('Validate Input').first().json;\nreturn [{ json: {\n  status: 'error',\n  productId: input.productId,\n  productName: input.productName,\n  error: 'Python engine unreachable at localhost:8001',\n  timestamp: new Date().toISOString()\n}}];"
            }
        },
        {
            "id": "et1",
            "name": "Error Trigger",
            "type": "n8n-nodes-base.errorTrigger",
            "typeVersion": 1,
            "position": [
                0,
                600
            ],
            "parameters": {}
        },
        {
            "id": "en1",
            "name": "Error Notifier",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                280,
                600
            ],
            "parameters": {
                "mode": "runOnceForAllItems",
                "language": "javaScript",
                "jsCode": "// Format error for logging\nconst err = $input.first().json;\nreturn [{ json: {\n  status: 'workflow_error',\n  error: err.execution ? String(err.execution.error.message) : 'Unknown error',\n  workflow: err.workflow ? String(err.workflow.name) : 'Glow Index',\n  timestamp: new Date().toISOString()\n}}];"
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Send to Python Engine",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Python Engine": {
            "main": [
                [
                    {
                        "node": "Log Status",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Error Trigger": {
            "main": [
                [
                    {
                        "node": "Error Notifier",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "1eaf445f-f1bf-4ddf-9830-794477f0295c",
    "activeVersionId": "1eaf445f-f1bf-4ddf-9830-794477f0295c",
    "versionCounter": 111,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-23T18:19:46.409Z",
            "createdAt": "2026-02-23T18:19:46.409Z",
            "role": "workflow:owner",
            "workflowId": "LNae5xv5dmIi6nBP",
            "projectId": "tBICjiBXRXwDo4bR",
            "project": {
                "updatedAt": "2026-02-23T01:25:41.852Z",
                "createdAt": "2026-02-23T01:18:14.818Z",
                "id": "tBICjiBXRXwDo4bR",
                "name": "JT Somwaru <jsomwarux@yahoo.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "3dfc39da-972c-4655-9f9e-e62d015405d9"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-21T14:21:32.998Z",
        "createdAt": "2026-03-21T14:21:32.998Z",
        "versionId": "1eaf445f-f1bf-4ddf-9830-794477f0295c",
        "workflowId": "LNae5xv5dmIi6nBP",
        "nodes": [
            {
                "id": "wh1",
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    300
                ],
                "parameters": {
                    "httpMethod": "POST",
                    "path": "skincare-analysis",
                    "responseMode": "onReceived",
                    "options": {
                        "responseCode": {
                            "values": {
                                "responseCode": "customCode",
                                "customCode": 202
                            }
                        },
                        "responseData": "{\"status\":\"accepted\",\"message\":\"Analysis queued\"}"
                    }
                }
            },
            {
                "id": "vi1",
                "name": "Validate Input",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    280,
                    300
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Validate required input fields for skincare analysis\n// Supports both direct test payloads and Replit trigger-analysis payloads\nconst raw = $input.first().json;\nconst input = raw.body || raw;\n\n// Normalize price field (Replit sends 'price', tests send 'priceUsd')\nconst priceUsd = input.priceUsd !== undefined ? input.priceUsd : input.price;\n\nconst errors = [];\nif (!input.productId) errors.push('productId required');\nif (!input.productName && !input.name) errors.push('productName required');\nif (!input.brand) errors.push('brand required');\nif (priceUsd === undefined || priceUsd === null) errors.push('priceUsd required');\nif (errors.length > 0) {\n  throw new Error('Validation failed: ' + errors.join(', '));\n}\n\nreturn [{ json: {\n  productId: String(input.productId),\n  productName: String(input.productName || input.name),\n  brand: String(input.brand),\n  category: input.category ? String(input.category) : 'skincare',\n  priceUsd: Number(priceUsd),\n  ingredientList: input.ingredientList ? String(input.ingredientList) : '',\n  website: input.website ? String(input.website) : '',\n  description: input.description ? String(input.description) : '',\n  runId: input.runId ? String(input.runId) : String(Date.now()),\n  callbackUrl: input.callbackUrl ? String(input.callbackUrl) : '',\n  callbackSecret: input.callbackSecret ? String(input.callbackSecret) : ''\n}}];"
                }
            },
            {
                "id": "hr1",
                "name": "Send to Python Engine",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    560,
                    300
                ],
                "parameters": {
                    "url": "http://localhost:8001/analyze",
                    "method": "POST",
                    "authentication": "none",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ productId: $json.productId, productName: $json.productName, brand: $json.brand, category: $json.category, priceUsd: $json.priceUsd, callbackUrl: $json.callbackUrl, callbackSecret: $json.callbackSecret, runId: $json.runId, ingredientList: $json.ingredientList, website: $json.website, description: $json.description }) }}",
                    "options": {
                        "timeout": 10000
                    }
                },
                "onError": "continueErrorOutput"
            },
            {
                "id": "ls1",
                "name": "Log Status",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    840,
                    250
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Log successful queue status\nconst input = $('Validate Input').first().json;\nconst response = $input.first().json;\nreturn [{ json: {\n  status: 'queued',\n  productId: input.productId,\n  productName: input.productName,\n  runId: response.runId || input.runId,\n  engineResponse: response.status || 'accepted',\n  timestamp: new Date().toISOString()\n}}];"
                }
            },
            {
                "id": "le1",
                "name": "Log Error",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    840,
                    450
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Log error when Python engine is unreachable\nconst input = $('Validate Input').first().json;\nreturn [{ json: {\n  status: 'error',\n  productId: input.productId,\n  productName: input.productName,\n  error: 'Python engine unreachable at localhost:8001',\n  timestamp: new Date().toISOString()\n}}];"
                }
            },
            {
                "id": "et1",
                "name": "Error Trigger",
                "type": "n8n-nodes-base.errorTrigger",
                "typeVersion": 1,
                "position": [
                    0,
                    600
                ],
                "parameters": {}
            },
            {
                "id": "en1",
                "name": "Error Notifier",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    280,
                    600
                ],
                "parameters": {
                    "mode": "runOnceForAllItems",
                    "language": "javaScript",
                    "jsCode": "// Format error for logging\nconst err = $input.first().json;\nreturn [{ json: {\n  status: 'workflow_error',\n  error: err.execution ? String(err.execution.error.message) : 'Unknown error',\n  workflow: err.workflow ? String(err.workflow.name) : 'Glow Index',\n  timestamp: new Date().toISOString()\n}}];"
                }
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Validate Input",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Validate Input": {
                "main": [
                    [
                        {
                            "node": "Send to Python Engine",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send to Python Engine": {
                "main": [
                    [
                        {
                            "node": "Log Status",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Log Error",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Error Trigger": {
                "main": [
                    [
                        {
                            "node": "Error Notifier",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "JT Somwaru",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-21T14:21:44.215Z",
                "id": 215,
                "workflowId": "LNae5xv5dmIi6nBP",
                "versionId": "1eaf445f-f1bf-4ddf-9830-794477f0295c",
                "event": "activated",
                "userId": "3dfc39da-972c-4655-9f9e-e62d015405d9"
            }
        ]
    }
}
