workflows/nash-satoshi-analysis.json
{"updatedAt":"2026-03-20T16:58:39.461Z","createdAt":"2026-03-20T14:17:18.079Z","id":"lysF7MsDkqtvget8","name":"Nash Satoshi Token Analysis","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,300],"parameters":{"httpMethod":"POST","path":"nash-satoshi-analysis","responseMode":"onReceived","options":{"responseCode":{"values":{"responseCode":"customCode","customCode":202}},"responseData":"{\"status\":\"accepted\",\"message\":\"Analysis queued\"}"}}},{"id":"pw1","name":"Parse Webhook","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,300],"parameters":{"jsCode":"// Extract and validate webhook input\nconst items = $input.all();\nconst body = items[0].json.body || items[0].json;\nconst contract_address = (body.contract_address || \"\").trim();\nif (!contract_address) { throw new Error(\"Missing required field: contract_address\"); }\nreturn [{ json: {\n  ticker: (body.ticker || \"\").trim(),\n  name: (body.name || \"\").trim(),\n  chain: (body.chain || \"ethereum\").toLowerCase().trim(),\n  contract_address: contract_address,\n  price: body.price || 0,\n  market_cap: body.market_cap || 0,\n  fdv: body.fdv || 0,\n  volume_24h: body.volume_24h || 0,\n  run_id: String(body.run_id || \"\").trim(),\n  homepage_url: (body.homepage_url || \"\").trim(),\n  analysis_date: new Date().toISOString()\n} }];"}},{"id":"bsu1","name":"Build Scrape URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,200],"parameters":{"jsCode":"// Build 4 scrape URLs for Firecrawl\nconst d = $(\"Parse Webhook\").item.json;\nconst ticker = d.ticker;\nconst contract = d.contract_address;\nconst chain = (d.chain || \"\").toLowerCase();\nconst name = (d.name || \"\").toLowerCase().replace(/[^a-z0-9]/g, \"\");\nconst explorerUrl = (chain === \"base\" || chain === \"ethereum\" || chain === \"eth\")\n  ? \"https://etherscan.io/token/\" + contract\n  : \"https://solscan.io/token/\" + contract;\nconst homepage = d.homepage_url && d.homepage_url.length > 5\n  ? d.homepage_url\n  : \"https://\" + name + \".io\";\nreturn [\n  { json: { url: \"https://www.coingecko.com/en/coins/\" + ticker.toLowerCase(), label: \"coingecko\" } },\n  { json: { url: explorerUrl, label: \"explorer\" } },\n  { json: { url: \"https://dexscreener.com/search?q=\" + contract, label: \"dexscreener\" } },\n  { json: { url: homepage, label: \"homepage\" } }\n];"}},{"id":"fcs1","name":"Firecrawl Scrape","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-0d0961fa920a466a869fdd4068b9fe7e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ url: $json.url, formats: [\"markdown\"] }) }}","options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"al1","name":"Attach Label","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,200],"parameters":{"jsCode":"// Pair Firecrawl results back with their labels by index\nconst scraped = $input.all();\nconst urlItems = $(\"Build Scrape URLs\").all();\nreturn scraped.map((item, i) => ({\n  json: {\n    label: urlItems[i] ? urlItems[i].json.label : \"unknown\",\n    markdown: item.json.data ? item.json.data.markdown : (item.json.markdown || \"\")\n  }\n}));"}},{"id":"bt1","name":"Brave Team","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,-200],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" \" + $(\"Parse Webhook\").item.json.name + \" team founder developer\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"bfk1","name":"Brave Fake","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,-400],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" \" + $(\"Parse Webhook\").item.json.name + \" fake token scam imposter contract\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"bct1","name":"Brave Catalysts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,0],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" roadmap milestones catalysts 2026\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"wfs1","name":"Wait Fund Sources","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1250,0],"parameters":{"mode":"append","numberInputs":4}},{"id":"mf1","name":"Merge Fundamentals","type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,0],"parameters":{"jsCode":"// Combine 4 Firecrawl + 3 Brave results and build Anthropic synthesis request\nconst allItems = $input.all();\nconst d = $(\"Parse Webhook\").first().json;\nlet ctx = \"\";\n// Items arrive: 4 firecrawl (with label field), then 3 brave (with web field)\nfor (const item of allItems) {\n  if (item.json.label) {\n    const label = item.json.label.toUpperCase();\n    const md = (item.json.markdown || \"\").substring(0, 2000);\n    ctx += \"\\n=== \" + label + \" ===\\n\" + md + \"\\n\";\n  } else if (item.json.web) {\n    const results = (item.json.web.results || []).slice(0, 5);\n    const section = results.map(r => r.title + \": \" + r.description).join(\"\\n\");\n    ctx += \"\\n=== BRAVE SEARCH ===\\n\" + section + \"\\n\";\n  }\n}\nconst prompt = \"You are analyzing a crypto token for investment scoring. Use ONLY the research data provided. Do not hallucinate.\\n\\n\"\n  + \"TOKEN: \" + d.ticker + \" / \" + d.name + \"\\n\"\n  + \"CHAIN: \" + d.chain + \"\\n\"\n  + \"CONTRACT: \" + d.contract_address + \"\\n\"\n  + \"PRICE: \" + d.price + \"\\n\"\n  + \"MARKET CAP: \" + d.market_cap + \"\\n\"\n  + \"FDV: \" + d.fdv + \"\\n\\n\"\n  + \"RESEARCH DATA:\\n\" + ctx + \"\\n\\n\"\n  + \"Produce structured analysis:\\n\"\n  + \"- Narrative Positioning & Market Thesis\\n\"\n  + \"- Project Fundamentals (product, tech stack, stage)\\n\"\n  + \"- Team & Backers (names, credibility)\\n\"\n  + \"- Value Capture (token utility, fees, revenue model)\\n\"\n  + \"- Traction & Usage (holders, volume, TVL)\\n\"\n  + \"- Tokenomics & Unlocks (supply, vesting, whales)\\n\"\n  + \"- Roadmap & Catalysts (upcoming milestones)\\n\"\n  + \"- Competitive Analysis (comparable tokens)\\n\"\n  + \"- WARNING: Fake Token Alert (flag any imposter contracts found)\\n\"\n  + \"- Key Links\\n\"\n  + \"Include Confidence (High/Medium/Low) per section.\";\nreturn [{ json: { requestBody: { model: \"anthropic/claude-sonnet-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 3000 } } }];"}},{"id":"fs1","name":"Fundamentals Synthesis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1750,0],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"bxq1","name":"Build X Queries","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,700],"parameters":{"jsCode":"// Build 5 X search queries from token data\nconst d = $(\"Parse Webhook\").item.json;\nconst ticker = d.ticker.replace(/[^a-zA-Z0-9]/g, \"\");\nconst name = d.name.replace(/[^a-zA-Z0-9 ]/g, \"\").trim();\nreturn [\n  { json: { query: ticker + \" crypto\", label: \"general\" } },\n  { json: { query: \"$\" + ticker, label: \"dollar\" } },\n  { json: { query: name + \" token\", label: \"project\" } },\n  { json: { query: ticker + \" bullish bearish aping sold\", label: \"sentiment\" } },\n  { json: { query: ticker + \" \" + name + \" fake scam imposter\", label: \"fake\" } }\n];"}},{"id":"xs1","name":"X Search","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,700],"parameters":{"jsCode":"// Run all 5 X search queries sequentially\nconst { execSync } = require(\"child_process\");\nconst queryItems = $(\"Build X Queries\").all();\nconst allTweets = [];\nconst sections = {};\n\nfor (const item of queryItems) {\n  const query = item.json.query;\n  const label = item.json.label;\n  const cmd = `cd /Users/jtsomwaru/.openclaw/workspace/skills/x-research && source /Users/jtsomwaru/.config/env/global.env && bun run x-search.ts search \"${query.replace(/\"/g,'').replace(/\\$/g,'\\\\$')}\" --quick --limit 10 --json 2>/dev/null`;\n  let tweets = [];\n  try {\n    const out = execSync(cmd, { shell: \"/bin/bash\", timeout: 30000 }).toString();\n    tweets = JSON.parse(out);\n  } catch(e) {\n    try {\n      const out = execSync(cmd.replace(\"--json 2>/dev/null\",\"--json 2>&1\"), { shell: \"/bin/bash\", timeout: 30000 }).toString();\n      const match = out.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n      if (match) tweets = JSON.parse(match[0]);\n    } catch(e2) {}\n  }\n  if (!Array.isArray(tweets)) tweets = [];\n  sections[label] = tweets;\n  tweets.forEach(t => allTweets.push(Object.assign({}, t, { _label: label })));\n}\n\n// Sort by engagement\nallTweets.sort((a,b) => {\n  const sa = (a.metrics?.likes||0)*3 + (a.metrics?.retweets||0)*5 + (a.metrics?.impressions||0)/100;\n  const sb = (b.metrics?.likes||0)*3 + (b.metrics?.retweets||0)*5 + (b.metrics?.impressions||0)/100;\n  return sb - sa;\n});\n\nreturn [{ json: { allTweets, sections, totalTweets: allTweets.length } }];"},"onError":"continueRegularOutput"},{"id":"ms1","name":"Merge Social","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,700],"parameters":{"jsCode":"// Read pre-combined tweet data from X Search code node\nconst xResult = $(\"X Search\").first().json;\nconst allTweets = xResult.allTweets || [];\nconst sections = xResult.sections || {};\nconst d = $(\"Parse Webhook\").first().json;\n\n// Format top tweets for LLM\nlet tweetBlock = `Total tweets collected: ${allTweets.length}\\n\\n`;\ntweetBlock += \"TOP TWEETS BY ENGAGEMENT (KOL signal — sorted high to low):\\n\\n\";\nconst seen = new Set();\nfor (const t of allTweets.slice(0, 50)) {\n  if (seen.has(t.id)) continue;\n  seen.add(t.id);\n  const eng = `${t.metrics?.likes||0}❤️ ${t.metrics?.retweets||0}🔁 ${t.metrics?.impressions||0}👁`;\n  tweetBlock += `@${t.username} (${t.name}) [${t._label}]\\n${eng}\\n${t.text}\\n\\n`;\n}\ntweetBlock += \"\\n--- PER-QUERY COUNTS ---\\n\";\nfor (const [label, tweets] of Object.entries(sections)) {\n  tweetBlock += `${label}: ${tweets.length} tweets\\n`;\n}\n\nconst prompt = \"Analyze social signals for this crypto token. Use ONLY the tweet data provided below.\\n\\n\"\n  + \"TOKEN: \" + d.ticker + \" / \" + d.name + \"\\n\\n\"\n  + \"TWEET DATA:\\n\" + tweetBlock + \"\\n\\n\"\n  + \"Produce a thorough analysis:\\n\"\n  + \"- Discussion Quality (organic vs shills/bots, signal-to-noise %)\\n\"\n  + \"- Top Accounts by Reach: LIST EACH HIGH-ENGAGEMENT ACCOUNT BY NAME (@username), follower proxy from impressions, their exact stance and specific claims\\n\"\n  + \"- Social Volume (total tweets analyzed, dominant direction, velocity trend)\\n\"\n  + \"- Sentiment Breakdown (bullish/bearish/neutral % with specific tweet evidence)\\n\"\n  + \"- Community Activity & Tone (degen culture, builder culture, speculative vs conviction)\\n\"\n  + \"- Notable KOLs: NAME EVERY ACCOUNT with >500 impressions, their stance, and what specifically they said\\n\"\n  + \"- Narrative & Ecosystem Fit\\n\"\n  + \"- Fake Token / Scam Alerts\\n\"\n  + \"- Overall Social Health with confidence rating\\n\\n\"\n  + \"IMPORTANT: End your response with these exact structured fields on separate lines:\\n\"\n  + \"community_status: [Very Active | Active | Moderate | Low | Dead]\\n\"\n  + \"account_quality: [Builders/Researchers | Traders/Degens | Mixed Quality | Promoters/Shills | Unknown]\\n\"\n  + \"overall_sentiment: [Strongly Bullish | Bullish | Mixed | Bearish | Strongly Bearish | Unknown]\";\n\nreturn [{ json: { requestBody: { model: \"anthropic/claude-sonnet-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 3000 } } }];"}},{"id":"ss1","name":"Social Synthesis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"mr1","name":"Merge Research","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2000,300],"parameters":{"mode":"append","numberInputs":2}},{"id":"cr1","name":"Combine Research","type":"n8n-nodes-base.code","typeVersion":2,"position":[2250,300],"parameters":{"jsCode":"// Combine fundamentals + social synthesis outputs\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst tokenData = $(\"Parse Webhook\").first().json;\nlet fund = \"Unavailable\", social = \"Unavailable\";\ntry { fund = extractLLM(items[0]); } catch(e) {}\ntry { social = extractLLM(items[1]); } catch(e) {}\nreturn [{ json: Object.assign({}, tokenData, { fundamentals_research: fund, social_research: social }) }];"}},{"id":"bs2","name":"Build Stage2 Bodies","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,300],"parameters":{"jsCode":"// Stage 2: 4-LLM analysis with full prompt\nconst d = $(\"Parse Webhook\").first().json;\nconst basePrompt = `# Nash Satoshi Stage 2: Apex Crypto Game Theorist Analysis\n\n## System Context\n\nYou are the Apex Crypto Game Theorist -- the most sophisticated token analyst in existence. You combine game theory, behavioral economics, network effects analysis, crypto market microstructure expertise, and reflexivity theory into a single unified scoring framework.\n\nYour analysis is not opinion. It is a structured decomposition of the forces that drive a token's price: coordination dynamics, Schelling point strength, reflexive feedback loops, viral propagation potential, and risk/reward asymmetry. You score each component independently, apply contextual modifiers, and produce a final score that represents the token's overall investment merit on a 0-100 scale.\n\nYou are intellectually honest. A low score is not a failure of your analysis -- it is accurate signal. You do not inflate scores to be polite. You do not hedge with vague language. Every score has a justification.\n\n## Token Data\n\n- Ticker: {ticker}\n- Chain: {chain}\n- Current Price: {price}\n- Market Cap: {market_cap}\n- Fully Diluted Valuation: {fdv}\n- 24h Volume: {volume_24h}\n- 24h Price Change: {price_change_24h}\n- 7d Price Change: {price_change_7d}\n- DEX Liquidity (USD): {dex_liquidity_usd}\n- DEX Buys (24h): {dex_buys_24h}\n- DEX Sells (24h): {dex_sells_24h}\n- DEX Liquidity as % of Market Cap: {dex_liquidity_pct}\n- Analysis Date: {analysis_date}\n\n## Research Inputs\n\n### Fundamentals Research (Claude Research Agent Output)\n{fundamentals_research}\n\n### Social Signals Research (Claude Social Agent Output)\n{social_research}\n\n---\n\n## Analysis Instructions\n\nWork through each section below IN ORDER. Do not skip any section. At the end, output your complete analysis as key: value pairs.\n\n### Step 1: Token Classification\n\nDetermine the token type and lifecycle phase.\n\n**Token Type** -- classify as one of:\n- UTILITY: The token has a working product, real usage, and a mechanism by which demand for the product translates into demand for the token. Fee burns, staking for access, governance with real treasury, or direct protocol revenue sharing all qualify.\n- MEMECOIN: The token derives its value primarily from attention, community, narrative momentum, and speculative interest rather than product utility. Memecoins can still score well -- they just score on different axes (coordination, virality, Schelling point strength).\n\n**Lifecycle Phase** -- classify as one of:\n- Phase 1 (Discovery): New token, small market cap, limited awareness. Early adopters only. High asymmetry potential.\n- Phase 2 (Expansion): Growing awareness, increasing volume, narrative building. Smart money entering. Community forming.\n- Phase 3 (Peak Hype): Maximum attention, KOL coverage, exchange listings, peak volume. The \"everyone is talking about it\" phase. Highest risk of buying the top.\n- Phase 4 (Decline): Attention fading, volume dropping, narrative rotating away. Weak hands exiting. Can be temporary or terminal.\n- Phase 5 (Maturity): Established project with stable usage, predictable value flows. Lower volatility, lower asymmetry. Blue-chip territory or slow bleed.\n\n### Step 2: Component Scoring\n\nScore each of the following components on a 0-100 scale. For each score, provide a 1-2 sentence justification.\n\n**Coordination Score (0-100)**\nHow effectively can holders coordinate to create and sustain value? Factors: community organization strength, treasury management, governance participation, aligned incentive structures, presence of a credible coordination leader (founder, DAO, core team). High coordination = holders act as a unified force. Low coordination = fragmented, every-man-for-himself dynamic.\n\n**Schelling Score (0-100)**\nHow strong is the token as a Schelling point within its narrative? Factors: brand recognition, ticker memorability, market cap dominance within sub-narrative, first-mover advantage, \"default choice\" status. A strong Schelling point is the token that new money flows to first when the narrative rotates in. Think of SOL for alt-L1s, LINK for oracles, PEPE for memecoins.\n\n**Reflexivity Score (0-100)**\nHow strong are the positive feedback loops? Factors: price increase drives more attention, more attention drives more buying, more buying drives higher TVL/usage, higher usage drives more development, more development drives more price appreciation. Score the strength and sustainability of these loops. Fragile loops (dependent on pure price action) score lower than robust loops (driven by product usage).\n\n**Virality Score (0-100)**\nHow likely is this token to spread through organic social propagation? Factors: memetic quality of the brand/ticker, shareability of the narrative, visual identity strength, presence of natural content hooks (\"did you know\" facts, controversy, underdog story), community content creation (memes, threads, explainers). A high virality score means the token markets itself.\n\n**Asymmetry Score (0-100)**\nWhat is the risk/reward ratio from current levels? Factors: current market cap relative to narrative ceiling, distance from ATH (upside room), quality of downside protection (strong community, treasury reserves, revenue), catalysts that could drive repricing. Estimate the asymmetry floor (max realistic downside as a percentage) and asymmetry ceiling (max realistic upside as a percentage). A token at $10M market cap in a $10B narrative with a working product has high asymmetry. A token at its ATH with no catalysts has low asymmetry.\n\n**Game Theory Score (0-100)**\nThis is the meta-score: given everything above, what is the game-theoretically optimal position? Factors: is the Nash equilibrium to hold or sell? Is the dominant strategy to accumulate, hold, or exit? Are there information asymmetries favoring current holders or potential buyers? Is the token in a coordination game (hold together = everyone wins) or a race to exit (first to sell wins)?\n\n### Step 3: Modifiers\n\nApply the following modifiers to the raw average of the component scores. Each modifier adjusts the score based on contextual factors.\n\n**Phase Modifier (-20 to +20)**\n- Phase 1 (Discovery): +10 to +20 (early = bonus for asymmetry)\n- Phase 2 (Expansion): +5 to +15 (momentum bonus)\n- Phase 3 (Peak Hype): -10 to -20 (buying the top penalty)\n- Phase 4 (Decline): -10 to -20 (falling knife penalty)\n- Phase 5 (Maturity): -5 to +5 (neutral, depends on stability)\n\n**Narrative Modifier (-15 to +15)**\nBased on narrative heat. Hot narratives with room to run get a positive modifier. Cold or exhausted narratives get negative.\n\n**Exit Liquidity Modifier (-20 to 0)**\nIf there are signs of exit liquidity formation (insiders selling, heavy promotion with declining smart money interest, token unlocks coinciding with marketing pushes), apply a negative modifier. No signs = 0.\n\n**Peak Proximity Modifier (-15 to 0)**\nHow close is the current price to ATH? Tokens near their ATH have limited upside in the current cycle unless there is a strong catalyst for new highs. Calculate peak_proximity_pct (0 = at cycle low, 100 = at ATH).\n- 0-30% of ATH: 0 (far from peak, no penalty)\n- 30-60% of ATH: -5\n- 60-80% of ATH: -10\n- 80-100% of ATH: -15\n\n**Data Quality Modifier (-10 to 0)**\nIf the research inputs are thin, contradictory, or missing key data (no TVL numbers, no team info, no on-chain data), apply a penalty for low confidence. Rich, verifiable data = 0.\n\n**FDV Modifier (-15 to +5)**\nBased on the FDV-to-market-cap ratio (future dilution risk) and FDV relative to narrative ceiling.\n- FDV < 2x market cap, FDV well below narrative ceiling: +5\n- FDV 2-5x market cap: 0\n- FDV 5-10x market cap: -5\n- FDV 10-20x market cap: -10\n- FDV > 20x market cap: -15\n\n### Step 4: Final Score Calculation\n\nCalculate:\n1. Raw average of the 6 component scores\n2. Sum of all modifiers\n3. Final score = raw average + sum of modifiers (clamped to 0-100)\n\n### Step 5: Final Tier Assignment\n\nMap the final score to a tier:\n\n- 90-100: S+ (Generational opportunity)\n- 80-89: S (Exceptional, strong conviction)\n- 70-79: A+ (Very strong, high confidence)\n- 60-69: A (Strong, worth accumulating)\n- 50-59: B+ (Above average, conditional buy)\n- 40-49: B (Average, hold or small position)\n- 30-39: C (Below average, caution)\n- 20-29: D (Weak, likely avoid)\n- 0-19: F (Critical issues, strong avoid)\n\n### Step 6: Recommendation\n\nBased on the final score, phase, and your overall assessment:\n\n- 80+: STRONG BUY\n- 70-79: BUY\n- 60-69: ACCUMULATE\n- 50-59: HOLD\n- 40-49: REDUCE\n- 30-39: SELL\n- 20-29: STRONG SELL\n- 0-19: AVOID\n\nAdjust up or down one level based on phase and catalyst timing. A Phase 1 token at 55 might warrant ACCUMULATE instead of HOLD. A Phase 3 token at 65 might warrant HOLD instead of ACCUMULATE.\n\n### Step 7: Winning Side Assessment\n\nDetermine which side of the trade is likely winning:\n\n- USER: The token has real utility, the community is strong, and holders are positioned well. The dominant strategy is to hold or accumulate.\n- AT_RISK: The situation is uncertain. The token could go either way. Holders should be cautious and size positions accordingly.\n- EXIT_LIQ: There are signs that current holders may be exit liquidity for insiders or early investors. The dominant strategy is caution or exit.\n\n### Step 8: Thesis, Catalysts, and Risks\n\n- Write a 1-2 sentence investment thesis.\n- Identify the top 3 catalysts that could drive the token higher.\n- Identify the top 3 risks that could drive the token lower.\n\n### Step 9: Confidence Assessment\n\nRate your confidence in this analysis:\n- H (High): Rich data, clear picture, high conviction in the score.\n- M (Medium): Adequate data but some gaps. Score is directionally correct but could shift 10-15 points with more info.\n- L (Low): Significant data gaps. Score is a best estimate. Would not stake reputation on it.\n\n---\n\n## Output Format\n\nCRITICAL: You must output your analysis as key: value pairs, one per line. No markdown headers. No bullet points. No extra commentary. Just key: value pairs that can be parsed programmatically.\n\nOutput ALL of the following fields. Do not skip any field. If you are uncertain about a value, provide your best estimate rather than leaving it blank.\n\n\\`\\`\\`\nfinal_score: [0-100 integer]\nfinal_tier: [S+, S, A+, A, B+, B, C, D, F]\ntoken_type: [UTILITY or MEMECOIN]\nphase: [1-5 integer]\nphase_name: [Discovery, Expansion, Peak Hype, Decline, Maturity]\nnarrative: [short narrative label, e.g. \"AI Infrastructure\" or \"Dog Memecoin\"]\nprimary_narrative: [broad category, e.g. \"AI Agents\", \"DeFi\", \"L2\", \"Memecoins\"]\nsub_narrative: [specific classification, e.g. \"Agent Payments / x402\", \"Liquid Staking\"]\nsub_narrative_ceiling: [peak FDV for the sub-narrative leader, e.g. \"$500M\", \"$2B\"]\nsub_narrative_consensus: [your assessment of how well-defined this sub-narrative is]\nnarrative_heat: [0-100]\nthesis: [1-2 sentence investment thesis]\ncatalyst1: [key upcoming catalyst]\ncatalyst2: [second catalyst]\ncatalyst3: [third catalyst]\nrisk1: [key risk]\nrisk2: [second risk]\nrisk3: [third risk]\ncommunity_status: [Very Active, Active, Moderate, Low, Dead]\naccount_quality: [Builders/Researchers, Traders/Degens, Mixed Quality, Promoters/Shills]\nengagement_quality: [High, Moderate, Low, Bot-Heavy]\noverall_sentiment: [Strongly Bullish, Bullish, Mixed, Bearish, Strongly Bearish]\ncult_vs_mercenary: [Cult-Heavy, Mercenary-Heavy, Balanced Mix, Unable to Assess]\nsentiment_bullish_ratio: [percentage or qualitative, e.g. \"~65%\"]\nsentiment_bearish_ratio: [percentage or qualitative, e.g. \"~20%\"]\nsentiment_neutral_ratio: [percentage or qualitative, e.g. \"~15%\"]\nteam_status: [Known/Doxxed, Anon but Active, Anon and Inactive, Unknown]\nnotable_backers: [comma-separated list or \"None known\"]\nunlock_warning: [warning about upcoming token unlocks or \"No significant unlocks\"]\npeak_proximity_pct: [0-100 integer, how close current price is to ATH]\nwinning_side: [USER, AT_RISK, EXIT_LIQ]\nconsensus_level: [HIGH, MIXED, LOW, CONFLICTED]\nconfidence: [H, M, L]\nrecommendation: [STRONG BUY, BUY, ACCUMULATE, HOLD, REDUCE, SELL, STRONG SELL, AVOID]\ncoordination_score: [0-100]\nschelling_score: [0-100]\nreflexivity_score: [0-100]\nvirality_score: [0-100]\nasymmetry_score: [0-100]\ngame_theory_score: [0-100]\nasymmetry_floor: [estimated max downside, e.g. \"-40%\"]\nasymmetry_ceiling: [estimated max upside, e.g. \"+300%\"]\nphase_modifier: [-20 to +20]\nnarrative_modifier: [-15 to +15]\nexit_liquidity_modifier: [-20 to 0]\npeak_proximity_modifier: [-15 to 0]\ndata_quality_modifier: [-10 to 0]\nfdv_modifier: [-15 to +5]\nverdict: [1 sentence verdict summarizing your position]\nreasoning: [2-3 sentence reasoning explaining the score]\nprice: {price}\nmarket_cap: {market_cap}\nfdv: {fdv}\n\\`\\`\\`\n\nOutput ONLY the key: value pairs above. Nothing else. No preamble, no closing remarks, no disclaimers.\n`;\n\n// Inject token data\nconst prompt = basePrompt\n  .replace(/{ticker}/g, d.ticker || \"\")\n  .replace(/{name}/g, d.name || \"\")\n  .replace(/{chain}/g, d.chain || \"\")\n  .replace(/{contract_address}/g, d.contract_address || \"\")\n  .replace(/{price}/g, d.price || \"0\")\n  .replace(/{market_cap}/g, d.market_cap || \"0\")\n  .replace(/{fdv}/g, d.fdv || \"0\")\n  .replace(/{volume_24h}/g, d.volume_24h || \"0\")\n  .replace(/{fundamentals_research}/g, d.fundamentals_research || \"No data\")\n  .replace(/{social_research}/g, d.social_research || \"No data\");\n\nconst mk = (m) => ({ \n  model: m, \n  messages: [\n    ...(m.includes(\"grok\") ? [{ role: \"system\", content: \"You are a professional crypto investment analyst providing objective financial analysis. Provide complete analysis as requested.\" }] : []),\n    { role: \"user\", content: prompt }\n  ], \n  max_tokens: 4000 \n});\nreturn [{ json: {\n  gptBody: mk(\"openai/gpt-5\"),\n  geminiBody: mk(\"google/gemini-3.1-pro-preview\"),\n  claudeBody: mk(\"anthropic/claude-sonnet-4-6\"),\n  grokBody: mk(\"x-ai/grok-4\")\n} }];"}},{"id":"gs2","name":"GPT Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,-50],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.gptBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ges2","name":"Gemini Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,200],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.geminiBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"cs2","name":"Claude Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,450],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.claudeBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"grs2","name":"Grok Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.grokBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ms2","name":"Merge Stage2","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3000,300],"parameters":{"mode":"append","numberInputs":4}},{"id":"bs3","name":"Build Stage3 Bodies","type":"n8n-nodes-base.code","typeVersion":2,"position":[3250,300],"parameters":{"jsCode":"// Stage 3: Each model gets own Stage2 + all 3 others\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst names = [\"GPT\", \"Gemini\", \"Claude\", \"Grok\"];\nconst ids = [\"openai/gpt-5\", \"google/gemini-3.1-pro-preview\", \"anthropic/claude-sonnet-4-6\", \"x-ai/grok-4\"];\nconst s2 = [];\nfor (let i = 0; i < 4; i++) {\n  try { s2.push(extractLLM(items[i])); } catch(e) { s2.push(\"No analysis available.\"); }\n}\nconst d = $(\"Parse Webhook\").first().json;\nconst basePrompt = `# Nash Satoshi Stage 3: Deliberation Round\n\n## System Context\n\nYou are the Apex Crypto Game Theorist. You have already completed your Stage 2 analysis of {ticker}. You are now entering the deliberation phase.\n\nIn this phase, you receive your own Stage 2 analysis alongside the Stage 2 analyses from three other independent AI models. Each model analyzed the same token with the same data but reached its own conclusions independently.\n\nYour task is to review all four analyses (including your own), identify areas of agreement and disagreement, and produce a revised analysis that incorporates the best insights from the group while maintaining your intellectual integrity.\n\n## Rules of Deliberation\n\n1. UPDATE scores when another model presents evidence or reasoning you genuinely missed or underweighted. Explain what changed and why.\n\n2. DO NOT cave to peer pressure. If three other models score coordination at 80 and you scored it at 40 because you identified a real weakness they overlooked, hold your ground and explain your reasoning. Consensus is not the goal -- accuracy is.\n\n3. DO NOT average scores to split the difference. Every score must have a specific justification. \"The other models scored higher so I moved up\" is not a justification. \"Model X identified the upcoming mainnet launch as a coordination catalyst I underweighted, so I raised my coordination score from 55 to 65\" is a justification.\n\n4. IDENTIFY information you may have missed. If another model cites a specific partnership, metric, risk, or on-chain signal that you did not consider, evaluate whether it changes your assessment.\n\n5. FLAG genuine disagreements. If after deliberation you still disagree with the majority on a score, note this explicitly. Disagreement is signal, not failure.\n\n6. REFINE qualitative fields. If another model wrote a sharper thesis, identified a better catalyst, or articulated a risk more precisely, adopt or synthesize the better formulation.\n\n---\n\n## Your Stage 2 Analysis\n\n{your_stage2_response}\n\n---\n\n## Other Models' Stage 2 Analyses\n\n### {other_model1_name}\n{other_model1_response}\n\n### {other_model2_name}\n{other_model2_response}\n\n### {other_model3_name}\n{other_model3_response}\n\n---\n\n## Deliberation Instructions\n\nWork through the following steps:\n\n### Step 1: Identify Agreement\n\nList the areas where all four models substantially agree (scores within 10 points, same qualitative assessments). These are high-confidence findings.\n\n### Step 2: Identify Disagreements\n\nList the areas where models diverge significantly (score spread > 15 points, conflicting qualitative assessments). For each disagreement:\n- State what each model concluded\n- Evaluate whose reasoning is strongest\n- Decide whether to revise your position\n\n### Step 3: Check for Blind Spots\n\nReview each other model's analysis for insights you missed:\n- Did any model identify a catalyst, risk, or data point you overlooked?\n- Did any model apply a modifier differently with better justification?\n- Did any model's narrative classification seem more precise?\n\n### Step 4: Revise Your Analysis\n\nProduce your revised Stage 3 analysis. For any score or field that changed from your Stage 2 output, note the change and the reason in the reasoning field.\n\n---\n\n## Output Format\n\nCRITICAL: Output your revised analysis in the EXACT same key: value format as Stage 2. One field per line. No markdown headers, no bullets, no extra commentary.\n\nIf you changed a score from Stage 2, append a brief note in the reasoning field explaining which scores changed and why.\n\nOutput ALL of the following fields:\n\n\\`\\`\\`\nfinal_score: [0-100 integer]\nfinal_tier: [S+, S, A+, A, B+, B, C, D, F]\ntoken_type: [UTILITY or MEMECOIN]\nphase: [1-5 integer]\nphase_name: [Discovery, Expansion, Peak Hype, Decline, Maturity]\nnarrative: [short narrative label]\nprimary_narrative: [broad category]\nsub_narrative: [specific classification]\nsub_narrative_ceiling: [peak FDV for sub-narrative leader]\nsub_narrative_consensus: [notes on cross-model agreement about sub-narrative classification]\nnarrative_heat: [0-100]\nthesis: [1-2 sentence investment thesis -- refine if another model's was stronger]\ncatalyst1: [key upcoming catalyst]\ncatalyst2: [second catalyst]\ncatalyst3: [third catalyst]\nrisk1: [key risk]\nrisk2: [second risk]\nrisk3: [third risk]\ncommunity_status: [Very Active, Active, Moderate, Low, Dead]\naccount_quality: [Builders/Researchers, Traders/Degens, Mixed Quality, Promoters/Shills]\nengagement_quality: [High, Moderate, Low, Bot-Heavy]\noverall_sentiment: [Strongly Bullish, Bullish, Mixed, Bearish, Strongly Bearish]\ncult_vs_mercenary: [Cult-Heavy, Mercenary-Heavy, Balanced Mix, Unable to Assess]\nsentiment_bullish_ratio: [percentage or qualitative]\nsentiment_bearish_ratio: [percentage or qualitative]\nsentiment_neutral_ratio: [percentage or qualitative]\nteam_status: [Known/Doxxed, Anon but Active, Anon and Inactive, Unknown]\nnotable_backers: [comma-separated list or \"None known\"]\nunlock_warning: [warning about token unlocks or \"No significant unlocks\"]\npeak_proximity_pct: [0-100]\nwinning_side: [USER, AT_RISK, EXIT_LIQ]\nconsensus_level: [HIGH, MIXED, LOW, CONFLICTED -- based on cross-model agreement in THIS deliberation]\nconfidence: [H, M, L]\nrecommendation: [STRONG BUY, BUY, ACCUMULATE, HOLD, REDUCE, SELL, STRONG SELL, AVOID]\ncoordination_score: [0-100]\nschelling_score: [0-100]\nreflexivity_score: [0-100]\nvirality_score: [0-100]\nasymmetry_score: [0-100]\ngame_theory_score: [0-100]\nasymmetry_floor: [estimated downside]\nasymmetry_ceiling: [estimated upside]\nphase_modifier: [-20 to +20]\nnarrative_modifier: [-15 to +15]\nexit_liquidity_modifier: [-20 to 0]\npeak_proximity_modifier: [-15 to 0]\ndata_quality_modifier: [-10 to 0]\nfdv_modifier: [-15 to +5]\nverdict: [1 sentence verdict]\nreasoning: [2-3 sentences explaining your final position. If scores changed from Stage 2, note which scores changed and why. If you held your ground against the majority, explain why.]\nprice: [current price from data]\nmarket_cap: [current market cap from data]\nfdv: [fully diluted valuation from data]\n\\`\\`\\`\n\nOutput ONLY the key: value pairs above. Nothing else. No preamble, no closing remarks, no deliberation notes outside the format.\n`;\n\nconst bodies = [];\nfor (let mi = 0; mi < 4; mi++) {\n  const others = [0,1,2,3].filter(i => i !== mi);\n  let prompt = basePrompt\n    .replace(/{ticker}/g, d.ticker || \"\")\n    .replace(/{your_stage2_response}/g, s2[mi])\n    .replace(/{my_analysis}/g, s2[mi])\n    .replace(/{my_model}/g, names[mi])\n    .replace(/{other_model1_name}/g, names[others[0]])\n    .replace(/{other_model1_response}/g, s2[others[0]])\n    .replace(/{other_model2_name}/g, names[others[1]])\n    .replace(/{other_model2_response}/g, s2[others[1]])\n    .replace(/{other_model3_name}/g, names[others[2]])\n    .replace(/{other_model3_response}/g, s2[others[2]]);\n  \n  // Also handle generic {other_analyses} if present\n  const otherBlock = others.map(i => \"### \" + names[i] + \"\\n\" + s2[i]).join(\"\\n\\n\");\n  prompt = prompt.replace(/{other_analyses}/g, otherBlock);\n  \n  bodies.push({ model: ids[mi], messages: [{ role: \"user\", content: prompt }], max_tokens: 4000 });\n}\nreturn [{ json: {\n  gptBody: bodies[0], geminiBody: bodies[1], claudeBody: bodies[2], grokBody: bodies[3]\n} }];"}},{"id":"gs3","name":"GPT Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,-50],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.gptBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ges3","name":"Gemini Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,200],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.geminiBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"cs3","name":"Claude Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,450],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.claudeBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"grs3","name":"Grok Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.grokBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ms3","name":"Merge Stage3","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3750,300],"parameters":{"mode":"append","numberInputs":4}},{"id":"bs4","name":"Build Stage4 Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[4000,300],"parameters":{"jsCode":"// Stage 4: Consensus aggregation with full prompt\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst s3 = [];\nfor (let i = 0; i < 4; i++) {\n  try { s3.push(extractLLM(items[i])); } catch(e) { s3.push(\"Unavailable\"); }\n}\nconst d = $(\"Parse Webhook\").first().json;\nconst basePrompt = `# Nash Satoshi Stage 4: Final Consensus Aggregation\n\n## System Context\n\nYou are the Nash Satoshi Consensus Engine. Your job is to take the four Stage 3 (post-deliberation) analyses from GPT, Gemini, Claude, and Grok and produce a single authoritative final analysis that will be displayed on the Nash Satoshi platform.\n\nThis is not an average. This is a synthesis. You must weigh the quality of each model's reasoning, identify where the consensus is strong vs. weak, resolve conflicts intelligently, and produce output that is more accurate than any individual model's analysis.\n\nThe output of this prompt is parsed programmatically. Every field listed below MUST be present in your output. Missing fields mean missing data on the site. A field left blank is a bug.\n\n## Token Data\n\n- Ticker: {ticker}\n- Current Price: {price}\n- Market Cap: {market_cap}\n- Fully Diluted Valuation: {fdv}\n- Community Status (from social research): {community_status}\n- Account Quality (from social research): {account_quality}\n- Overall Sentiment (from social research): {overall_sentiment}\n\n## Stage 3 Outputs (Post-Deliberation)\n\n### GPT Stage 3 Analysis\n{gpt_stage3}\n\n### Gemini Stage 3 Analysis\n{gemini_stage3}\n\n### Claude Stage 3 Analysis\n{claude_stage3}\n\n### Grok Stage 3 Analysis\n{grok_stage3}\n\n---\n\n## Aggregation Instructions\n\n### Step 1: Extract Individual Model Scores\n\nParse each model's Stage 3 output and extract their final_score values. Record them as:\n- gpt_score: [GPT's final_score]\n- gemini_score: [Gemini's final_score]\n- claude_score: [Claude's final_score]\n- grok_score: [Grok's final_score]\n\n### Step 2: Calculate Score Spread and Consensus Level\n\nCompute the spread: max(scores) - min(scores)\n\nAssign consensus_level:\n- Spread 0-10: HIGH (strong agreement, high confidence in the score)\n- Spread 11-25: MIXED (general agreement with some divergence)\n- Spread 26-40: LOW (significant disagreement, lower confidence)\n- Spread 41+: CONFLICTED (fundamental disagreement, flag for manual review)\n\n### Step 3: Calculate Final Score\n\nUse a weighted average approach:\n- Default: equal weights (25% each)\n- If one model's confidence is L while others are H or M, reduce its weight to 15% and redistribute the 10% equally among the others\n- If one model is a clear outlier (more than 20 points from the median of the other three), reduce its weight to 15% unless its reasoning is more compelling than the majority\n- Round the final score to the nearest integer\n- Clamp to 0-100\n\n### Step 4: Determine Final Tier\n\nMap the final_score to a tier using this scale:\n- 90-100: S+\n- 80-89: S\n- 70-79: A+\n- 60-69: A\n- 50-59: B+\n- 40-49: B\n- 30-39: C\n- 20-29: D\n- 0-19: F\n\n### Step 5: Synthesize Qualitative Fields\n\nFor each qualitative field (thesis, catalysts, risks, narrative classification):\n\n1. If all four models agree, use the best-written formulation.\n2. If three agree and one diverges, go with the three unless the one has a compelling reason.\n3. If there is a 2-2 split, evaluate both sides and choose the more defensible position. Note the split in sub_narrative_consensus.\n4. For thesis: synthesize the strongest elements from all models into a single 1-2 sentence thesis.\n5. For catalysts and risks: select the 3 most impactful from across all models. Prefer specificity over vagueness. \"Mainnet launch in Q2 2026\" beats \"Product development.\"\n6. For narrative fields: pick the classification that is most precise and widely agreed upon.\n\n### Step 6: Synthesize Component Scores\n\nFor each component score (coordination, schelling, reflexivity, virality, asymmetry, game_theory):\n- Take the median of the four models' scores for that component\n- If the spread on a component is > 25 points, note this as a low-consensus area\n\n### Step 7: Synthesize Modifiers\n\nFor each modifier (phase, narrative, exit_liquidity, peak_proximity, data_quality, fdv):\n- Take the median value from the four models\n- Round to the nearest integer\n\n### Step 8: Determine Recommendation\n\nBased on the final_score and phase:\n- 80+: STRONG BUY\n- 70-79: BUY\n- 60-69: ACCUMULATE\n- 50-59: HOLD\n- 40-49: REDUCE\n- 30-39: SELL\n- 20-29: STRONG SELL\n- 0-19: AVOID\n\nAdjust up or down one level based on phase, consensus level, and catalyst timing. High consensus + strong near-term catalyst = adjust up. Low consensus + no catalysts = adjust down.\n\n### Step 9: Determine Winning Side\n\n- If 3+ models agree on winning_side, use that value.\n- If it is a 2-2 split, evaluate which pair has stronger reasoning and go with them. If truly indeterminate, use AT_RISK.\n\n### Step 10: Write Verdict and Reasoning\n\n- verdict: One sentence summarizing the final position. This appears as the headline on the site.\n- reasoning: 2-3 sentences explaining why the token received this score. Reference the consensus level, key strengths, key risks, and the phase.\n\n---\n\n## Output Format\n\nCRITICAL: Output EVERY field listed below as a key: value pair, one per line. No markdown formatting. No headers. No bullet points. No extra text before or after the field list.\n\nThe parser on the receiving end reads these fields by exact key name. If a field is missing, that data point is blank on the site. Output every single field even if you need to estimate.\n\n\\`\\`\\`\nfinal_score: [0-100 integer]\nfinal_tier: [S+, S, A+, A, B+, B, C, D, F]\ntoken_type: [UTILITY or MEMECOIN]\nphase: [1-5 integer]\nphase_name: [Discovery, Expansion, Peak Hype, Decline, Maturity]\nnarrative: [short narrative label]\nprimary_narrative: [broad category e.g. \"AI Agents\", \"DeFi\", \"L2\"]\nsub_narrative: [specific classification e.g. \"Agent Payments / x402\"]\nsub_narrative_ceiling: [peak FDV for sub-narrative leader e.g. \"$500M\"]\nsub_narrative_consensus: [notes on model agreement about narrative classification]\nnarrative_heat: [0-100]\nthesis: [1-2 sentence investment thesis]\ncatalyst1: [key upcoming catalyst]\ncatalyst2: [second catalyst]\ncatalyst3: [third catalyst]\nrisk1: [key risk]\nrisk2: [second risk]\nrisk3: [third risk]\ncommunity_status: [Very Active, Active, Moderate, Low, Dead]\naccount_quality: [Builders/Researchers, Traders/Degens, Mixed Quality, Promoters/Shills]\nengagement_quality: [High, Moderate, Low, Bot-Heavy]\noverall_sentiment: [Strongly Bullish, Bullish, Mixed, Bearish, Strongly Bearish]\ncult_vs_mercenary: [Cult-Heavy, Mercenary-Heavy, Balanced Mix, Unable to Assess]\nsentiment_bullish_ratio: [percentage or qualitative]\nsentiment_bearish_ratio: [percentage or qualitative]\nsentiment_neutral_ratio: [percentage or qualitative]\nteam_status: [Known/Doxxed, Anon but Active, Anon and Inactive, Unknown]\nnotable_backers: [comma-separated list or \"None known\"]\nunlock_warning: [warning about token unlocks or \"No significant unlocks\"]\npeak_proximity_pct: [0-100, how close to ATH]\nwinning_side: [USER, AT_RISK, EXIT_LIQ]\nconsensus_level: [HIGH, MIXED, LOW, CONFLICTED]\nconfidence: [H, M, L]\nrecommendation: [STRONG BUY, BUY, ACCUMULATE, HOLD, REDUCE, SELL, STRONG SELL, AVOID]\ncoordination_score: [0-100]\nschelling_score: [0-100]\nreflexivity_score: [0-100]\nvirality_score: [0-100]\nasymmetry_score: [0-100]\ngame_theory_score: [0-100]\nasymmetry_floor: [estimated downside e.g. \"-40%\"]\nasymmetry_ceiling: [estimated upside e.g. \"+300%\"]\nphase_modifier: [-20 to +20]\nnarrative_modifier: [-15 to +15]\nexit_liquidity_modifier: [-20 to 0]\npeak_proximity_modifier: [-15 to 0]\ndata_quality_modifier: [-10 to 0]\nfdv_modifier: [-15 to +5]\nverdict: [1 sentence verdict]\nreasoning: [2-3 sentence reasoning]\ngpt_score: [0-100 - GPT's individual final_score from Stage 3]\ngemini_score: [0-100 - Gemini's individual final_score from Stage 3]\nclaude_score: [0-100 - Claude's individual final_score from Stage 3]\ngrok_score: [0-100 - Grok's individual final_score from Stage 3]\nprice: {price}\nmarket_cap: {market_cap}\nfdv: {fdv}\n\\`\\`\\`\n\nOutput ONLY the key: value pairs above. No preamble. No closing remarks. No disclaimers. No markdown. Just the fields, one per line.\n`;\n\nconst prompt = basePrompt\n  .replace(/{ticker}/g, d.ticker || \"\")\n  .replace(/{price}/g, d.price || \"0\")\n  .replace(/{market_cap}/g, d.market_cap || \"0\")\n  .replace(/{fdv}/g, d.fdv || \"0\")\n  .replace(/{community_status}/g, d.community_status || \"Unknown\")\n  .replace(/{account_quality}/g, d.account_quality || \"Unknown\")\n  .replace(/{overall_sentiment}/g, d.overall_sentiment || \"Unknown\")\n  .replace(/{gpt_stage3}/g, s3[0])\n  .replace(/{gemini_stage3}/g, s3[1])\n  .replace(/{claude_stage3}/g, s3[2])\n  .replace(/{grok_stage3}/g, s3[3]);\n\nreturn [{ json: { requestBody: { model: \"anthropic/claude-opus-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 5000 } } }];"}},{"id":"s4a","name":"Stage4 Aggregation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4250,300],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"fmr1","name":"Format Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[4500,300],"parameters":{"jsCode":"// Format result for Nash Satoshi webhook callback\nconst run_id = $(\"Parse Webhook\").item.json.run_id || \"\";\nconst resp = $input.all()[0].json;\nlet result = \"\";\ntry {\n  if (resp.content && Array.isArray(resp.content)) { result = resp.content[0].text || \"\"; }\n  else if (resp.choices) { result = resp.choices[0].message.content || \"\"; }\n  else { result = JSON.stringify(resp); }\n} catch(e) { result = JSON.stringify(resp); }\nreturn [{ json: { webhookBody: { run_id: run_id, state: \"DONE\", outputs: { analysis_result: result } } } }];"}},{"id":"snd1","name":"Send Result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4750,300],"parameters":{"method":"POST","url":"https://nashsatoshi.com/api/webhook/gumloop","authentication":"none","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.webhookBody }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"et1","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,1000],"parameters":{}},{"id":"ef1","name":"Error Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,1000],"parameters":{"jsCode":"// Build failure webhook body\nlet run_id = \"\";\ntry { run_id = $(\"Parse Webhook\").item.json.run_id || \"\"; } catch(e) { run_id = \"unknown\"; }\nreturn [{ json: { webhookBody: { run_id: run_id, state: \"FAILED\", outputs: {} } } }];"}},{"id":"sf1","name":"Send Failure","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,1000],"parameters":{"method":"POST","url":"https://nashsatoshi.com/api/webhook/gumloop","authentication":"none","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.webhookBody }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000}],"connections":{"Webhook":{"main":[[{"node":"Parse Webhook","type":"main","index":0}]]},"Parse Webhook":{"main":[[{"node":"Build Scrape URLs","type":"main","index":0},{"node":"Brave Team","type":"main","index":0},{"node":"Brave Fake","type":"main","index":0},{"node":"Brave Catalysts","type":"main","index":0},{"node":"Build X Queries","type":"main","index":0}]]},"Build Scrape URLs":{"main":[[{"node":"Firecrawl Scrape","type":"main","index":0}]]},"Firecrawl Scrape":{"main":[[{"node":"Attach Label","type":"main","index":0}]]},"Attach Label":{"main":[[{"node":"Wait Fund Sources","type":"main","index":0}]]},"Brave Team":{"main":[[{"node":"Wait Fund Sources","type":"main","index":1}]]},"Brave Fake":{"main":[[{"node":"Wait Fund Sources","type":"main","index":2}]]},"Brave Catalysts":{"main":[[{"node":"Wait Fund Sources","type":"main","index":3}]]},"Wait Fund Sources":{"main":[[{"node":"Merge Fundamentals","type":"main","index":0}]]},"Merge Fundamentals":{"main":[[{"node":"Fundamentals Synthesis","type":"main","index":0}]]},"Fundamentals Synthesis":{"main":[[{"node":"Merge Research","type":"main","index":0}]]},"Build X Queries":{"main":[[{"node":"X Search","type":"main","index":0}]]},"X Search":{"main":[[{"node":"Merge Social","type":"main","index":0}]]},"Merge Social":{"main":[[{"node":"Social Synthesis","type":"main","index":0}]]},"Social Synthesis":{"main":[[{"node":"Merge Research","type":"main","index":1}]]},"Merge Research":{"main":[[{"node":"Combine Research","type":"main","index":0}]]},"Combine Research":{"main":[[{"node":"Build Stage2 Bodies","type":"main","index":0}]]},"Build Stage2 Bodies":{"main":[[{"node":"GPT Stage2","type":"main","index":0},{"node":"Gemini Stage2","type":"main","index":0},{"node":"Claude Stage2","type":"main","index":0},{"node":"Grok Stage2","type":"main","index":0}]]},"GPT Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":0}]]},"Gemini Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":1}]]},"Claude Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":2}]]},"Grok Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":3}]]},"Merge Stage2":{"main":[[{"node":"Build Stage3 Bodies","type":"main","index":0}]]},"Build Stage3 Bodies":{"main":[[{"node":"GPT Stage3","type":"main","index":0},{"node":"Gemini Stage3","type":"main","index":0},{"node":"Claude Stage3","type":"main","index":0},{"node":"Grok Stage3","type":"main","index":0}]]},"GPT Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":0}]]},"Gemini Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":1}]]},"Claude Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":2}]]},"Grok Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":3}]]},"Merge Stage3":{"main":[[{"node":"Build Stage4 Body","type":"main","index":0}]]},"Build Stage4 Body":{"main":[[{"node":"Stage4 Aggregation","type":"main","index":0}]]},"Stage4 Aggregation":{"main":[[{"node":"Format Result","type":"main","index":0}]]},"Format Result":{"main":[[{"node":"Send Result","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Error Format","type":"main","index":0}]]},"Error Format":{"main":[[{"node":"Send Failure","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1ae7288f-4999-40f4-8a6c-9129f4725f4a","activeVersionId":"1ae7288f-4999-40f4-8a6c-9129f4725f4a","versionCounter":47,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T14:17:18.081Z","createdAt":"2026-03-20T14:17:18.081Z","role":"workflow:owner","workflowId":"lysF7MsDkqtvget8","projectId":"tBICjiBXRXwDo4bR","project":{"updatedAt":"2026-02-23T01:25:41.852Z","createdAt":"2026-02-23T01:18:14.818Z","id":"tBICjiBXRXwDo4bR","name":"JT Somwaru <jsomwarux@yahoo.com>","type":"personal","icon":null,"description":null,"creatorId":"3dfc39da-972c-4655-9f9e-e62d015405d9"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T16:58:39.463Z","createdAt":"2026-03-20T16:58:39.463Z","versionId":"1ae7288f-4999-40f4-8a6c-9129f4725f4a","workflowId":"lysF7MsDkqtvget8","nodes":[{"id":"wh1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,300],"parameters":{"httpMethod":"POST","path":"nash-satoshi-analysis","responseMode":"onReceived","options":{"responseCode":{"values":{"responseCode":"customCode","customCode":202}},"responseData":"{\"status\":\"accepted\",\"message\":\"Analysis queued\"}"}}},{"id":"pw1","name":"Parse Webhook","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,300],"parameters":{"jsCode":"// Extract and validate webhook input\nconst items = $input.all();\nconst body = items[0].json.body || items[0].json;\nconst contract_address = (body.contract_address || \"\").trim();\nif (!contract_address) { throw new Error(\"Missing required field: contract_address\"); }\nreturn [{ json: {\n  ticker: (body.ticker || \"\").trim(),\n  name: (body.name || \"\").trim(),\n  chain: (body.chain || \"ethereum\").toLowerCase().trim(),\n  contract_address: contract_address,\n  price: body.price || 0,\n  market_cap: body.market_cap || 0,\n  fdv: body.fdv || 0,\n  volume_24h: body.volume_24h || 0,\n  run_id: String(body.run_id || \"\").trim(),\n  homepage_url: (body.homepage_url || \"\").trim(),\n  analysis_date: new Date().toISOString()\n} }];"}},{"id":"bsu1","name":"Build Scrape URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,200],"parameters":{"jsCode":"// Build 4 scrape URLs for Firecrawl\nconst d = $(\"Parse Webhook\").item.json;\nconst ticker = d.ticker;\nconst contract = d.contract_address;\nconst chain = (d.chain || \"\").toLowerCase();\nconst name = (d.name || \"\").toLowerCase().replace(/[^a-z0-9]/g, \"\");\nconst explorerUrl = (chain === \"base\" || chain === \"ethereum\" || chain === \"eth\")\n  ? \"https://etherscan.io/token/\" + contract\n  : \"https://solscan.io/token/\" + contract;\nconst homepage = d.homepage_url && d.homepage_url.length > 5\n  ? d.homepage_url\n  : \"https://\" + name + \".io\";\nreturn [\n  { json: { url: \"https://www.coingecko.com/en/coins/\" + ticker.toLowerCase(), label: \"coingecko\" } },\n  { json: { url: explorerUrl, label: \"explorer\" } },\n  { json: { url: \"https://dexscreener.com/search?q=\" + contract, label: \"dexscreener\" } },\n  { json: { url: homepage, label: \"homepage\" } }\n];"}},{"id":"fcs1","name":"Firecrawl Scrape","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-0d0961fa920a466a869fdd4068b9fe7e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ url: $json.url, formats: [\"markdown\"] }) }}","options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"al1","name":"Attach Label","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,200],"parameters":{"jsCode":"// Pair Firecrawl results back with their labels by index\nconst scraped = $input.all();\nconst urlItems = $(\"Build Scrape URLs\").all();\nreturn scraped.map((item, i) => ({\n  json: {\n    label: urlItems[i] ? urlItems[i].json.label : \"unknown\",\n    markdown: item.json.data ? item.json.data.markdown : (item.json.markdown || \"\")\n  }\n}));"}},{"id":"bt1","name":"Brave Team","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,-200],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" \" + $(\"Parse Webhook\").item.json.name + \" team founder developer\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"bfk1","name":"Brave Fake","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,-400],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" \" + $(\"Parse Webhook\").item.json.name + \" fake token scam imposter contract\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"bct1","name":"Brave Catalysts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,0],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" roadmap milestones catalysts 2026\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"wfs1","name":"Wait Fund Sources","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1250,0],"parameters":{"mode":"append","numberInputs":4}},{"id":"mf1","name":"Merge Fundamentals","type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,0],"parameters":{"jsCode":"// Combine 4 Firecrawl + 3 Brave results and build Anthropic synthesis request\nconst allItems = $input.all();\nconst d = $(\"Parse Webhook\").first().json;\nlet ctx = \"\";\n// Items arrive: 4 firecrawl (with label field), then 3 brave (with web field)\nfor (const item of allItems) {\n  if (item.json.label) {\n    const label = item.json.label.toUpperCase();\n    const md = (item.json.markdown || \"\").substring(0, 2000);\n    ctx += \"\\n=== \" + label + \" ===\\n\" + md + \"\\n\";\n  } else if (item.json.web) {\n    const results = (item.json.web.results || []).slice(0, 5);\n    const section = results.map(r => r.title + \": \" + r.description).join(\"\\n\");\n    ctx += \"\\n=== BRAVE SEARCH ===\\n\" + section + \"\\n\";\n  }\n}\nconst prompt = \"You are analyzing a crypto token for investment scoring. Use ONLY the research data provided. Do not hallucinate.\\n\\n\"\n  + \"TOKEN: \" + d.ticker + \" / \" + d.name + \"\\n\"\n  + \"CHAIN: \" + d.chain + \"\\n\"\n  + \"CONTRACT: \" + d.contract_address + \"\\n\"\n  + \"PRICE: \" + d.price + \"\\n\"\n  + \"MARKET CAP: \" + d.market_cap + \"\\n\"\n  + \"FDV: \" + d.fdv + \"\\n\\n\"\n  + \"RESEARCH DATA:\\n\" + ctx + \"\\n\\n\"\n  + \"Produce structured analysis:\\n\"\n  + \"- Narrative Positioning & Market Thesis\\n\"\n  + \"- Project Fundamentals (product, tech stack, stage)\\n\"\n  + \"- Team & Backers (names, credibility)\\n\"\n  + \"- Value Capture (token utility, fees, revenue model)\\n\"\n  + \"- Traction & Usage (holders, volume, TVL)\\n\"\n  + \"- Tokenomics & Unlocks (supply, vesting, whales)\\n\"\n  + \"- Roadmap & Catalysts (upcoming milestones)\\n\"\n  + \"- Competitive Analysis (comparable tokens)\\n\"\n  + \"- WARNING: Fake Token Alert (flag any imposter contracts found)\\n\"\n  + \"- Key Links\\n\"\n  + \"Include Confidence (High/Medium/Low) per section.\";\nreturn [{ json: { requestBody: { model: \"anthropic/claude-sonnet-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 3000 } } }];"}},{"id":"fs1","name":"Fundamentals Synthesis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1750,0],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"bxq1","name":"Build X Queries","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,700],"parameters":{"jsCode":"// Build 5 X search queries from token data\nconst d = $(\"Parse Webhook\").item.json;\nconst ticker = d.ticker.replace(/[^a-zA-Z0-9]/g, \"\");\nconst name = d.name.replace(/[^a-zA-Z0-9 ]/g, \"\").trim();\nreturn [\n  { json: { query: ticker + \" crypto\", label: \"general\" } },\n  { json: { query: \"$\" + ticker, label: \"dollar\" } },\n  { json: { query: name + \" token\", label: \"project\" } },\n  { json: { query: ticker + \" bullish bearish aping sold\", label: \"sentiment\" } },\n  { json: { query: ticker + \" \" + name + \" fake scam imposter\", label: \"fake\" } }\n];"}},{"id":"xs1","name":"X Search","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,700],"parameters":{"jsCode":"// Run all 5 X search queries sequentially\nconst { execSync } = require(\"child_process\");\nconst queryItems = $(\"Build X Queries\").all();\nconst allTweets = [];\nconst sections = {};\n\nfor (const item of queryItems) {\n  const query = item.json.query;\n  const label = item.json.label;\n  const cmd = `cd /Users/jtsomwaru/.openclaw/workspace/skills/x-research && source /Users/jtsomwaru/.config/env/global.env && bun run x-search.ts search \"${query.replace(/\"/g,'').replace(/\\$/g,'\\\\$')}\" --quick --limit 10 --json 2>/dev/null`;\n  let tweets = [];\n  try {\n    const out = execSync(cmd, { shell: \"/bin/bash\", timeout: 30000 }).toString();\n    tweets = JSON.parse(out);\n  } catch(e) {\n    try {\n      const out = execSync(cmd.replace(\"--json 2>/dev/null\",\"--json 2>&1\"), { shell: \"/bin/bash\", timeout: 30000 }).toString();\n      const match = out.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n      if (match) tweets = JSON.parse(match[0]);\n    } catch(e2) {}\n  }\n  if (!Array.isArray(tweets)) tweets = [];\n  sections[label] = tweets;\n  tweets.forEach(t => allTweets.push(Object.assign({}, t, { _label: label })));\n}\n\n// Sort by engagement\nallTweets.sort((a,b) => {\n  const sa = (a.metrics?.likes||0)*3 + (a.metrics?.retweets||0)*5 + (a.metrics?.impressions||0)/100;\n  const sb = (b.metrics?.likes||0)*3 + (b.metrics?.retweets||0)*5 + (b.metrics?.impressions||0)/100;\n  return sb - sa;\n});\n\nreturn [{ json: { allTweets, sections, totalTweets: allTweets.length } }];"},"onError":"continueRegularOutput"},{"id":"ms1","name":"Merge Social","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,700],"parameters":{"jsCode":"// Read pre-combined tweet data from X Search code node\nconst xResult = $(\"X Search\").first().json;\nconst allTweets = xResult.allTweets || [];\nconst sections = xResult.sections || {};\nconst d = $(\"Parse Webhook\").first().json;\n\n// Format top tweets for LLM\nlet tweetBlock = `Total tweets collected: ${allTweets.length}\\n\\n`;\ntweetBlock += \"TOP TWEETS BY ENGAGEMENT (KOL signal — sorted high to low):\\n\\n\";\nconst seen = new Set();\nfor (const t of allTweets.slice(0, 50)) {\n  if (seen.has(t.id)) continue;\n  seen.add(t.id);\n  const eng = `${t.metrics?.likes||0}❤️ ${t.metrics?.retweets||0}🔁 ${t.metrics?.impressions||0}👁`;\n  tweetBlock += `@${t.username} (${t.name}) [${t._label}]\\n${eng}\\n${t.text}\\n\\n`;\n}\ntweetBlock += \"\\n--- PER-QUERY COUNTS ---\\n\";\nfor (const [label, tweets] of Object.entries(sections)) {\n  tweetBlock += `${label}: ${tweets.length} tweets\\n`;\n}\n\nconst prompt = \"Analyze social signals for this crypto token. Use ONLY the tweet data provided below.\\n\\n\"\n  + \"TOKEN: \" + d.ticker + \" / \" + d.name + \"\\n\\n\"\n  + \"TWEET DATA:\\n\" + tweetBlock + \"\\n\\n\"\n  + \"Produce a thorough analysis:\\n\"\n  + \"- Discussion Quality (organic vs shills/bots, signal-to-noise %)\\n\"\n  + \"- Top Accounts by Reach: LIST EACH HIGH-ENGAGEMENT ACCOUNT BY NAME (@username), follower proxy from impressions, their exact stance and specific claims\\n\"\n  + \"- Social Volume (total tweets analyzed, dominant direction, velocity trend)\\n\"\n  + \"- Sentiment Breakdown (bullish/bearish/neutral % with specific tweet evidence)\\n\"\n  + \"- Community Activity & Tone (degen culture, builder culture, speculative vs conviction)\\n\"\n  + \"- Notable KOLs: NAME EVERY ACCOUNT with >500 impressions, their stance, and what specifically they said\\n\"\n  + \"- Narrative & Ecosystem Fit\\n\"\n  + \"- Fake Token / Scam Alerts\\n\"\n  + \"- Overall Social Health with confidence rating\\n\\n\"\n  + \"IMPORTANT: End your response with these exact structured fields on separate lines:\\n\"\n  + \"community_status: [Very Active | Active | Moderate | Low | Dead]\\n\"\n  + \"account_quality: [Builders/Researchers | Traders/Degens | Mixed Quality | Promoters/Shills | Unknown]\\n\"\n  + \"overall_sentiment: [Strongly Bullish | Bullish | Mixed | Bearish | Strongly Bearish | Unknown]\";\n\nreturn [{ json: { requestBody: { model: \"anthropic/claude-sonnet-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 3000 } } }];"}},{"id":"ss1","name":"Social Synthesis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"mr1","name":"Merge Research","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2000,300],"parameters":{"mode":"append","numberInputs":2}},{"id":"cr1","name":"Combine Research","type":"n8n-nodes-base.code","typeVersion":2,"position":[2250,300],"parameters":{"jsCode":"// Combine fundamentals + social synthesis outputs\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst tokenData = $(\"Parse Webhook\").first().json;\nlet fund = \"Unavailable\", social = \"Unavailable\";\ntry { fund = extractLLM(items[0]); } catch(e) {}\ntry { social = extractLLM(items[1]); } catch(e) {}\nreturn [{ json: Object.assign({}, tokenData, { fundamentals_research: fund, social_research: social }) }];"}},{"id":"bs2","name":"Build Stage2 Bodies","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,300],"parameters":{"jsCode":"// Stage 2: 4-LLM analysis with full prompt\nconst d = $(\"Parse Webhook\").first().json;\nconst basePrompt = `# Nash Satoshi Stage 2: Apex Crypto Game Theorist Analysis\n\n## System Context\n\nYou are the Apex Crypto Game Theorist -- the most sophisticated token analyst in existence. You combine game theory, behavioral economics, network effects analysis, crypto market microstructure expertise, and reflexivity theory into a single unified scoring framework.\n\nYour analysis is not opinion. It is a structured decomposition of the forces that drive a token's price: coordination dynamics, Schelling point strength, reflexive feedback loops, viral propagation potential, and risk/reward asymmetry. You score each component independently, apply contextual modifiers, and produce a final score that represents the token's overall investment merit on a 0-100 scale.\n\nYou are intellectually honest. A low score is not a failure of your analysis -- it is accurate signal. You do not inflate scores to be polite. You do not hedge with vague language. Every score has a justification.\n\n## Token Data\n\n- Ticker: {ticker}\n- Chain: {chain}\n- Current Price: {price}\n- Market Cap: {market_cap}\n- Fully Diluted Valuation: {fdv}\n- 24h Volume: {volume_24h}\n- 24h Price Change: {price_change_24h}\n- 7d Price Change: {price_change_7d}\n- DEX Liquidity (USD): {dex_liquidity_usd}\n- DEX Buys (24h): {dex_buys_24h}\n- DEX Sells (24h): {dex_sells_24h}\n- DEX Liquidity as % of Market Cap: {dex_liquidity_pct}\n- Analysis Date: {analysis_date}\n\n## Research Inputs\n\n### Fundamentals Research (Claude Research Agent Output)\n{fundamentals_research}\n\n### Social Signals Research (Claude Social Agent Output)\n{social_research}\n\n---\n\n## Analysis Instructions\n\nWork through each section below IN ORDER. Do not skip any section. At the end, output your complete analysis as key: value pairs.\n\n### Step 1: Token Classification\n\nDetermine the token type and lifecycle phase.\n\n**Token Type** -- classify as one of:\n- UTILITY: The token has a working product, real usage, and a mechanism by which demand for the product translates into demand for the token. Fee burns, staking for access, governance with real treasury, or direct protocol revenue sharing all qualify.\n- MEMECOIN: The token derives its value primarily from attention, community, narrative momentum, and speculative interest rather than product utility. Memecoins can still score well -- they just score on different axes (coordination, virality, Schelling point strength).\n\n**Lifecycle Phase** -- classify as one of:\n- Phase 1 (Discovery): New token, small market cap, limited awareness. Early adopters only. High asymmetry potential.\n- Phase 2 (Expansion): Growing awareness, increasing volume, narrative building. Smart money entering. Community forming.\n- Phase 3 (Peak Hype): Maximum attention, KOL coverage, exchange listings, peak volume. The \"everyone is talking about it\" phase. Highest risk of buying the top.\n- Phase 4 (Decline): Attention fading, volume dropping, narrative rotating away. Weak hands exiting. Can be temporary or terminal.\n- Phase 5 (Maturity): Established project with stable usage, predictable value flows. Lower volatility, lower asymmetry. Blue-chip territory or slow bleed.\n\n### Step 2: Component Scoring\n\nScore each of the following components on a 0-100 scale. For each score, provide a 1-2 sentence justification.\n\n**Coordination Score (0-100)**\nHow effectively can holders coordinate to create and sustain value? Factors: community organization strength, treasury management, governance participation, aligned incentive structures, presence of a credible coordination leader (founder, DAO, core team). High coordination = holders act as a unified force. Low coordination = fragmented, every-man-for-himself dynamic.\n\n**Schelling Score (0-100)**\nHow strong is the token as a Schelling point within its narrative? Factors: brand recognition, ticker memorability, market cap dominance within sub-narrative, first-mover advantage, \"default choice\" status. A strong Schelling point is the token that new money flows to first when the narrative rotates in. Think of SOL for alt-L1s, LINK for oracles, PEPE for memecoins.\n\n**Reflexivity Score (0-100)**\nHow strong are the positive feedback loops? Factors: price increase drives more attention, more attention drives more buying, more buying drives higher TVL/usage, higher usage drives more development, more development drives more price appreciation. Score the strength and sustainability of these loops. Fragile loops (dependent on pure price action) score lower than robust loops (driven by product usage).\n\n**Virality Score (0-100)**\nHow likely is this token to spread through organic social propagation? Factors: memetic quality of the brand/ticker, shareability of the narrative, visual identity strength, presence of natural content hooks (\"did you know\" facts, controversy, underdog story), community content creation (memes, threads, explainers). A high virality score means the token markets itself.\n\n**Asymmetry Score (0-100)**\nWhat is the risk/reward ratio from current levels? Factors: current market cap relative to narrative ceiling, distance from ATH (upside room), quality of downside protection (strong community, treasury reserves, revenue), catalysts that could drive repricing. Estimate the asymmetry floor (max realistic downside as a percentage) and asymmetry ceiling (max realistic upside as a percentage). A token at $10M market cap in a $10B narrative with a working product has high asymmetry. A token at its ATH with no catalysts has low asymmetry.\n\n**Game Theory Score (0-100)**\nThis is the meta-score: given everything above, what is the game-theoretically optimal position? Factors: is the Nash equilibrium to hold or sell? Is the dominant strategy to accumulate, hold, or exit? Are there information asymmetries favoring current holders or potential buyers? Is the token in a coordination game (hold together = everyone wins) or a race to exit (first to sell wins)?\n\n### Step 3: Modifiers\n\nApply the following modifiers to the raw average of the component scores. Each modifier adjusts the score based on contextual factors.\n\n**Phase Modifier (-20 to +20)**\n- Phase 1 (Discovery): +10 to +20 (early = bonus for asymmetry)\n- Phase 2 (Expansion): +5 to +15 (momentum bonus)\n- Phase 3 (Peak Hype): -10 to -20 (buying the top penalty)\n- Phase 4 (Decline): -10 to -20 (falling knife penalty)\n- Phase 5 (Maturity): -5 to +5 (neutral, depends on stability)\n\n**Narrative Modifier (-15 to +15)**\nBased on narrative heat. Hot narratives with room to run get a positive modifier. Cold or exhausted narratives get negative.\n\n**Exit Liquidity Modifier (-20 to 0)**\nIf there are signs of exit liquidity formation (insiders selling, heavy promotion with declining smart money interest, token unlocks coinciding with marketing pushes), apply a negative modifier. No signs = 0.\n\n**Peak Proximity Modifier (-15 to 0)**\nHow close is the current price to ATH? Tokens near their ATH have limited upside in the current cycle unless there is a strong catalyst for new highs. Calculate peak_proximity_pct (0 = at cycle low, 100 = at ATH).\n- 0-30% of ATH: 0 (far from peak, no penalty)\n- 30-60% of ATH: -5\n- 60-80% of ATH: -10\n- 80-100% of ATH: -15\n\n**Data Quality Modifier (-10 to 0)**\nIf the research inputs are thin, contradictory, or missing key data (no TVL numbers, no team info, no on-chain data), apply a penalty for low confidence. Rich, verifiable data = 0.\n\n**FDV Modifier (-15 to +5)**\nBased on the FDV-to-market-cap ratio (future dilution risk) and FDV relative to narrative ceiling.\n- FDV < 2x market cap, FDV well below narrative ceiling: +5\n- FDV 2-5x market cap: 0\n- FDV 5-10x market cap: -5\n- FDV 10-20x market cap: -10\n- FDV > 20x market cap: -15\n\n### Step 4: Final Score Calculation\n\nCalculate:\n1. Raw average of the 6 component scores\n2. Sum of all modifiers\n3. Final score = raw average + sum of modifiers (clamped to 0-100)\n\n### Step 5: Final Tier Assignment\n\nMap the final score to a tier:\n\n- 90-100: S+ (Generational opportunity)\n- 80-89: S (Exceptional, strong conviction)\n- 70-79: A+ (Very strong, high confidence)\n- 60-69: A (Strong, worth accumulating)\n- 50-59: B+ (Above average, conditional buy)\n- 40-49: B (Average, hold or small position)\n- 30-39: C (Below average, caution)\n- 20-29: D (Weak, likely avoid)\n- 0-19: F (Critical issues, strong avoid)\n\n### Step 6: Recommendation\n\nBased on the final score, phase, and your overall assessment:\n\n- 80+: STRONG BUY\n- 70-79: BUY\n- 60-69: ACCUMULATE\n- 50-59: HOLD\n- 40-49: REDUCE\n- 30-39: SELL\n- 20-29: STRONG SELL\n- 0-19: AVOID\n\nAdjust up or down one level based on phase and catalyst timing. A Phase 1 token at 55 might warrant ACCUMULATE instead of HOLD. A Phase 3 token at 65 might warrant HOLD instead of ACCUMULATE.\n\n### Step 7: Winning Side Assessment\n\nDetermine which side of the trade is likely winning:\n\n- USER: The token has real utility, the community is strong, and holders are positioned well. The dominant strategy is to hold or accumulate.\n- AT_RISK: The situation is uncertain. The token could go either way. Holders should be cautious and size positions accordingly.\n- EXIT_LIQ: There are signs that current holders may be exit liquidity for insiders or early investors. The dominant strategy is caution or exit.\n\n### Step 8: Thesis, Catalysts, and Risks\n\n- Write a 1-2 sentence investment thesis.\n- Identify the top 3 catalysts that could drive the token higher.\n- Identify the top 3 risks that could drive the token lower.\n\n### Step 9: Confidence Assessment\n\nRate your confidence in this analysis:\n- H (High): Rich data, clear picture, high conviction in the score.\n- M (Medium): Adequate data but some gaps. Score is directionally correct but could shift 10-15 points with more info.\n- L (Low): Significant data gaps. Score is a best estimate. Would not stake reputation on it.\n\n---\n\n## Output Format\n\nCRITICAL: You must output your analysis as key: value pairs, one per line. No markdown headers. No bullet points. No extra commentary. Just key: value pairs that can be parsed programmatically.\n\nOutput ALL of the following fields. Do not skip any field. If you are uncertain about a value, provide your best estimate rather than leaving it blank.\n\n\\`\\`\\`\nfinal_score: [0-100 integer]\nfinal_tier: [S+, S, A+, A, B+, B, C, D, F]\ntoken_type: [UTILITY or MEMECOIN]\nphase: [1-5 integer]\nphase_name: [Discovery, Expansion, Peak Hype, Decline, Maturity]\nnarrative: [short narrative label, e.g. \"AI Infrastructure\" or \"Dog Memecoin\"]\nprimary_narrative: [broad category, e.g. \"AI Agents\", \"DeFi\", \"L2\", \"Memecoins\"]\nsub_narrative: [specific classification, e.g. \"Agent Payments / x402\", \"Liquid Staking\"]\nsub_narrative_ceiling: [peak FDV for the sub-narrative leader, e.g. \"$500M\", \"$2B\"]\nsub_narrative_consensus: [your assessment of how well-defined this sub-narrative is]\nnarrative_heat: [0-100]\nthesis: [1-2 sentence investment thesis]\ncatalyst1: [key upcoming catalyst]\ncatalyst2: [second catalyst]\ncatalyst3: [third catalyst]\nrisk1: [key risk]\nrisk2: [second risk]\nrisk3: [third risk]\ncommunity_status: [Very Active, Active, Moderate, Low, Dead]\naccount_quality: [Builders/Researchers, Traders/Degens, Mixed Quality, Promoters/Shills]\nengagement_quality: [High, Moderate, Low, Bot-Heavy]\noverall_sentiment: [Strongly Bullish, Bullish, Mixed, Bearish, Strongly Bearish]\ncult_vs_mercenary: [Cult-Heavy, Mercenary-Heavy, Balanced Mix, Unable to Assess]\nsentiment_bullish_ratio: [percentage or qualitative, e.g. \"~65%\"]\nsentiment_bearish_ratio: [percentage or qualitative, e.g. \"~20%\"]\nsentiment_neutral_ratio: [percentage or qualitative, e.g. \"~15%\"]\nteam_status: [Known/Doxxed, Anon but Active, Anon and Inactive, Unknown]\nnotable_backers: [comma-separated list or \"None known\"]\nunlock_warning: [warning about upcoming token unlocks or \"No significant unlocks\"]\npeak_proximity_pct: [0-100 integer, how close current price is to ATH]\nwinning_side: [USER, AT_RISK, EXIT_LIQ]\nconsensus_level: [HIGH, MIXED, LOW, CONFLICTED]\nconfidence: [H, M, L]\nrecommendation: [STRONG BUY, BUY, ACCUMULATE, HOLD, REDUCE, SELL, STRONG SELL, AVOID]\ncoordination_score: [0-100]\nschelling_score: [0-100]\nreflexivity_score: [0-100]\nvirality_score: [0-100]\nasymmetry_score: [0-100]\ngame_theory_score: [0-100]\nasymmetry_floor: [estimated max downside, e.g. \"-40%\"]\nasymmetry_ceiling: [estimated max upside, e.g. \"+300%\"]\nphase_modifier: [-20 to +20]\nnarrative_modifier: [-15 to +15]\nexit_liquidity_modifier: [-20 to 0]\npeak_proximity_modifier: [-15 to 0]\ndata_quality_modifier: [-10 to 0]\nfdv_modifier: [-15 to +5]\nverdict: [1 sentence verdict summarizing your position]\nreasoning: [2-3 sentence reasoning explaining the score]\nprice: {price}\nmarket_cap: {market_cap}\nfdv: {fdv}\n\\`\\`\\`\n\nOutput ONLY the key: value pairs above. Nothing else. No preamble, no closing remarks, no disclaimers.\n`;\n\n// Inject token data\nconst prompt = basePrompt\n  .replace(/{ticker}/g, d.ticker || \"\")\n  .replace(/{name}/g, d.name || \"\")\n  .replace(/{chain}/g, d.chain || \"\")\n  .replace(/{contract_address}/g, d.contract_address || \"\")\n  .replace(/{price}/g, d.price || \"0\")\n  .replace(/{market_cap}/g, d.market_cap || \"0\")\n  .replace(/{fdv}/g, d.fdv || \"0\")\n  .replace(/{volume_24h}/g, d.volume_24h || \"0\")\n  .replace(/{fundamentals_research}/g, d.fundamentals_research || \"No data\")\n  .replace(/{social_research}/g, d.social_research || \"No data\");\n\nconst mk = (m) => ({ \n  model: m, \n  messages: [\n    ...(m.includes(\"grok\") ? [{ role: \"system\", content: \"You are a professional crypto investment analyst providing objective financial analysis. Provide complete analysis as requested.\" }] : []),\n    { role: \"user\", content: prompt }\n  ], \n  max_tokens: 4000 \n});\nreturn [{ json: {\n  gptBody: mk(\"openai/gpt-5\"),\n  geminiBody: mk(\"google/gemini-3.1-pro-preview\"),\n  claudeBody: mk(\"anthropic/claude-sonnet-4-6\"),\n  grokBody: mk(\"x-ai/grok-4\")\n} }];"}},{"id":"gs2","name":"GPT Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,-50],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.gptBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ges2","name":"Gemini Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,200],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.geminiBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"cs2","name":"Claude Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,450],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.claudeBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"grs2","name":"Grok Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.grokBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ms2","name":"Merge Stage2","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3000,300],"parameters":{"mode":"append","numberInputs":4}},{"id":"bs3","name":"Build Stage3 Bodies","type":"n8n-nodes-base.code","typeVersion":2,"position":[3250,300],"parameters":{"jsCode":"// Stage 3: Each model gets own Stage2 + all 3 others\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst names = [\"GPT\", \"Gemini\", \"Claude\", \"Grok\"];\nconst ids = [\"openai/gpt-5\", \"google/gemini-3.1-pro-preview\", \"anthropic/claude-sonnet-4-6\", \"x-ai/grok-4\"];\nconst s2 = [];\nfor (let i = 0; i < 4; i++) {\n  try { s2.push(extractLLM(items[i])); } catch(e) { s2.push(\"No analysis available.\"); }\n}\nconst d = $(\"Parse Webhook\").first().json;\nconst basePrompt = `# Nash Satoshi Stage 3: Deliberation Round\n\n## System Context\n\nYou are the Apex Crypto Game Theorist. You have already completed your Stage 2 analysis of {ticker}. You are now entering the deliberation phase.\n\nIn this phase, you receive your own Stage 2 analysis alongside the Stage 2 analyses from three other independent AI models. Each model analyzed the same token with the same data but reached its own conclusions independently.\n\nYour task is to review all four analyses (including your own), identify areas of agreement and disagreement, and produce a revised analysis that incorporates the best insights from the group while maintaining your intellectual integrity.\n\n## Rules of Deliberation\n\n1. UPDATE scores when another model presents evidence or reasoning you genuinely missed or underweighted. Explain what changed and why.\n\n2. DO NOT cave to peer pressure. If three other models score coordination at 80 and you scored it at 40 because you identified a real weakness they overlooked, hold your ground and explain your reasoning. Consensus is not the goal -- accuracy is.\n\n3. DO NOT average scores to split the difference. Every score must have a specific justification. \"The other models scored higher so I moved up\" is not a justification. \"Model X identified the upcoming mainnet launch as a coordination catalyst I underweighted, so I raised my coordination score from 55 to 65\" is a justification.\n\n4. IDENTIFY information you may have missed. If another model cites a specific partnership, metric, risk, or on-chain signal that you did not consider, evaluate whether it changes your assessment.\n\n5. FLAG genuine disagreements. If after deliberation you still disagree with the majority on a score, note this explicitly. Disagreement is signal, not failure.\n\n6. REFINE qualitative fields. If another model wrote a sharper thesis, identified a better catalyst, or articulated a risk more precisely, adopt or synthesize the better formulation.\n\n---\n\n## Your Stage 2 Analysis\n\n{your_stage2_response}\n\n---\n\n## Other Models' Stage 2 Analyses\n\n### {other_model1_name}\n{other_model1_response}\n\n### {other_model2_name}\n{other_model2_response}\n\n### {other_model3_name}\n{other_model3_response}\n\n---\n\n## Deliberation Instructions\n\nWork through the following steps:\n\n### Step 1: Identify Agreement\n\nList the areas where all four models substantially agree (scores within 10 points, same qualitative assessments). These are high-confidence findings.\n\n### Step 2: Identify Disagreements\n\nList the areas where models diverge significantly (score spread > 15 points, conflicting qualitative assessments). For each disagreement:\n- State what each model concluded\n- Evaluate whose reasoning is strongest\n- Decide whether to revise your position\n\n### Step 3: Check for Blind Spots\n\nReview each other model's analysis for insights you missed:\n- Did any model identify a catalyst, risk, or data point you overlooked?\n- Did any model apply a modifier differently with better justification?\n- Did any model's narrative classification seem more precise?\n\n### Step 4: Revise Your Analysis\n\nProduce your revised Stage 3 analysis. For any score or field that changed from your Stage 2 output, note the change and the reason in the reasoning field.\n\n---\n\n## Output Format\n\nCRITICAL: Output your revised analysis in the EXACT same key: value format as Stage 2. One field per line. No markdown headers, no bullets, no extra commentary.\n\nIf you changed a score from Stage 2, append a brief note in the reasoning field explaining which scores changed and why.\n\nOutput ALL of the following fields:\n\n\\`\\`\\`\nfinal_score: [0-100 integer]\nfinal_tier: [S+, S, A+, A, B+, B, C, D, F]\ntoken_type: [UTILITY or MEMECOIN]\nphase: [1-5 integer]\nphase_name: [Discovery, Expansion, Peak Hype, Decline, Maturity]\nnarrative: [short narrative label]\nprimary_narrative: [broad category]\nsub_narrative: [specific classification]\nsub_narrative_ceiling: [peak FDV for sub-narrative leader]\nsub_narrative_consensus: [notes on cross-model agreement about sub-narrative classification]\nnarrative_heat: [0-100]\nthesis: [1-2 sentence investment thesis -- refine if another model's was stronger]\ncatalyst1: [key upcoming catalyst]\ncatalyst2: [second catalyst]\ncatalyst3: [third catalyst]\nrisk1: [key risk]\nrisk2: [second risk]\nrisk3: [third risk]\ncommunity_status: [Very Active, Active, Moderate, Low, Dead]\naccount_quality: [Builders/Researchers, Traders/Degens, Mixed Quality, Promoters/Shills]\nengagement_quality: [High, Moderate, Low, Bot-Heavy]\noverall_sentiment: [Strongly Bullish, Bullish, Mixed, Bearish, Strongly Bearish]\ncult_vs_mercenary: [Cult-Heavy, Mercenary-Heavy, Balanced Mix, Unable to Assess]\nsentiment_bullish_ratio: [percentage or qualitative]\nsentiment_bearish_ratio: [percentage or qualitative]\nsentiment_neutral_ratio: [percentage or qualitative]\nteam_status: [Known/Doxxed, Anon but Active, Anon and Inactive, Unknown]\nnotable_backers: [comma-separated list or \"None known\"]\nunlock_warning: [warning about token unlocks or \"No significant unlocks\"]\npeak_proximity_pct: [0-100]\nwinning_side: [USER, AT_RISK, EXIT_LIQ]\nconsensus_level: [HIGH, MIXED, LOW, CONFLICTED -- based on cross-model agreement in THIS deliberation]\nconfidence: [H, M, L]\nrecommendation: [STRONG BUY, BUY, ACCUMULATE, HOLD, REDUCE, SELL, STRONG SELL, AVOID]\ncoordination_score: [0-100]\nschelling_score: [0-100]\nreflexivity_score: [0-100]\nvirality_score: [0-100]\nasymmetry_score: [0-100]\ngame_theory_score: [0-100]\nasymmetry_floor: [estimated downside]\nasymmetry_ceiling: [estimated upside]\nphase_modifier: [-20 to +20]\nnarrative_modifier: [-15 to +15]\nexit_liquidity_modifier: [-20 to 0]\npeak_proximity_modifier: [-15 to 0]\ndata_quality_modifier: [-10 to 0]\nfdv_modifier: [-15 to +5]\nverdict: [1 sentence verdict]\nreasoning: [2-3 sentences explaining your final position. If scores changed from Stage 2, note which scores changed and why. If you held your ground against the majority, explain why.]\nprice: [current price from data]\nmarket_cap: [current market cap from data]\nfdv: [fully diluted valuation from data]\n\\`\\`\\`\n\nOutput ONLY the key: value pairs above. Nothing else. No preamble, no closing remarks, no deliberation notes outside the format.\n`;\n\nconst bodies = [];\nfor (let mi = 0; mi < 4; mi++) {\n  const others = [0,1,2,3].filter(i => i !== mi);\n  let prompt = basePrompt\n    .replace(/{ticker}/g, d.ticker || \"\")\n    .replace(/{your_stage2_response}/g, s2[mi])\n    .replace(/{my_analysis}/g, s2[mi])\n    .replace(/{my_model}/g, names[mi])\n    .replace(/{other_model1_name}/g, names[others[0]])\n    .replace(/{other_model1_response}/g, s2[others[0]])\n    .replace(/{other_model2_name}/g, names[others[1]])\n    .replace(/{other_model2_response}/g, s2[others[1]])\n    .replace(/{other_model3_name}/g, names[others[2]])\n    .replace(/{other_model3_response}/g, s2[others[2]]);\n  \n  // Also handle generic {other_analyses} if present\n  const otherBlock = others.map(i => \"### \" + names[i] + \"\\n\" + s2[i]).join(\"\\n\\n\");\n  prompt = prompt.replace(/{other_analyses}/g, otherBlock);\n  \n  bodies.push({ model: ids[mi], messages: [{ role: \"user\", content: prompt }], max_tokens: 4000 });\n}\nreturn [{ json: {\n  gptBody: bodies[0], geminiBody: bodies[1], claudeBody: bodies[2], grokBody: bodies[3]\n} }];"}},{"id":"gs3","name":"GPT Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,-50],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.gptBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ges3","name":"Gemini Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,200],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.geminiBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"cs3","name":"Claude Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,450],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.claudeBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"grs3","name":"Grok Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.grokBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ms3","name":"Merge Stage3","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3750,300],"parameters":{"mode":"append","numberInputs":4}},{"id":"bs4","name":"Build Stage4 Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[4000,300],"parameters":{"jsCode":"// Stage 4: Consensus aggregation with full prompt\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst s3 = [];\nfor (let i = 0; i < 4; i++) {\n  try { s3.push(extractLLM(items[i])); } catch(e) { s3.push(\"Unavailable\"); }\n}\nconst d = $(\"Parse Webhook\").first().json;\nconst basePrompt = `# Nash Satoshi Stage 4: Final Consensus Aggregation\n\n## System Context\n\nYou are the Nash Satoshi Consensus Engine. Your job is to take the four Stage 3 (post-deliberation) analyses from GPT, Gemini, Claude, and Grok and produce a single authoritative final analysis that will be displayed on the Nash Satoshi platform.\n\nThis is not an average. This is a synthesis. You must weigh the quality of each model's reasoning, identify where the consensus is strong vs. weak, resolve conflicts intelligently, and produce output that is more accurate than any individual model's analysis.\n\nThe output of this prompt is parsed programmatically. Every field listed below MUST be present in your output. Missing fields mean missing data on the site. A field left blank is a bug.\n\n## Token Data\n\n- Ticker: {ticker}\n- Current Price: {price}\n- Market Cap: {market_cap}\n- Fully Diluted Valuation: {fdv}\n- Community Status (from social research): {community_status}\n- Account Quality (from social research): {account_quality}\n- Overall Sentiment (from social research): {overall_sentiment}\n\n## Stage 3 Outputs (Post-Deliberation)\n\n### GPT Stage 3 Analysis\n{gpt_stage3}\n\n### Gemini Stage 3 Analysis\n{gemini_stage3}\n\n### Claude Stage 3 Analysis\n{claude_stage3}\n\n### Grok Stage 3 Analysis\n{grok_stage3}\n\n---\n\n## Aggregation Instructions\n\n### Step 1: Extract Individual Model Scores\n\nParse each model's Stage 3 output and extract their final_score values. Record them as:\n- gpt_score: [GPT's final_score]\n- gemini_score: [Gemini's final_score]\n- claude_score: [Claude's final_score]\n- grok_score: [Grok's final_score]\n\n### Step 2: Calculate Score Spread and Consensus Level\n\nCompute the spread: max(scores) - min(scores)\n\nAssign consensus_level:\n- Spread 0-10: HIGH (strong agreement, high confidence in the score)\n- Spread 11-25: MIXED (general agreement with some divergence)\n- Spread 26-40: LOW (significant disagreement, lower confidence)\n- Spread 41+: CONFLICTED (fundamental disagreement, flag for manual review)\n\n### Step 3: Calculate Final Score\n\nUse a weighted average approach:\n- Default: equal weights (25% each)\n- If one model's confidence is L while others are H or M, reduce its weight to 15% and redistribute the 10% equally among the others\n- If one model is a clear outlier (more than 20 points from the median of the other three), reduce its weight to 15% unless its reasoning is more compelling than the majority\n- Round the final score to the nearest integer\n- Clamp to 0-100\n\n### Step 4: Determine Final Tier\n\nMap the final_score to a tier using this scale:\n- 90-100: S+\n- 80-89: S\n- 70-79: A+\n- 60-69: A\n- 50-59: B+\n- 40-49: B\n- 30-39: C\n- 20-29: D\n- 0-19: F\n\n### Step 5: Synthesize Qualitative Fields\n\nFor each qualitative field (thesis, catalysts, risks, narrative classification):\n\n1. If all four models agree, use the best-written formulation.\n2. If three agree and one diverges, go with the three unless the one has a compelling reason.\n3. If there is a 2-2 split, evaluate both sides and choose the more defensible position. Note the split in sub_narrative_consensus.\n4. For thesis: synthesize the strongest elements from all models into a single 1-2 sentence thesis.\n5. For catalysts and risks: select the 3 most impactful from across all models. Prefer specificity over vagueness. \"Mainnet launch in Q2 2026\" beats \"Product development.\"\n6. For narrative fields: pick the classification that is most precise and widely agreed upon.\n\n### Step 6: Synthesize Component Scores\n\nFor each component score (coordination, schelling, reflexivity, virality, asymmetry, game_theory):\n- Take the median of the four models' scores for that component\n- If the spread on a component is > 25 points, note this as a low-consensus area\n\n### Step 7: Synthesize Modifiers\n\nFor each modifier (phase, narrative, exit_liquidity, peak_proximity, data_quality, fdv):\n- Take the median value from the four models\n- Round to the nearest integer\n\n### Step 8: Determine Recommendation\n\nBased on the final_score and phase:\n- 80+: STRONG BUY\n- 70-79: BUY\n- 60-69: ACCUMULATE\n- 50-59: HOLD\n- 40-49: REDUCE\n- 30-39: SELL\n- 20-29: STRONG SELL\n- 0-19: AVOID\n\nAdjust up or down one level based on phase, consensus level, and catalyst timing. High consensus + strong near-term catalyst = adjust up. Low consensus + no catalysts = adjust down.\n\n### Step 9: Determine Winning Side\n\n- If 3+ models agree on winning_side, use that value.\n- If it is a 2-2 split, evaluate which pair has stronger reasoning and go with them. If truly indeterminate, use AT_RISK.\n\n### Step 10: Write Verdict and Reasoning\n\n- verdict: One sentence summarizing the final position. This appears as the headline on the site.\n- reasoning: 2-3 sentences explaining why the token received this score. Reference the consensus level, key strengths, key risks, and the phase.\n\n---\n\n## Output Format\n\nCRITICAL: Output EVERY field listed below as a key: value pair, one per line. No markdown formatting. No headers. No bullet points. No extra text before or after the field list.\n\nThe parser on the receiving end reads these fields by exact key name. If a field is missing, that data point is blank on the site. Output every single field even if you need to estimate.\n\n\\`\\`\\`\nfinal_score: [0-100 integer]\nfinal_tier: [S+, S, A+, A, B+, B, C, D, F]\ntoken_type: [UTILITY or MEMECOIN]\nphase: [1-5 integer]\nphase_name: [Discovery, Expansion, Peak Hype, Decline, Maturity]\nnarrative: [short narrative label]\nprimary_narrative: [broad category e.g. \"AI Agents\", \"DeFi\", \"L2\"]\nsub_narrative: [specific classification e.g. \"Agent Payments / x402\"]\nsub_narrative_ceiling: [peak FDV for sub-narrative leader e.g. \"$500M\"]\nsub_narrative_consensus: [notes on model agreement about narrative classification]\nnarrative_heat: [0-100]\nthesis: [1-2 sentence investment thesis]\ncatalyst1: [key upcoming catalyst]\ncatalyst2: [second catalyst]\ncatalyst3: [third catalyst]\nrisk1: [key risk]\nrisk2: [second risk]\nrisk3: [third risk]\ncommunity_status: [Very Active, Active, Moderate, Low, Dead]\naccount_quality: [Builders/Researchers, Traders/Degens, Mixed Quality, Promoters/Shills]\nengagement_quality: [High, Moderate, Low, Bot-Heavy]\noverall_sentiment: [Strongly Bullish, Bullish, Mixed, Bearish, Strongly Bearish]\ncult_vs_mercenary: [Cult-Heavy, Mercenary-Heavy, Balanced Mix, Unable to Assess]\nsentiment_bullish_ratio: [percentage or qualitative]\nsentiment_bearish_ratio: [percentage or qualitative]\nsentiment_neutral_ratio: [percentage or qualitative]\nteam_status: [Known/Doxxed, Anon but Active, Anon and Inactive, Unknown]\nnotable_backers: [comma-separated list or \"None known\"]\nunlock_warning: [warning about token unlocks or \"No significant unlocks\"]\npeak_proximity_pct: [0-100, how close to ATH]\nwinning_side: [USER, AT_RISK, EXIT_LIQ]\nconsensus_level: [HIGH, MIXED, LOW, CONFLICTED]\nconfidence: [H, M, L]\nrecommendation: [STRONG BUY, BUY, ACCUMULATE, HOLD, REDUCE, SELL, STRONG SELL, AVOID]\ncoordination_score: [0-100]\nschelling_score: [0-100]\nreflexivity_score: [0-100]\nvirality_score: [0-100]\nasymmetry_score: [0-100]\ngame_theory_score: [0-100]\nasymmetry_floor: [estimated downside e.g. \"-40%\"]\nasymmetry_ceiling: [estimated upside e.g. \"+300%\"]\nphase_modifier: [-20 to +20]\nnarrative_modifier: [-15 to +15]\nexit_liquidity_modifier: [-20 to 0]\npeak_proximity_modifier: [-15 to 0]\ndata_quality_modifier: [-10 to 0]\nfdv_modifier: [-15 to +5]\nverdict: [1 sentence verdict]\nreasoning: [2-3 sentence reasoning]\ngpt_score: [0-100 - GPT's individual final_score from Stage 3]\ngemini_score: [0-100 - Gemini's individual final_score from Stage 3]\nclaude_score: [0-100 - Claude's individual final_score from Stage 3]\ngrok_score: [0-100 - Grok's individual final_score from Stage 3]\nprice: {price}\nmarket_cap: {market_cap}\nfdv: {fdv}\n\\`\\`\\`\n\nOutput ONLY the key: value pairs above. No preamble. No closing remarks. No disclaimers. No markdown. Just the fields, one per line.\n`;\n\nconst prompt = basePrompt\n  .replace(/{ticker}/g, d.ticker || \"\")\n  .replace(/{price}/g, d.price || \"0\")\n  .replace(/{market_cap}/g, d.market_cap || \"0\")\n  .replace(/{fdv}/g, d.fdv || \"0\")\n  .replace(/{community_status}/g, d.community_status || \"Unknown\")\n  .replace(/{account_quality}/g, d.account_quality || \"Unknown\")\n  .replace(/{overall_sentiment}/g, d.overall_sentiment || \"Unknown\")\n  .replace(/{gpt_stage3}/g, s3[0])\n  .replace(/{gemini_stage3}/g, s3[1])\n  .replace(/{claude_stage3}/g, s3[2])\n  .replace(/{grok_stage3}/g, s3[3]);\n\nreturn [{ json: { requestBody: { model: \"anthropic/claude-opus-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 5000 } } }];"}},{"id":"s4a","name":"Stage4 Aggregation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4250,300],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"fmr1","name":"Format Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[4500,300],"parameters":{"jsCode":"// Format result for Nash Satoshi webhook callback\nconst run_id = $(\"Parse Webhook\").item.json.run_id || \"\";\nconst resp = $input.all()[0].json;\nlet result = \"\";\ntry {\n  if (resp.content && Array.isArray(resp.content)) { result = resp.content[0].text || \"\"; }\n  else if (resp.choices) { result = resp.choices[0].message.content || \"\"; }\n  else { result = JSON.stringify(resp); }\n} catch(e) { result = JSON.stringify(resp); }\nreturn [{ json: { webhookBody: { run_id: run_id, state: \"DONE\", outputs: { analysis_result: result } } } }];"}},{"id":"snd1","name":"Send Result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4750,300],"parameters":{"method":"POST","url":"https://nashsatoshi.com/api/webhook/gumloop","authentication":"none","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.webhookBody }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"et1","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,1000],"parameters":{}},{"id":"ef1","name":"Error Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,1000],"parameters":{"jsCode":"// Build failure webhook body\nlet run_id = \"\";\ntry { run_id = $(\"Parse Webhook\").item.json.run_id || \"\"; } catch(e) { run_id = \"unknown\"; }\nreturn [{ json: { webhookBody: { run_id: run_id, state: \"FAILED\", outputs: {} } } }];"}},{"id":"sf1","name":"Send Failure","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,1000],"parameters":{"method":"POST","url":"https://nashsatoshi.com/api/webhook/gumloop","authentication":"none","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.webhookBody }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000}],"connections":{"Webhook":{"main":[[{"node":"Parse Webhook","type":"main","index":0}]]},"Parse Webhook":{"main":[[{"node":"Build Scrape URLs","type":"main","index":0},{"node":"Brave Team","type":"main","index":0},{"node":"Brave Fake","type":"main","index":0},{"node":"Brave Catalysts","type":"main","index":0},{"node":"Build X Queries","type":"main","index":0}]]},"Build Scrape URLs":{"main":[[{"node":"Firecrawl Scrape","type":"main","index":0}]]},"Firecrawl Scrape":{"main":[[{"node":"Attach Label","type":"main","index":0}]]},"Attach Label":{"main":[[{"node":"Wait Fund Sources","type":"main","index":0}]]},"Brave Team":{"main":[[{"node":"Wait Fund Sources","type":"main","index":1}]]},"Brave Fake":{"main":[[{"node":"Wait Fund Sources","type":"main","index":2}]]},"Brave Catalysts":{"main":[[{"node":"Wait Fund Sources","type":"main","index":3}]]},"Wait Fund Sources":{"main":[[{"node":"Merge Fundamentals","type":"main","index":0}]]},"Merge Fundamentals":{"main":[[{"node":"Fundamentals Synthesis","type":"main","index":0}]]},"Fundamentals Synthesis":{"main":[[{"node":"Merge Research","type":"main","index":0}]]},"Build X Queries":{"main":[[{"node":"X Search","type":"main","index":0}]]},"X Search":{"main":[[{"node":"Merge Social","type":"main","index":0}]]},"Merge Social":{"main":[[{"node":"Social Synthesis","type":"main","index":0}]]},"Social Synthesis":{"main":[[{"node":"Merge Research","type":"main","index":1}]]},"Merge Research":{"main":[[{"node":"Combine Research","type":"main","index":0}]]},"Combine Research":{"main":[[{"node":"Build Stage2 Bodies","type":"main","index":0}]]},"Build Stage2 Bodies":{"main":[[{"node":"GPT Stage2","type":"main","index":0},{"node":"Gemini Stage2","type":"main","index":0},{"node":"Claude Stage2","type":"main","index":0},{"node":"Grok Stage2","type":"main","index":0}]]},"GPT Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":0}]]},"Gemini Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":1}]]},"Claude Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":2}]]},"Grok Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":3}]]},"Merge Stage2":{"main":[[{"node":"Build Stage3 Bodies","type":"main","index":0}]]},"Build Stage3 Bodies":{"main":[[{"node":"GPT Stage3","type":"main","index":0},{"node":"Gemini Stage3","type":"main","index":0},{"node":"Claude Stage3","type":"main","index":0},{"node":"Grok Stage3","type":"main","index":0}]]},"GPT Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":0}]]},"Gemini Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":1}]]},"Claude Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":2}]]},"Grok Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":3}]]},"Merge Stage3":{"main":[[{"node":"Build Stage4 Body","type":"main","index":0}]]},"Build Stage4 Body":{"main":[[{"node":"Stage4 Aggregation","type":"main","index":0}]]},"Stage4 Aggregation":{"main":[[{"node":"Format Result","type":"main","index":0}]]},"Format Result":{"main":[[{"node":"Send Result","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Error Format","type":"main","index":0}]]},"Error Format":{"main":[[{"node":"Send Failure","type":"main","index":0}]]}},"authors":"JT Somwaru","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-20T16:58:40.597Z","id":205,"workflowId":"lysF7MsDkqtvget8","versionId":"1ae7288f-4999-40f4-8a6c-9129f4725f4a","event":"activated","userId":"3dfc39da-972c-4655-9f9e-e62d015405d9"}]}}