workflows/nash-satoshi-analysis.json
{"updatedAt":"2026-03-20T16:09:02.069Z","createdAt":"2026-03-20T14:17:18.079Z","id":"lysF7MsDkqtvget8","name":"Nash Satoshi Token Analysis","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh1","name":"WebhookTrigger","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,300],"parameters":{"httpMethod":"POST","path":"nash-satoshi-analysis","responseMode":"onReceived","options":{"responseCode":{"values":{"responseCode":"customCode","customCode":202}},"responseData":"{\"status\":\"accepted\",\"message\":\"Analysis queued\"}"}}},{"id":"pw1","name":"Parse Webhook","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,300],"parameters":{"jsCode":"// Extract and validate webhook input\nconst items = $input.all();\nconst body = items[0].json.body || items[0].json;\nconst contract_address = (body.contract_address || \"\").trim();\nif (!contract_address) { throw new Error(\"Missing required field: contract_address\"); }\nreturn [{ json: {\n  ticker: (body.ticker || \"\").trim(),\n  name: (body.name || \"\").trim(),\n  chain: (body.chain || \"ethereum\").toLowerCase().trim(),\n  contract_address: contract_address,\n  price: body.price || 0,\n  market_cap: body.market_cap || 0,\n  fdv: body.fdv || 0,\n  volume_24h: body.volume_24h || 0,\n  run_id: String(body.run_id || \"\").trim(),\n  homepage_url: (body.homepage_url || \"\").trim(),\n  analysis_date: new Date().toISOString()\n} }];"}},{"id":"bsu1","name":"Build Scrape URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,200],"parameters":{"jsCode":"// Build 4 scrape URLs for Firecrawl\nconst d = $(\"Parse Webhook\").item.json;\nconst ticker = d.ticker;\nconst contract = d.contract_address;\nconst chain = (d.chain || \"\").toLowerCase();\nconst name = (d.name || \"\").toLowerCase().replace(/[^a-z0-9]/g, \"\");\nconst explorerUrl = (chain === \"base\" || chain === \"ethereum\" || chain === \"eth\")\n  ? \"https://etherscan.io/token/\" + contract\n  : \"https://solscan.io/token/\" + contract;\nconst homepage = d.homepage_url && d.homepage_url.length > 5\n  ? d.homepage_url\n  : \"https://\" + name + \".io\";\nreturn [\n  { json: { url: \"https://www.coingecko.com/en/coins/\" + ticker.toLowerCase(), label: \"coingecko\" } },\n  { json: { url: explorerUrl, label: \"explorer\" } },\n  { json: { url: \"https://dexscreener.com/search?q=\" + contract, label: \"dexscreener\" } },\n  { json: { url: homepage, label: \"homepage\" } }\n];"}},{"id":"fcs1","name":"Firecrawl Scrape","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-0d0961fa920a466a869fdd4068b9fe7e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ url: $json.url, formats: [\"markdown\"] }) }}","options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"al1","name":"Attach Label","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,200],"parameters":{"jsCode":"// Pair Firecrawl results back with their labels by index\nconst scraped = $input.all();\nconst urlItems = $(\"Build Scrape URLs\").all();\nreturn scraped.map((item, i) => ({\n  json: {\n    label: urlItems[i] ? urlItems[i].json.label : \"unknown\",\n    markdown: item.json.data ? item.json.data.markdown : (item.json.markdown || \"\")\n  }\n}));"}},{"id":"bt1","name":"Brave Team","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,-200],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" \" + $(\"Parse Webhook\").item.json.name + \" team founder developer\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"bfk1","name":"Brave Fake","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,-400],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" \" + $(\"Parse Webhook\").item.json.name + \" fake token scam imposter contract\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"bct1","name":"Brave Catalysts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,0],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" roadmap milestones catalysts 2026\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"wfs1","name":"Wait Fund Sources","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1250,0],"parameters":{"mode":"append","numberInputs":4}},{"id":"mf1","name":"Merge Fundamentals","type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,0],"parameters":{"jsCode":"// Combine 4 Firecrawl + 3 Brave results and build Anthropic synthesis request\nconst allItems = $input.all();\nconst d = $(\"Parse Webhook\").first().json;\nlet ctx = \"\";\n// Items arrive: 4 firecrawl (with label field), then 3 brave (with web field)\nfor (const item of allItems) {\n  if (item.json.label) {\n    const label = item.json.label.toUpperCase();\n    const md = (item.json.markdown || \"\").substring(0, 2000);\n    ctx += \"\\n=== \" + label + \" ===\\n\" + md + \"\\n\";\n  } else if (item.json.web) {\n    const results = (item.json.web.results || []).slice(0, 5);\n    const section = results.map(r => r.title + \": \" + r.description).join(\"\\n\");\n    ctx += \"\\n=== BRAVE SEARCH ===\\n\" + section + \"\\n\";\n  }\n}\nconst prompt = \"You are analyzing a crypto token for investment scoring. Use ONLY the research data provided. Do not hallucinate.\\n\\n\"\n  + \"TOKEN: \" + d.ticker + \" / \" + d.name + \"\\n\"\n  + \"CHAIN: \" + d.chain + \"\\n\"\n  + \"CONTRACT: \" + d.contract_address + \"\\n\"\n  + \"PRICE: \" + d.price + \"\\n\"\n  + \"MARKET CAP: \" + d.market_cap + \"\\n\"\n  + \"FDV: \" + d.fdv + \"\\n\\n\"\n  + \"RESEARCH DATA:\\n\" + ctx + \"\\n\\n\"\n  + \"Produce structured analysis:\\n\"\n  + \"- Narrative Positioning & Market Thesis\\n\"\n  + \"- Project Fundamentals (product, tech stack, stage)\\n\"\n  + \"- Team & Backers (names, credibility)\\n\"\n  + \"- Value Capture (token utility, fees, revenue model)\\n\"\n  + \"- Traction & Usage (holders, volume, TVL)\\n\"\n  + \"- Tokenomics & Unlocks (supply, vesting, whales)\\n\"\n  + \"- Roadmap & Catalysts (upcoming milestones)\\n\"\n  + \"- Competitive Analysis (comparable tokens)\\n\"\n  + \"- WARNING: Fake Token Alert (flag any imposter contracts found)\\n\"\n  + \"- Key Links\\n\"\n  + \"Include Confidence (High/Medium/Low) per section.\";\nreturn [{ json: { requestBody: { model: \"anthropic/claude-sonnet-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 3000 } } }];"}},{"id":"fs1","name":"Fundamentals Synthesis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1750,0],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"bxq1","name":"Build X Queries","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,700],"parameters":{"jsCode":"// Build 5 X search queries from token data\nconst d = $(\"Parse Webhook\").item.json;\nconst ticker = d.ticker.replace(/[^a-zA-Z0-9]/g, \"\");\nconst name = d.name.replace(/[^a-zA-Z0-9 ]/g, \"\").trim();\nreturn [\n  { json: { query: ticker + \" crypto\", label: \"general\" } },\n  { json: { query: \"$\" + ticker, label: \"dollar\" } },\n  { json: { query: name + \" token\", label: \"project\" } },\n  { json: { query: ticker + \" bullish bearish aping sold\", label: \"sentiment\" } },\n  { json: { query: ticker + \" \" + name + \" fake scam imposter\", label: \"fake\" } }\n];"}},{"id":"xs1","name":"X Search","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[750,700],"parameters":{"command":"=cd /Users/jtsomwaru/.openclaw/workspace/skills/x-research && source /Users/jtsomwaru/.config/env/global.env && bun run x-search.ts search \"{{ $json.query }}\" --quick --limit 10 2>&1"},"onError":"continueRegularOutput"},{"id":"ms1","name":"Merge Social","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,700],"parameters":{"jsCode":"// Combine 5 X search results with engagement sorting and build synthesis request\nconst items = $input.all();\nconst queryItems = $(\"Build X Queries\").all();\nconst d = $(\"Parse Webhook\").first().json;\nconst allTweets = [];\nconst sections = {};\nfor (let i = 0; i < items.length; i++) {\n  const stdout = items[i].json.stdout || items[i].json.output || \"\";\n  const label = queryItems[i] ? queryItems[i].json.label : \"unknown\";\n  let tweets = [];\n  try {\n    tweets = JSON.parse(stdout);\n  } catch(e) {\n    try {\n      const match = stdout.match(/\\[[\\s\\S]*\\]/);\n      if (match) { tweets = JSON.parse(match[0]); }\n    } catch(e2) {}\n  }\n  if (!Array.isArray(tweets)) tweets = [];\n  sections[label] = tweets;\n  tweets.forEach(t => allTweets.push(Object.assign({}, t, { _label: label })));\n}\n// Sort all tweets by engagement descending\nallTweets.sort((a, b) => {\n  const mA = a.public_metrics || {};\n  const mB = b.public_metrics || {};\n  const engA = (mA.like_count||0) + (mA.retweet_count||0) + (mA.reply_count||0);\n  const engB = (mB.like_count||0) + (mB.retweet_count||0) + (mB.reply_count||0);\n  return engB - engA;\n});\nlet ctx = \"TOP TWEETS BY ENGAGEMENT (KOL signal sorted high to low):\\n\\n\";\nallTweets.slice(0, 20).forEach(t => {\n  const m = t.public_metrics || {};\n  const author = t.author_username || (t.author && t.author.username) || \"unknown\";\n  ctx += \"@\" + author + \" | Likes:\" + (m.like_count||0) + \" RT:\" + (m.retweet_count||0) + \" Replies:\" + (m.reply_count||0) + \"\\n\";\n  ctx += \"\\\"\" + (t.text||\"\").substring(0, 280) + \"\\\"\\n\\n\";\n});\nconst labels = [\"general\",\"dollar\",\"project\",\"sentiment\",\"fake\"];\nfor (const lbl of labels) {\n  const tweets = sections[lbl] || [];\n  ctx += \"\\n--- \" + lbl.toUpperCase() + \" (\" + tweets.length + \" tweets) ---\\n\";\n  tweets.forEach(t => {\n    const author = t.author_username || (t.author && t.author.username) || \"unknown\";\n    ctx += \"@\" + author + \": \" + (t.text||\"\").substring(0, 200) + \"\\n\";\n  });\n}\nconst prompt = \"Analyze social signals for this crypto token. Use ONLY the tweet data provided. Identify KOLs from engagement metrics (high likes/retweets = high reach), NOT from keywords.\\n\\n\"\n  + \"TOKEN: \" + d.ticker + \" / \" + d.name + \"\\n\\n\"\n  + \"TWEET DATA:\\n\" + ctx + \"\\n\\n\"\n  + \"Produce:\\n\"\n  + \"- Discussion Quality (organic vs shills/bots ratio, signal-to-noise %)\\n\"\n  + \"- Top Accounts by Reach (ranked by engagement as influence proxy, include counts)\\n\"\n  + \"- Social Volume (total tweets, dominant direction)\\n\"\n  + \"- Sentiment Breakdown (bullish/bearish/neutral % with evidence)\\n\"\n  + \"- Community Activity & Tone\\n\"\n  + \"- Key Opinion Leaders (high-engagement accounts, stance, specific claims)\\n\"\n  + \"- Narrative & Ecosystem Fit\\n\"\n  + \"- WARNING: Fake Token Alerts (flag tweets mentioning different contracts or scam warnings)\\n\"\n  + \"- Overall Social Health\\n\"\n  + \"Include Confidence (High/Medium/Low) per section.\";\nreturn [{ json: { requestBody: { model: \"anthropic/claude-sonnet-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 3000 } } }];"}},{"id":"ss1","name":"Social Synthesis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"mr1","name":"Merge Research","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2000,300],"parameters":{"mode":"append","numberInputs":2}},{"id":"cr1","name":"Combine Research","type":"n8n-nodes-base.code","typeVersion":2,"position":[2250,300],"parameters":{"jsCode":"// Combine fundamentals + social synthesis outputs\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst tokenData = $(\"Parse Webhook\").first().json;\nlet fund = \"Unavailable\", social = \"Unavailable\";\ntry { fund = extractLLM(items[0]); } catch(e) {}\ntry { social = extractLLM(items[1]); } catch(e) {}\nreturn [{ json: Object.assign({}, tokenData, { fundamentals_research: fund, social_research: social }) }];"}},{"id":"bs2","name":"Build Stage2 Bodies","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,300],"parameters":{"jsCode":"// Stage 2: 4-LLM analysis prompt (Apex Game Theorist)\nconst d = $input.all()[0].json;\nconst prompt = \"You are the Apex Crypto Game Theorist...\\n\\n\"\n  + \"TOKEN: \" + d.ticker + \" (\" + d.name + \")\\n\"\n  + \"Chain: \" + d.chain + \", Price: $\" + d.price + \", MCap: $\" + d.market_cap + \", FDV: $\" + d.fdv + \"\\n\"\n  + \"Volume 24h: $\" + d.volume_24h + \"\\n\\n\"\n  + \"FUNDAMENTALS:\\n\" + d.fundamentals_research + \"\\n\\n\"\n  + \"SOCIAL:\\n\" + d.social_research + \"\\n\\n\"\n  + \"Output ALL fields in key: value format (one per line, no markdown).\";\nconst mk = (m) => ({ model: m, messages: [{ role: \"user\", content: prompt }], max_tokens: 4000 });\nreturn [{ json: {\n  gptBody: mk(\"openai/gpt-5\"),\n  geminiBody: mk(\"google/gemini-3.1-pro-preview\"),\n  claudeBody: mk(\"anthropic/claude-sonnet-4-6\"),\n  grokBody: mk(\"x-ai/grok-4\")\n} }];"}},{"id":"gs2","name":"GPT Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,-50],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.gptBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ges2","name":"Gemini Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,200],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.geminiBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"cs2","name":"Claude Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,450],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.claudeBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"grs2","name":"Grok Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.grokBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ms2","name":"Merge Stage2","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3000,300],"parameters":{"mode":"append","numberInputs":4}},{"id":"bs3","name":"Build Stage3 Bodies","type":"n8n-nodes-base.code","typeVersion":2,"position":[3250,300],"parameters":{"jsCode":"// Stage 3: Deliberation - each model reviews own + 3 others\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst names = [\"GPT\", \"Gemini\", \"Claude\", \"Grok\"];\nconst ids = [\"openai/gpt-5\", \"google/gemini-3.1-pro-preview\", \"anthropic/claude-sonnet-4-6\", \"x-ai/grok-4\"];\nconst s2 = [];\nfor (let i = 0; i < 4; i++) {\n  try { s2.push(extractLLM(items[i])); } catch(e) { s2.push(\"Unavailable\"); }\n}\nconst ticker = $(\"Parse Webhook\").first().json.ticker || \"\";\nconst bp = (mi) => {\n  const others = [0,1,2,3].filter(i => i !== mi).map(i => \"--- \" + names[i] + \" ---\\n\" + s2[i]).join(\"\\n\");\n  return \"Review your \" + ticker + \" analysis vs 3 others.\\nYOURS:\\n\" + s2[mi] + \"\\nOTHERS:\\n\" + others + \"\\nRevise if evidence warrants. Output key: value format.\";\n};\nreturn [{ json: {\n  gptBody: { model: ids[0], messages: [{ role: \"user\", content: bp(0) }], max_tokens: 4000 },\n  geminiBody: { model: ids[1], messages: [{ role: \"user\", content: bp(1) }], max_tokens: 4000 },\n  claudeBody: { model: ids[2], messages: [{ role: \"user\", content: bp(2) }], max_tokens: 4000 },\n  grokBody: { model: ids[3], messages: [{ role: \"user\", content: bp(3) }], max_tokens: 4000 }\n} }];"}},{"id":"gs3","name":"GPT Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,-50],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.gptBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ges3","name":"Gemini Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,200],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.geminiBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"cs3","name":"Claude Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,450],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.claudeBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"grs3","name":"Grok Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.grokBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ms3","name":"Merge Stage3","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3750,300],"parameters":{"mode":"append","numberInputs":4}},{"id":"bs4","name":"Build Stage4 Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[4000,300],"parameters":{"jsCode":"// Stage 4: Consensus aggregation via Opus\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst s3 = [];\nfor (let i = 0; i < 4; i++) {\n  try { s3.push(extractLLM(items[i])); } catch(e) { s3.push(\"Unavailable\"); }\n}\nconst td = $(\"Parse Webhook\").first().json;\nconst prompt = \"Final Consensus Aggregator for \" + (td.ticker || \"token\") + \".\\n\"\n  + \"Price: $\" + td.price + \", MCap: $\" + td.market_cap + \", FDV: $\" + td.fdv + \"\\n\\n\"\n  + \"--- GPT ---\\n\" + s3[0] + \"\\n\"\n  + \"--- Gemini ---\\n\" + s3[1] + \"\\n\"\n  + \"--- Claude ---\\n\" + s3[2] + \"\\n\"\n  + \"--- Grok ---\\n\" + s3[3] + \"\\n\\n\"\n  + \"Aggregate: median scores, majority vote categories, synthesize thesis/catalysts/risks.\\n\"\n  + \"Consensus spread: <=10 HIGH, <=25 MIXED, <=40 LOW, >40 CONFLICTED.\\n\"\n  + \"Output key: value format. Include gpt_score, gemini_score, claude_score, grok_score.\";\nreturn [{ json: { requestBody: { model: \"anthropic/claude-opus-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 4000 } } }];"}},{"id":"s4a","name":"Stage4 Aggregation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4250,300],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"fmr1","name":"Format Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[4500,300],"parameters":{"jsCode":"// Format result for Nash Satoshi webhook callback\nconst run_id = $(\"Parse Webhook\").item.json.run_id || \"\";\nconst resp = $input.all()[0].json;\nlet result = \"\";\ntry {\n  if (resp.content && Array.isArray(resp.content)) { result = resp.content[0].text || \"\"; }\n  else if (resp.choices) { result = resp.choices[0].message.content || \"\"; }\n  else { result = JSON.stringify(resp); }\n} catch(e) { result = JSON.stringify(resp); }\nreturn [{ json: { webhookBody: { run_id: run_id, state: \"DONE\", outputs: { analysis_result: result } } } }];"}},{"id":"snd1","name":"Send Result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4750,300],"parameters":{"method":"POST","url":"https://nashsatoshi.com/api/webhook/gumloop","authentication":"none","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.webhookBody }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"et1","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,1000],"parameters":{}},{"id":"ef1","name":"Error Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,1000],"parameters":{"jsCode":"// Build failure webhook body\nlet run_id = \"\";\ntry { run_id = $(\"Parse Webhook\").item.json.run_id || \"\"; } catch(e) { run_id = \"unknown\"; }\nreturn [{ json: { webhookBody: { run_id: run_id, state: \"FAILED\", outputs: {} } } }];"}},{"id":"sf1","name":"Send Failure","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,1000],"parameters":{"method":"POST","url":"https://nashsatoshi.com/api/webhook/gumloop","authentication":"none","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.webhookBody }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000}],"connections":{"WebhookTrigger":{"main":[[{"node":"Parse Webhook","type":"main","index":0}]]},"Parse Webhook":{"main":[[{"node":"Build Scrape URLs","type":"main","index":0},{"node":"Brave Team","type":"main","index":0},{"node":"Brave Fake","type":"main","index":0},{"node":"Brave Catalysts","type":"main","index":0},{"node":"Build X Queries","type":"main","index":0}]]},"Build Scrape URLs":{"main":[[{"node":"Firecrawl Scrape","type":"main","index":0}]]},"Firecrawl Scrape":{"main":[[{"node":"Attach Label","type":"main","index":0}]]},"Attach Label":{"main":[[{"node":"Wait Fund Sources","type":"main","index":0}]]},"Brave Team":{"main":[[{"node":"Wait Fund Sources","type":"main","index":1}]]},"Brave Fake":{"main":[[{"node":"Wait Fund Sources","type":"main","index":2}]]},"Brave Catalysts":{"main":[[{"node":"Wait Fund Sources","type":"main","index":3}]]},"Wait Fund Sources":{"main":[[{"node":"Merge Fundamentals","type":"main","index":0}]]},"Merge Fundamentals":{"main":[[{"node":"Fundamentals Synthesis","type":"main","index":0}]]},"Fundamentals Synthesis":{"main":[[{"node":"Merge Research","type":"main","index":0}]]},"Build X Queries":{"main":[[{"node":"X Search","type":"main","index":0}]]},"X Search":{"main":[[{"node":"Merge Social","type":"main","index":0}]]},"Merge Social":{"main":[[{"node":"Social Synthesis","type":"main","index":0}]]},"Social Synthesis":{"main":[[{"node":"Merge Research","type":"main","index":1}]]},"Merge Research":{"main":[[{"node":"Combine Research","type":"main","index":0}]]},"Combine Research":{"main":[[{"node":"Build Stage2 Bodies","type":"main","index":0}]]},"Build Stage2 Bodies":{"main":[[{"node":"GPT Stage2","type":"main","index":0},{"node":"Gemini Stage2","type":"main","index":0},{"node":"Claude Stage2","type":"main","index":0},{"node":"Grok Stage2","type":"main","index":0}]]},"GPT Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":0}]]},"Gemini Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":1}]]},"Claude Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":2}]]},"Grok Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":3}]]},"Merge Stage2":{"main":[[{"node":"Build Stage3 Bodies","type":"main","index":0}]]},"Build Stage3 Bodies":{"main":[[{"node":"GPT Stage3","type":"main","index":0},{"node":"Gemini Stage3","type":"main","index":0},{"node":"Claude Stage3","type":"main","index":0},{"node":"Grok Stage3","type":"main","index":0}]]},"GPT Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":0}]]},"Gemini Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":1}]]},"Claude Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":2}]]},"Grok Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":3}]]},"Merge Stage3":{"main":[[{"node":"Build Stage4 Body","type":"main","index":0}]]},"Build Stage4 Body":{"main":[[{"node":"Stage4 Aggregation","type":"main","index":0}]]},"Stage4 Aggregation":{"main":[[{"node":"Format Result","type":"main","index":0}]]},"Format Result":{"main":[[{"node":"Send Result","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Error Format","type":"main","index":0}]]},"Error Format":{"main":[[{"node":"Send Failure","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d519d523-e7e7-4a46-a545-21cbd01cf697","activeVersionId":"d519d523-e7e7-4a46-a545-21cbd01cf697","versionCounter":27,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T14:17:18.081Z","createdAt":"2026-03-20T14:17:18.081Z","role":"workflow:owner","workflowId":"lysF7MsDkqtvget8","projectId":"tBICjiBXRXwDo4bR","project":{"updatedAt":"2026-02-23T01:25:41.852Z","createdAt":"2026-02-23T01:18:14.818Z","id":"tBICjiBXRXwDo4bR","name":"JT Somwaru <jsomwarux@yahoo.com>","type":"personal","icon":null,"description":null,"creatorId":"3dfc39da-972c-4655-9f9e-e62d015405d9"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T16:09:02.070Z","createdAt":"2026-03-20T16:09:02.070Z","versionId":"d519d523-e7e7-4a46-a545-21cbd01cf697","workflowId":"lysF7MsDkqtvget8","nodes":[{"id":"wh1","name":"WebhookTrigger","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,300],"parameters":{"httpMethod":"POST","path":"nash-satoshi-analysis","responseMode":"onReceived","options":{"responseCode":{"values":{"responseCode":"customCode","customCode":202}},"responseData":"{\"status\":\"accepted\",\"message\":\"Analysis queued\"}"}}},{"id":"pw1","name":"Parse Webhook","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,300],"parameters":{"jsCode":"// Extract and validate webhook input\nconst items = $input.all();\nconst body = items[0].json.body || items[0].json;\nconst contract_address = (body.contract_address || \"\").trim();\nif (!contract_address) { throw new Error(\"Missing required field: contract_address\"); }\nreturn [{ json: {\n  ticker: (body.ticker || \"\").trim(),\n  name: (body.name || \"\").trim(),\n  chain: (body.chain || \"ethereum\").toLowerCase().trim(),\n  contract_address: contract_address,\n  price: body.price || 0,\n  market_cap: body.market_cap || 0,\n  fdv: body.fdv || 0,\n  volume_24h: body.volume_24h || 0,\n  run_id: String(body.run_id || \"\").trim(),\n  homepage_url: (body.homepage_url || \"\").trim(),\n  analysis_date: new Date().toISOString()\n} }];"}},{"id":"bsu1","name":"Build Scrape URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,200],"parameters":{"jsCode":"// Build 4 scrape URLs for Firecrawl\nconst d = $(\"Parse Webhook\").item.json;\nconst ticker = d.ticker;\nconst contract = d.contract_address;\nconst chain = (d.chain || \"\").toLowerCase();\nconst name = (d.name || \"\").toLowerCase().replace(/[^a-z0-9]/g, \"\");\nconst explorerUrl = (chain === \"base\" || chain === \"ethereum\" || chain === \"eth\")\n  ? \"https://etherscan.io/token/\" + contract\n  : \"https://solscan.io/token/\" + contract;\nconst homepage = d.homepage_url && d.homepage_url.length > 5\n  ? d.homepage_url\n  : \"https://\" + name + \".io\";\nreturn [\n  { json: { url: \"https://www.coingecko.com/en/coins/\" + ticker.toLowerCase(), label: \"coingecko\" } },\n  { json: { url: explorerUrl, label: \"explorer\" } },\n  { json: { url: \"https://dexscreener.com/search?q=\" + contract, label: \"dexscreener\" } },\n  { json: { url: homepage, label: \"homepage\" } }\n];"}},{"id":"fcs1","name":"Firecrawl Scrape","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,200],"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-0d0961fa920a466a869fdd4068b9fe7e"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ url: $json.url, formats: [\"markdown\"] }) }}","options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"al1","name":"Attach Label","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,200],"parameters":{"jsCode":"// Pair Firecrawl results back with their labels by index\nconst scraped = $input.all();\nconst urlItems = $(\"Build Scrape URLs\").all();\nreturn scraped.map((item, i) => ({\n  json: {\n    label: urlItems[i] ? urlItems[i].json.label : \"unknown\",\n    markdown: item.json.data ? item.json.data.markdown : (item.json.markdown || \"\")\n  }\n}));"}},{"id":"bt1","name":"Brave Team","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,-200],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" \" + $(\"Parse Webhook\").item.json.name + \" team founder developer\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"bfk1","name":"Brave Fake","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,-400],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" \" + $(\"Parse Webhook\").item.json.name + \" fake token scam imposter contract\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"bct1","name":"Brave Catalysts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,0],"parameters":{"method":"GET","url":"https://api.search.brave.com/res/v1/web/search","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Subscription-Token","value":"={{ $env.BRAVE_API_KEY }}"}]},"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"q","value":"={{ $(\"Parse Webhook\").item.json.ticker + \" roadmap milestones catalysts 2026\" }}"},{"name":"count","value":"5"}]},"options":{"timeout":15000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"id":"wfs1","name":"Wait Fund Sources","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1250,0],"parameters":{"mode":"append","numberInputs":4}},{"id":"mf1","name":"Merge Fundamentals","type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,0],"parameters":{"jsCode":"// Combine 4 Firecrawl + 3 Brave results and build Anthropic synthesis request\nconst allItems = $input.all();\nconst d = $(\"Parse Webhook\").first().json;\nlet ctx = \"\";\n// Items arrive: 4 firecrawl (with label field), then 3 brave (with web field)\nfor (const item of allItems) {\n  if (item.json.label) {\n    const label = item.json.label.toUpperCase();\n    const md = (item.json.markdown || \"\").substring(0, 2000);\n    ctx += \"\\n=== \" + label + \" ===\\n\" + md + \"\\n\";\n  } else if (item.json.web) {\n    const results = (item.json.web.results || []).slice(0, 5);\n    const section = results.map(r => r.title + \": \" + r.description).join(\"\\n\");\n    ctx += \"\\n=== BRAVE SEARCH ===\\n\" + section + \"\\n\";\n  }\n}\nconst prompt = \"You are analyzing a crypto token for investment scoring. Use ONLY the research data provided. Do not hallucinate.\\n\\n\"\n  + \"TOKEN: \" + d.ticker + \" / \" + d.name + \"\\n\"\n  + \"CHAIN: \" + d.chain + \"\\n\"\n  + \"CONTRACT: \" + d.contract_address + \"\\n\"\n  + \"PRICE: \" + d.price + \"\\n\"\n  + \"MARKET CAP: \" + d.market_cap + \"\\n\"\n  + \"FDV: \" + d.fdv + \"\\n\\n\"\n  + \"RESEARCH DATA:\\n\" + ctx + \"\\n\\n\"\n  + \"Produce structured analysis:\\n\"\n  + \"- Narrative Positioning & Market Thesis\\n\"\n  + \"- Project Fundamentals (product, tech stack, stage)\\n\"\n  + \"- Team & Backers (names, credibility)\\n\"\n  + \"- Value Capture (token utility, fees, revenue model)\\n\"\n  + \"- Traction & Usage (holders, volume, TVL)\\n\"\n  + \"- Tokenomics & Unlocks (supply, vesting, whales)\\n\"\n  + \"- Roadmap & Catalysts (upcoming milestones)\\n\"\n  + \"- Competitive Analysis (comparable tokens)\\n\"\n  + \"- WARNING: Fake Token Alert (flag any imposter contracts found)\\n\"\n  + \"- Key Links\\n\"\n  + \"Include Confidence (High/Medium/Low) per section.\";\nreturn [{ json: { requestBody: { model: \"anthropic/claude-sonnet-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 3000 } } }];"}},{"id":"fs1","name":"Fundamentals Synthesis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1750,0],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"bxq1","name":"Build X Queries","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,700],"parameters":{"jsCode":"// Build 5 X search queries from token data\nconst d = $(\"Parse Webhook\").item.json;\nconst ticker = d.ticker.replace(/[^a-zA-Z0-9]/g, \"\");\nconst name = d.name.replace(/[^a-zA-Z0-9 ]/g, \"\").trim();\nreturn [\n  { json: { query: ticker + \" crypto\", label: \"general\" } },\n  { json: { query: \"$\" + ticker, label: \"dollar\" } },\n  { json: { query: name + \" token\", label: \"project\" } },\n  { json: { query: ticker + \" bullish bearish aping sold\", label: \"sentiment\" } },\n  { json: { query: ticker + \" \" + name + \" fake scam imposter\", label: \"fake\" } }\n];"}},{"id":"xs1","name":"X Search","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[750,700],"parameters":{"command":"=cd /Users/jtsomwaru/.openclaw/workspace/skills/x-research && source /Users/jtsomwaru/.config/env/global.env && bun run x-search.ts search \"{{ $json.query }}\" --quick --limit 10 2>&1"},"onError":"continueRegularOutput"},{"id":"ms1","name":"Merge Social","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,700],"parameters":{"jsCode":"// Combine 5 X search results with engagement sorting and build synthesis request\nconst items = $input.all();\nconst queryItems = $(\"Build X Queries\").all();\nconst d = $(\"Parse Webhook\").first().json;\nconst allTweets = [];\nconst sections = {};\nfor (let i = 0; i < items.length; i++) {\n  const stdout = items[i].json.stdout || items[i].json.output || \"\";\n  const label = queryItems[i] ? queryItems[i].json.label : \"unknown\";\n  let tweets = [];\n  try {\n    tweets = JSON.parse(stdout);\n  } catch(e) {\n    try {\n      const match = stdout.match(/\\[[\\s\\S]*\\]/);\n      if (match) { tweets = JSON.parse(match[0]); }\n    } catch(e2) {}\n  }\n  if (!Array.isArray(tweets)) tweets = [];\n  sections[label] = tweets;\n  tweets.forEach(t => allTweets.push(Object.assign({}, t, { _label: label })));\n}\n// Sort all tweets by engagement descending\nallTweets.sort((a, b) => {\n  const mA = a.public_metrics || {};\n  const mB = b.public_metrics || {};\n  const engA = (mA.like_count||0) + (mA.retweet_count||0) + (mA.reply_count||0);\n  const engB = (mB.like_count||0) + (mB.retweet_count||0) + (mB.reply_count||0);\n  return engB - engA;\n});\nlet ctx = \"TOP TWEETS BY ENGAGEMENT (KOL signal sorted high to low):\\n\\n\";\nallTweets.slice(0, 20).forEach(t => {\n  const m = t.public_metrics || {};\n  const author = t.author_username || (t.author && t.author.username) || \"unknown\";\n  ctx += \"@\" + author + \" | Likes:\" + (m.like_count||0) + \" RT:\" + (m.retweet_count||0) + \" Replies:\" + (m.reply_count||0) + \"\\n\";\n  ctx += \"\\\"\" + (t.text||\"\").substring(0, 280) + \"\\\"\\n\\n\";\n});\nconst labels = [\"general\",\"dollar\",\"project\",\"sentiment\",\"fake\"];\nfor (const lbl of labels) {\n  const tweets = sections[lbl] || [];\n  ctx += \"\\n--- \" + lbl.toUpperCase() + \" (\" + tweets.length + \" tweets) ---\\n\";\n  tweets.forEach(t => {\n    const author = t.author_username || (t.author && t.author.username) || \"unknown\";\n    ctx += \"@\" + author + \": \" + (t.text||\"\").substring(0, 200) + \"\\n\";\n  });\n}\nconst prompt = \"Analyze social signals for this crypto token. Use ONLY the tweet data provided. Identify KOLs from engagement metrics (high likes/retweets = high reach), NOT from keywords.\\n\\n\"\n  + \"TOKEN: \" + d.ticker + \" / \" + d.name + \"\\n\\n\"\n  + \"TWEET DATA:\\n\" + ctx + \"\\n\\n\"\n  + \"Produce:\\n\"\n  + \"- Discussion Quality (organic vs shills/bots ratio, signal-to-noise %)\\n\"\n  + \"- Top Accounts by Reach (ranked by engagement as influence proxy, include counts)\\n\"\n  + \"- Social Volume (total tweets, dominant direction)\\n\"\n  + \"- Sentiment Breakdown (bullish/bearish/neutral % with evidence)\\n\"\n  + \"- Community Activity & Tone\\n\"\n  + \"- Key Opinion Leaders (high-engagement accounts, stance, specific claims)\\n\"\n  + \"- Narrative & Ecosystem Fit\\n\"\n  + \"- WARNING: Fake Token Alerts (flag tweets mentioning different contracts or scam warnings)\\n\"\n  + \"- Overall Social Health\\n\"\n  + \"Include Confidence (High/Medium/Low) per section.\";\nreturn [{ json: { requestBody: { model: \"anthropic/claude-sonnet-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 3000 } } }];"}},{"id":"ss1","name":"Social Synthesis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"mr1","name":"Merge Research","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2000,300],"parameters":{"mode":"append","numberInputs":2}},{"id":"cr1","name":"Combine Research","type":"n8n-nodes-base.code","typeVersion":2,"position":[2250,300],"parameters":{"jsCode":"// Combine fundamentals + social synthesis outputs\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst tokenData = $(\"Parse Webhook\").first().json;\nlet fund = \"Unavailable\", social = \"Unavailable\";\ntry { fund = extractLLM(items[0]); } catch(e) {}\ntry { social = extractLLM(items[1]); } catch(e) {}\nreturn [{ json: Object.assign({}, tokenData, { fundamentals_research: fund, social_research: social }) }];"}},{"id":"bs2","name":"Build Stage2 Bodies","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,300],"parameters":{"jsCode":"// Stage 2: 4-LLM analysis prompt (Apex Game Theorist)\nconst d = $input.all()[0].json;\nconst prompt = \"You are the Apex Crypto Game Theorist...\\n\\n\"\n  + \"TOKEN: \" + d.ticker + \" (\" + d.name + \")\\n\"\n  + \"Chain: \" + d.chain + \", Price: $\" + d.price + \", MCap: $\" + d.market_cap + \", FDV: $\" + d.fdv + \"\\n\"\n  + \"Volume 24h: $\" + d.volume_24h + \"\\n\\n\"\n  + \"FUNDAMENTALS:\\n\" + d.fundamentals_research + \"\\n\\n\"\n  + \"SOCIAL:\\n\" + d.social_research + \"\\n\\n\"\n  + \"Output ALL fields in key: value format (one per line, no markdown).\";\nconst mk = (m) => ({ model: m, messages: [{ role: \"user\", content: prompt }], max_tokens: 4000 });\nreturn [{ json: {\n  gptBody: mk(\"openai/gpt-5\"),\n  geminiBody: mk(\"google/gemini-3.1-pro-preview\"),\n  claudeBody: mk(\"anthropic/claude-sonnet-4-6\"),\n  grokBody: mk(\"x-ai/grok-4\")\n} }];"}},{"id":"gs2","name":"GPT Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,-50],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.gptBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ges2","name":"Gemini Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,200],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.geminiBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"cs2","name":"Claude Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,450],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.claudeBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"grs2","name":"Grok Stage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2750,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage2 Bodies').item.json.grokBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ms2","name":"Merge Stage2","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3000,300],"parameters":{"mode":"append","numberInputs":4}},{"id":"bs3","name":"Build Stage3 Bodies","type":"n8n-nodes-base.code","typeVersion":2,"position":[3250,300],"parameters":{"jsCode":"// Stage 3: Deliberation - each model reviews own + 3 others\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst names = [\"GPT\", \"Gemini\", \"Claude\", \"Grok\"];\nconst ids = [\"openai/gpt-5\", \"google/gemini-3.1-pro-preview\", \"anthropic/claude-sonnet-4-6\", \"x-ai/grok-4\"];\nconst s2 = [];\nfor (let i = 0; i < 4; i++) {\n  try { s2.push(extractLLM(items[i])); } catch(e) { s2.push(\"Unavailable\"); }\n}\nconst ticker = $(\"Parse Webhook\").first().json.ticker || \"\";\nconst bp = (mi) => {\n  const others = [0,1,2,3].filter(i => i !== mi).map(i => \"--- \" + names[i] + \" ---\\n\" + s2[i]).join(\"\\n\");\n  return \"Review your \" + ticker + \" analysis vs 3 others.\\nYOURS:\\n\" + s2[mi] + \"\\nOTHERS:\\n\" + others + \"\\nRevise if evidence warrants. Output key: value format.\";\n};\nreturn [{ json: {\n  gptBody: { model: ids[0], messages: [{ role: \"user\", content: bp(0) }], max_tokens: 4000 },\n  geminiBody: { model: ids[1], messages: [{ role: \"user\", content: bp(1) }], max_tokens: 4000 },\n  claudeBody: { model: ids[2], messages: [{ role: \"user\", content: bp(2) }], max_tokens: 4000 },\n  grokBody: { model: ids[3], messages: [{ role: \"user\", content: bp(3) }], max_tokens: 4000 }\n} }];"}},{"id":"gs3","name":"GPT Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,-50],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.gptBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ges3","name":"Gemini Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,200],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.geminiBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"cs3","name":"Claude Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,450],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.claudeBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"grs3","name":"Grok Stage3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,700],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Stage3 Bodies').item.json.grokBody }}","options":{"timeout":120000}},"credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"ms3","name":"Merge Stage3","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3750,300],"parameters":{"mode":"append","numberInputs":4}},{"id":"bs4","name":"Build Stage4 Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[4000,300],"parameters":{"jsCode":"// Stage 4: Consensus aggregation via Opus\nfunction extractLLM(item) {\n  try { if (item.json.content && Array.isArray(item.json.content)) return item.json.content[0].text; } catch(e) {}\n  try { return item.json.choices[0].message.content; } catch(e) {}\n  return \"Unavailable\";\n}\nconst items = $input.all();\nconst s3 = [];\nfor (let i = 0; i < 4; i++) {\n  try { s3.push(extractLLM(items[i])); } catch(e) { s3.push(\"Unavailable\"); }\n}\nconst td = $(\"Parse Webhook\").first().json;\nconst prompt = \"Final Consensus Aggregator for \" + (td.ticker || \"token\") + \".\\n\"\n  + \"Price: $\" + td.price + \", MCap: $\" + td.market_cap + \", FDV: $\" + td.fdv + \"\\n\\n\"\n  + \"--- GPT ---\\n\" + s3[0] + \"\\n\"\n  + \"--- Gemini ---\\n\" + s3[1] + \"\\n\"\n  + \"--- Claude ---\\n\" + s3[2] + \"\\n\"\n  + \"--- Grok ---\\n\" + s3[3] + \"\\n\\n\"\n  + \"Aggregate: median scores, majority vote categories, synthesize thesis/catalysts/risks.\\n\"\n  + \"Consensus spread: <=10 HIGH, <=25 MIXED, <=40 LOW, >40 CONFLICTED.\\n\"\n  + \"Output key: value format. Include gpt_score, gemini_score, claude_score, grok_score.\";\nreturn [{ json: { requestBody: { model: \"anthropic/claude-opus-4-6\", messages: [{ role: \"user\", content: prompt }], max_tokens: 4000 } } }];"}},{"id":"s4a","name":"Stage4 Aggregation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4250,300],"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","authentication":"predefinedCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{"timeout":120000},"nodeCredentialType":"httpHeaderAuth"},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"eKuUbdByJmAQfvxu","name":"OpenRouter Header Auth"}}},{"id":"fmr1","name":"Format Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[4500,300],"parameters":{"jsCode":"// Format result for Nash Satoshi webhook callback\nconst run_id = $(\"Parse Webhook\").item.json.run_id || \"\";\nconst resp = $input.all()[0].json;\nlet result = \"\";\ntry {\n  if (resp.content && Array.isArray(resp.content)) { result = resp.content[0].text || \"\"; }\n  else if (resp.choices) { result = resp.choices[0].message.content || \"\"; }\n  else { result = JSON.stringify(resp); }\n} catch(e) { result = JSON.stringify(resp); }\nreturn [{ json: { webhookBody: { run_id: run_id, state: \"DONE\", outputs: { analysis_result: result } } } }];"}},{"id":"snd1","name":"Send Result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4750,300],"parameters":{"method":"POST","url":"https://nashsatoshi.com/api/webhook/gumloop","authentication":"none","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.webhookBody }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"id":"et1","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,1000],"parameters":{}},{"id":"ef1","name":"Error Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,1000],"parameters":{"jsCode":"// Build failure webhook body\nlet run_id = \"\";\ntry { run_id = $(\"Parse Webhook\").item.json.run_id || \"\"; } catch(e) { run_id = \"unknown\"; }\nreturn [{ json: { webhookBody: { run_id: run_id, state: \"FAILED\", outputs: {} } } }];"}},{"id":"sf1","name":"Send Failure","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,1000],"parameters":{"method":"POST","url":"https://nashsatoshi.com/api/webhook/gumloop","authentication":"none","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.webhookBody }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":30000}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000}],"connections":{"WebhookTrigger":{"main":[[{"node":"Parse Webhook","type":"main","index":0}]]},"Parse Webhook":{"main":[[{"node":"Build Scrape URLs","type":"main","index":0},{"node":"Brave Team","type":"main","index":0},{"node":"Brave Fake","type":"main","index":0},{"node":"Brave Catalysts","type":"main","index":0},{"node":"Build X Queries","type":"main","index":0}]]},"Build Scrape URLs":{"main":[[{"node":"Firecrawl Scrape","type":"main","index":0}]]},"Firecrawl Scrape":{"main":[[{"node":"Attach Label","type":"main","index":0}]]},"Attach Label":{"main":[[{"node":"Wait Fund Sources","type":"main","index":0}]]},"Brave Team":{"main":[[{"node":"Wait Fund Sources","type":"main","index":1}]]},"Brave Fake":{"main":[[{"node":"Wait Fund Sources","type":"main","index":2}]]},"Brave Catalysts":{"main":[[{"node":"Wait Fund Sources","type":"main","index":3}]]},"Wait Fund Sources":{"main":[[{"node":"Merge Fundamentals","type":"main","index":0}]]},"Merge Fundamentals":{"main":[[{"node":"Fundamentals Synthesis","type":"main","index":0}]]},"Fundamentals Synthesis":{"main":[[{"node":"Merge Research","type":"main","index":0}]]},"Build X Queries":{"main":[[{"node":"X Search","type":"main","index":0}]]},"X Search":{"main":[[{"node":"Merge Social","type":"main","index":0}]]},"Merge Social":{"main":[[{"node":"Social Synthesis","type":"main","index":0}]]},"Social Synthesis":{"main":[[{"node":"Merge Research","type":"main","index":1}]]},"Merge Research":{"main":[[{"node":"Combine Research","type":"main","index":0}]]},"Combine Research":{"main":[[{"node":"Build Stage2 Bodies","type":"main","index":0}]]},"Build Stage2 Bodies":{"main":[[{"node":"GPT Stage2","type":"main","index":0},{"node":"Gemini Stage2","type":"main","index":0},{"node":"Claude Stage2","type":"main","index":0},{"node":"Grok Stage2","type":"main","index":0}]]},"GPT Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":0}]]},"Gemini Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":1}]]},"Claude Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":2}]]},"Grok Stage2":{"main":[[{"node":"Merge Stage2","type":"main","index":3}]]},"Merge Stage2":{"main":[[{"node":"Build Stage3 Bodies","type":"main","index":0}]]},"Build Stage3 Bodies":{"main":[[{"node":"GPT Stage3","type":"main","index":0},{"node":"Gemini Stage3","type":"main","index":0},{"node":"Claude Stage3","type":"main","index":0},{"node":"Grok Stage3","type":"main","index":0}]]},"GPT Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":0}]]},"Gemini Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":1}]]},"Claude Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":2}]]},"Grok Stage3":{"main":[[{"node":"Merge Stage3","type":"main","index":3}]]},"Merge Stage3":{"main":[[{"node":"Build Stage4 Body","type":"main","index":0}]]},"Build Stage4 Body":{"main":[[{"node":"Stage4 Aggregation","type":"main","index":0}]]},"Stage4 Aggregation":{"main":[[{"node":"Format Result","type":"main","index":0}]]},"Format Result":{"main":[[{"node":"Send Result","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Error Format","type":"main","index":0}]]},"Error Format":{"main":[[{"node":"Send Failure","type":"main","index":0}]]}},"authors":"JT Somwaru","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-20T16:09:03.197Z","id":195,"workflowId":"lysF7MsDkqtvget8","versionId":"d519d523-e7e7-4a46-a545-21cbd01cf697","event":"activated","userId":"3dfc39da-972c-4655-9f9e-e62d015405d9"}]}}